.catchletter-body {
  background: radial-gradient(#000000 10%, #fff 20%);
  background-size: 8px 8px;
  height: auto;
  font-family: 'Noto Sans TC', sans-serif;
  @include goBackBtn();
  header {
    display: none;
    animation-delay: .5s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  #catchLetterMain {
    animation-delay: .5s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  // 撈信階段
  #threeWorld {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #85CAE0, #9EA5E2, #B0D8FC, #C7B2E7);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    // cursor: none;

    .chooseBtn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;

      .choosw {
        background-color: $main-red;
        margin: 0 2%;
        font-size: 2rem;
        width: 25vw;
        height: 15vw;
        border-radius: 10px;
        border: 2px solid #212121;
        cursor: pointer;
        filter: opacity(0.8);
        color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }

    #planeLetter {
      cursor: pointer;
      animation-delay: .5s;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      
    }
    #imgWrap_catch {
      width: 55vw;
      max-width: 495px;
      height: 80vw;
      max-height: 716px;
      position: relative;
      opacity: 1;
      animation-delay: .5s;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      margin: 0 auto;
      position: relative;
      // filter: drop-shadow(0px 0px 15px #bbb);
      z-index: 9;
      transform: rotate(-85deg);

      #imgfinalStep_catch {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        display:block;
        animation-delay: .3s;
        animation-duration: 0.5s;
        background-size: cover;
        filter: opacity(1);
        
        // &::after {
        //   content: '';
        //   width: 100%;
        //   height: 100%;
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   background: linear-gradient(70deg, #000, #fff 0%, #ddd);
        //   filter: contrast(0.5);
        //   opacity: .2;
        // }
      }
      #planeBody_catch {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(70deg, #000, #fff 0%, #ddd);
        z-index: 99;
        -webkit-clip-path: polygon(50% 0%, 100% 100%, 100% 100%, 100% 100%, 50% 100%);
        clip-path: polygon(50% 0%, 100% 100%, 100% 100%, 100% 100%, 50% 100%);
        filter: brightness(0.9);
        background-size: cover;
        overflow: hidden;
        display: block;
    
        // &::after {
        //   content: '';
        //   width: 100%;
        //   height: 100%;
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   background: linear-gradient(70deg, #000, #fff 0%, #ddd);
        //   filter: contrast(0.5);
        //   opacity: .2;
        // }
      }
      #planeWing_catch {
        height: 105%;
        width: 55%;
        background: #fff;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99;
        display: block;
        /* animation-name: foldAnimationStep2; */
        animation-delay: .5s;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        background-size: cover;
        filter: opacity(1);
    
        // &::after {
        //   content: '';
        //   width: 100%;
        //   height: 100%;
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   background: linear-gradient(70deg, #aaa, #fff 50%, #fff);
        //   /* background-color: #fff; */
        //   filter: contrast(.85);
        //   opacity: .4;
        // }
      }
      #imgLeftTriangle_catch{
        width: 27.8vw;
        max-width: 247.5px;
        height: 27.8vw;
        max-height: 247.5px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FFFFFF;
        /* border: 1px solid #fff; */
        -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
        clip-path: polygon(0 0, 0% 100%, 100% 0);
        z-index: 9;
        background-size: inherit;
      }
      #imgLeftTriangle2_catch{
        width: 50%;
        height: 85%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 1;
        
        background-size: inherit;
        animation-delay: .5s;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        
      }
      #imgRightTriangle_catch{
        width: 27.8vw;
        max-width: 247.5px;
        height: 27.8vw;
        max-height: 247.5px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #FFFFFF;
        /* border: 1px solid #fff; */
        -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
        clip-path: polygon(100% 0, 0 0, 100% 100%);
        z-index: 9;
        background-size: inherit;
      }
      #imgRightTriangle2_catch{
        width: 50%;
        height: 85%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #fff;
        z-index: 99;
        
        display: none;
        background-size: inherit;
        animation-delay: .5s;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        
      }
    }
    #nextStepArrow {
      display: inline-block;
      // width: 10vw;
      // height: 10vw;
      position: absolute;
      bottom: -6%;
      left: 50%;
      transform: translateX(-50%);
      // background-color: #fff;
      width: 0;
      border-style: solid;
      border-width: 2.5vw 2.5vw 0 2.5vw;
      border-color: #ffffff transparent transparent transparent;
      line-height: 0px;
      animation: arrowDown .5s infinite;
      display: none;
      cursor: pointer;

      @keyframes arrowDown {
        from {
          opacity: .3;
          bottom: -6%;
        }

        to {
          opacity: 1;
          bottom: -8%;
        }
      }
    }

    // cursor: url("http://140.115.236.71/demo-personal/DD104/web/T1901175/img/net.png"),auto;
    #missMsg {
      display: inline-block;
      width: 5vw;
      height: 3vw;
      position: absolute;
      // background-color: red;
      top: -25%;
      left: 35%;
      color: #fff;
    }

    .fadeAway {
      animation: missMsg 3s ease;

      @keyframes missMsg {
        from {
          top: -25%;
          opacity: 1;
        }

        to {
          top: -40%;
          opacity: 0;
        }
      }
    }


    #mouseNet {
      position: absolute;
      outline: none;
      -webkit-user-select: none;
      /* for Chrome */
      user-select: none;
    }

    .active {
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%, -50%);

    }

    .open-motion {
      width: 20vw;
      max-width: 495px;
      height: 25vw;
      max-height: 716px;
      margin: 0 40% 0 0;
      // background-color: #fff;
      // background-image: url(../img/catch-letter/letter-fold-1.png);
      background-position: 0% 0%;
      background-size: cover;
      position: relative;

      //   animation-name: flimPaper;
      // animation-duration: 1.3s;
      // animation-timing-function: steps(8);
      // animation-iteration-count: infinite;
    }

    // @keyframes flimPaper {
    //   from {
    //     background-position: 0% 0%;
    //   }

    //   to {
    //     background-position: 0% 100%;
    //   }

    // }

    @keyframes gradientBG {
      0% {
        background-position: 0% 50%;
      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0% 50%;
      }
    }
  }

  main {
    margin-top: 10vw;
  }

  h3 {
    text-align-last: left;
  }
  #reportStamp{
    background-image: url(../img/share/report-stamp-msg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 15vw;
    height: 10vw;
    top: -100%;
    left: -400%;
    transform: translate(-50%, -50%);
    animation-name: pulse;
    animation-delay: .2s;
    animation-duration: 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  #planeContainer {
    width: 100%;
    height: 100vh;
  }
  .goto-shop-btn {
    // border: 1px solid blue;
    height: auto;
    width: 14.7vw;
    position: absolute;
    top: 53%;
    left: 78%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    z-index: 9999;
    @include paper_cloud();

    .paper-cloud {
        top: -72%;
        left: 82%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }

    img {
        width: 17%;
    }

    .shop-signboard {
        width: 78%;
        height: 17vw;
        border-radius: $main-borderRadius;
        position: absolute;
        top: 50%;
        left: 54.4%;
        transform: translate(-50%, -50%);
        z-index: 99;

        .shop-title {
            width: 80%;
            height: 80%;
            border-radius: $main-borderRadius;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
            .shop-text {
                font-size: 4vw;
                -webkit-writing-mode: horizontal-tb;
                writing-mode: horizontal-tb;
                line-height: 1.05;
                height: 100%;
                width: 50%;
                color: $main-dark-red;
                text-align-last: unset;
            }
        }
    }
   
  }
  .catch-step-1 {
    width: 90%;
    font-size: 0;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    
    .catchLet-msgBox{
      width: 50%;
      height: auto;
      display: flex;
      flex-direction: column;
      // justify-content: space-around;
      align-items: center;
      .catchLet-Btn{
        display: flex;
        width: 100%;
        height: 30%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        z-index: 9;
        .redBtn_light{
          background:$main-red;
        }
        .redBtn{
          background:$main-dark-red;
        }
        .yellowBtn_light{
          background:$main-yellow;
        }
        .yellowBtn{
          background:$main-dark-yellow;
        }
      }
      .likeBtn{
        cursor: pointer;
        width: 31.3%;
        height: 6.4vw;
        margin-top: 10%;
        // min-height: 108px;
        // min-height: 200px;
      }
    }
    
  }
  .reportBox{
    width: 50vw;
    height: auto;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    .exit{
      position: absolute;
      right: 25px;
      top: 40px;
      width: 30px;
      height: 30px;
      background: transparent;
      border: 0;
      margin: -15px 0 0 -15px;
      cursor: pointer;
      z-index: 999;
      outline: none;

      &:hover .mark{
        background-color: $main-red;
      }
      .mark{
        background-color: $main-black;
        position: absolute;
        height: 30px;
        width: 4px;
        display: block;
        top: 0;
      }
      .x{
        right: 12px; 
        transform:rotate(45deg);
      }
      .xx{
        left: 12px; 
        transform:rotate(-45deg);
      }
    }
    &::before{
      content: '';
      width: 90vw;
      height: 90vw;
      filter: blur(100px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 99;
    }
    .box-white{
      position: relative;
      top: 15px;
      left: -15px;
      width: 100%;
      height: 100%;
    }
    .discription{
      h3{
        width: 70%;
        margin: 5% auto 4%;
        display: flex;
        justify-content: center;
        margin: 5% auto 1.5rem;
      }
    }
    .reportBtn{
      cursor: pointer;
      font-size: 1.2rem;
      border-radius: 40px;
      padding: 3% 3%;
      display: block;
      margin: 2% auto 5%;
      border: 2px solid $main-black;
      background: transparent;
      &:focus{
        border: 2px solid $main-dark-red;
        background-color: $main-red;
        color: #fff;
        outline: none;
      }
    }
    .whyReport{
      width: 70%;
      height: auto;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      
      .btn{
        font-size: 1.2rem;
        border: 2px solid $main-black;
        border-radius: 25px;
        margin: 1rem;
        margin-top: unset;
        background:#fff;
        color: $main-black;
        outline: none;
        &:focus{
          background:$main-red;
          color: #fff;
          outline: none;
        }
        &:active{
          background:$main-red;
          color: #fff;
          outline: none;
        }
        &:hover{
          background:$main-red;
          color: #fff;
        }
        input{
          -webkit-appearance: none;
          appearance: none;
        }
        
      }
      
    }
  }
  .catch-step-msg{
    width: 90%;
    font-size: 0;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 9;
    margin: 0 auto;
    .comment-wrap{
      margin-top: 7vw;
      height: 28vw;
      width: 40%;
    }
    .dot-box-red{
      margin-top: 6%;
      .clip-left{
        top: 26%;
        left: -13%;
        transform: translate(-50%,-50%) rotate(-90deg);
      }
    }
    .leaveMsg{
      border: .2vw solid $main-black;
      background: $main-green;
      color: white;
      padding: 2%;
      width: 100%;
      height: 73%;
      outline: none;
      border-radius: $main-borderRadius;
      font-size: 1.5rem;
      // margin-bottom: 5%;
    }
    .invite-msg{
      color: $main-dark-blue;
      font-weight: 800;
      letter-spacing: 1rem;
      font-size: 1.5rem !important;
    }
  }
  .msgLike.circle.button.active::before {
    content: "";
    background-image: url(../img/cave/coin1.png);
    background-size: cover;
    position: absolute;
    width: 6vw;
    height: 6vw;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    animation: catchLetPopCoin 1s ease;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
  }
  .comment-wrap {
    margin: 0;
    height: 70%;
    width: 80%;
    max-height: 788px;

    .clip-left {
      top: -17%;
      right: 18%;
      height: auto;
      background-image: url(../img/share/clip.svg);

      &::before {
        content: '';
        display: block;
        width: 2.5%;
        height: 12.5vw;
        background: linear-gradient(#e5e5e500 20%, $main-black 60%, $main-black);
        position: absolute;
        top: 31%;
        left: 50%;
        transform: translate(-50%, -112%);
        z-index: 1;
      }
    }

    // .clip-right {
    //   top: -65%;
    //   right: 18%;
    // }

    .top-left-bg {
      width: 100%;
      height: 100%;
      position: relative;
      top: 10px;
      left: -15px;

      .headpg-name {
        width: 100%;
        height: 100%;
        text-align: left;
        padding: 0 2vw;
        display: flex;
        justify-content: space-between;
        // flex-wrap: wrap;
      }

      ;
    }

    .comment-outbox {
      width: 90%;
      height: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: $main-borderRadius;
      transform: translate(-50%, -50%);
      padding: 1vw;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
    }

    .comment {
      width: 100%;
      height: auto;
      border-radius: $main-borderRadius;
      padding: 2%;
      margin-bottom: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.5vw;
      filter: drop-shadow(1px 3px 5px rgba(0,0,0,.7));
      .comment-contant {
        width: 100%;
        height: 90%;
      }

      .user-name {
        margin: 0;
        width: 100%;
        margin-bottom: .5vw;
      }

      .user-text {
        width: 100%;
        margin: 0;
        font-size: 1.15vw;
        // padding: 0 0 0 1vw;
      }

      .comment-btn {
        width: 100%;
        height: 5vw;
        position: relative;
        display: flex;
        flex-direction: row;

        .like {
          right: 20%;
        }

        .report {
          right: 0;
        }

        .like .button {
          background: $main-yellow;
          box-shadow: 0 .5vw 0 0 $main-dark-yellow;
          background-image: url(../img/cave/coin.png);
          background-size: cover;
          background-position: center;
        }

        .report .button {
          background: $main-red;
          box-shadow: 0 .5vw 0 0 $main-dark-red;
          background-image: url(../img/cave/exclamation-button.png);
          background-size: cover;
          background-position: center;
        }
      }

      .circleBtn {
        background: $main-black;
        width: 3vw;
        height: 3vw;
        position: absolute;
        margin: 0 auto;
        display: block;
        bottom: 0;

        // transform: translateY(-50%);
        // box-shadow: 15px 15px 50px 5px #5f5f5f;
        .button {
          width: 80%;
          height: 80%;
          position: absolute;
          top: -7%;
          left: 50%;
          transform: translateX(-50%);
          border: none;
          transition: all .2s ease;
          outline: none;
        }
        
        .button:active {
          box-shadow: 0 1px 1px 1px $main-black;
          top: 10%;
          outline: none;
        }

        // .report.button:active {
        //   box-shadow: 0 1px 1px 1px #b33c3c;
        //   top: 10%;
        //   outline: none;
        // }
      }

      .circle {
        border-radius: 50%;
      }
    }
  }
  .catch-letter {
    width: 55.6vw;
    max-width: 495px;
    height: 80vw;
    max-height: 716px;
    margin: 0 auto;
    background-color: #fff;
    background-image: url(../img/share/postCard-vertical.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    z-index: 9;
    // font-size: 1.5vw;
    // display: none;
    @include paper_cloud();


    .letter-wrap {
      height: 100%;
      width: 100%;
      // background-color: pink;
      padding: 4.5%;
      position: relative;
      
      .paper-cloud {
        height: 13vw;
        top: 0%;
        left: 0%;
        transform: translate(-45%, -54%) scaleX(-1);
      }

      // display: flex;
      .letter-head {
        // border: 1px solid green;
        height: 35%;
        width: 100%;
        display: flex;
      }

      .stamp-box {
        height: 100%;
        width: 100%;
        // border: 1px solid red;
        // background-image: url(../img/catch-letter/post-mark-test.png);
        background-size: 95%;
        background-position: center;
        background-repeat: no-repeat;
      }

      .letter-tittle {
        height: 100%;
        width: 40%;
        // border: 1px solid blue;
        padding: 2.5% 0;
        display: flex;
        justify-content: center;
        align-items: center;


      }

      .letter-contant {
        height: 62%;
        width: 100%;
        padding: 2%;
        overflow-y: auto;
        margin-top: 3%;
        

        .text {
          color: rgba($main-black, .8);
        }

        .letter-upload-img {
          margin: 0 1rem;
          float: right;
          width: 50%;
          height: 9.5vw;
          // border: 1px solid slateblue;
          // background-image: url(../img/catch-letter/tenor.gif);
          background-size: 180%;
          background-position: 40% 50%;
          background-repeat: no-repeat;
        }

        #stampshot {
          //蓋障範圍預設
          display: none;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          overflow: hidden;
          // border: 1px solid green;

          #stampEffect {
            height: 20%;
            width: 35%;
            border-radius: 5px;
            position: absolute;
            // background-color: #ef8080;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            animation-name: pulse;
            animation-delay: .2s;
            animation-duration: 0.5s;
            opacity: 0;
            animation-fill-mode: forwards;
          }
        }
      }
      
    }
    .letter-wrap.active::before {
      content: "";
      background-image: url(../img/cave/coin1.png);
      background-size: cover;
      position: absolute;
      width: 10vw;
      height: 10vw;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      animation: catchLetPopCoin 1s ease;
      animation-iteration-count: 3;
      animation-fill-mode: forwards;
    }
    .letter-wrap.reportSeal::before {
      content: "";
      background-image: url(../img/share/report-stamp.png);
      // background: red;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      width: 30vw;
      height: 30vw;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      animation-name: pulse;
      animation-delay: .2s;
      animation-duration: 0.5s;
      opacity: 0;
      animation-fill-mode: forwards;
    }
  }

  .catch-step-2 {
    font-size: 0;
    margin-top: 7vw;
    margin-bottom: 10vw;
    // border: 1px solid blue;
    display: flex;
    align-items: center;
    z-index: 1;

    .bottom-bg {
      width: 71.25vw;
      height: 35vw;
      margin: 0 auto;
      z-index: 1;

      // animation: shad-anim 10s linear infinite;
      .clip-left {
        top: -7%;
        left: 6%;
        height: auto;
        background-image: url(../img/share/clip.svg);

        &:before {
          content: '';
          position: absolute;
          width: 2.5%;
          height: 40vw;
          background-color: $main-black;
          top: -19.5vw;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
        }
      }

      .top-right-bg {
        width: 71.25vw;
        height: 35vw;
        position: relative;
        top: 10px;
        right: -15px;
      }

      .top-right {
        height: 115%;
      }

      .num-four {
        width: 58vw;
        height: 5vw;
        margin: 0 auto;
        // border: 1px solid orange;
        background-image: url('../img/share/NEXT.svg');
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
        margin-top: 6%;

        h2 {
          font-size: 3vw;
          letter-spacing: 0.5vw;
          text-align: right;
          font-weight: 600;
        }

      }

      .select-stamp {
        // border: 1px solid #00f;
        height: 15vw;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 6.5%;

        .arrow-white {
          display: inline-block;
          width: 10vw;
          height: 6vw;
          background-image: url('../img/share/arrow-white.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          cursor: pointer;
        }

        .reverse {
          transform: scaleX(-1);
        }

        .stamp-type {
          width: 60%;
          height: 100%;
          // border: 1px solid red;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .type {
            width: 30%;
            height: 100%;
            position: relative;
            background-image: url(../img/write-letter/stamp-btn-blue.svg);
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            outline: none;
            border: none;
            background-color: unset;

            &:hover {
              height: 150%;
              background-image: url(../img/write-letter/stamp-btn-red.svg);
            }

            span {
              display: inline-block;
              width: 64%;
              height: 69%;
              // background-color: #fff;
              background-image: url(../img/catch-letter/user-stamp/user-stamp_3.png);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              position: absolute;
              top: 17%;
              left: 20%;
            }

            &:hover span {
              width: 70%;
              height: 75%;
              top: 14%;
              left: 18%;
            }
          }
        }
      }
    }
  }

  @include scroller();
  @include foldthePlane();
}

@include respond(note) {
  .catchletter-body {
    background: radial-gradient(#000000 10%, #fff 20%);
    background-size: 4px 4px;
    height: auto;
    
    #catchLetterMain {
      margin-top: 20%;
    }

    .catch-letter {
      width: 82.6vw;
      height: 120vw;
      max-width: unset;
      max-height: unset;
      margin: 0 auto;
    }
    #reportStamp{
      width: 50vw;
      height: 20vw;
      top: -200%;
      left: -350%;
    }
    #threeWorld {
      .chooseBtn {
       
        .choosw {
          width: 45vw;
          height: 45vw;
          color: #fff;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
      #planeLetter {}

      #nextStepArrow {
        border-width: 5.5vw 5.5vw 0 5.5vw;
      }

      #missMsg {}

      #mouseNet {}

      .active {
        top: 45%;
      }

      .open-motion {}
    }

    .catch-step-1 {
      flex-direction: column;
      align-items: center;
      
      .catchLet-msgBox{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        // justify-content: space-around;
        align-items: center;
        .likeBtn{
          width: 34vw;
          height: 23vw;
          margin-top: 10%;
          // min-height: 108px;
          // min-height: 200px;
          .bottom {
            .side-way__text {
                transform: rotateX(30deg) rotateZ(-180deg) rotateY(180deg);
                font: bold 3rem "Noto Sans TC";
                color: white;
                line-height: 3rem;
                text-align: center;
            }
        }
        }
      }
      .comment-wrap {
        position: unset;
        top: unset;
        right: unset;
        width: 82.6vw;
        height: 70vw;
        margin-top: 15%;
        // margin-right: 10%;

        .clip-left {
          display: none;

          &::before {
            display: none;
          }
        }

        .top-left-bg {
          top: 3vw;
          left: 3vw;

          .headpg-name {}

          ;
        }

        .comment-outbox {}

        .comment {
          padding: 5%;
          margin: 0 auto;
          margin-top: 8%;

          .comment-contant {}

          .user-name {
            font-size: 1.5rem;
            margin-bottom: 5%;
          }

          .user-text {
            font-size: 1.2rem;
          }

          .comment-btn {
            height: 10vw;

            .like {}

            .report {}

            .like .button {}

            .report .button {}
          }

          .circleBtn {
            width: 8vw;
            height: 8vw;

            .button {}

            .button:active {}

          }

          .circle {}
        }
      }
    }
    .reportBox{
      width: 90vw;
      height: auto;
      position: absolute;
      top: 16%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 99;
      .exit{
        position: absolute;
        right: 25px;
        top: 40px;
        width: 30px;
        height: 30px;
        background: transparent;
        border: 0;
        margin: -15px 0 0 -15px;
        cursor: pointer;
        z-index: 999;
        outline: none;

        &:hover .mark{
          background-color: $main-red;
        }
        .mark{
          background-color: $main-black;
          position: absolute;
          height: 30px;
          width: 4px;
          display: block;
          top: 0;
        }
        .x{
          right: 12px; 
          transform:rotate(45deg);
        }
        .xx{
          left: 12px; 
          transform:rotate(-45deg);
        }
      }
      
      .box-white{
        position: relative;
        top: 15px;
        left: -15px;
        width: 100%;
        height: 100%;
      }
      .discription{
        h3{
          width: 80%;
          font-size: 1.5rem;
        }
      }
      .reportBtn{
        cursor: pointer;
        font-size: 1.2rem;
        border-radius: 40px;
        padding: 3% 3%;
        display: block;
        margin: 2% auto 5%;
        border: 2px solid $main-black;
        &:focus{
          border: 2px solid $main-dark-red;
          background-color: $main-red;
          color: #fff;
          outline: none;
        }
      }
      .whyReport{
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        
        .btn{
          font-size: 1.2rem;
          border: 2px solid $main-black;
          border-radius: 25px;
          margin: 1rem;
          margin-top: unset;
          background:#fff;
          color: $main-black;
          outline: none;
          &:focus{
            background:$main-red;
            color: #fff;
            outline: none;
          }
          &:active{
            background:$main-red;
            color: #fff;
            outline: none;
          }
          &:hover{
            background:$main-red;
            color: #fff;
          }
          input{
            -webkit-appearance: none;
            appearance: none;
          }
          
        }
        
      }
    }
    .goto-shop-btn {
      display: none;
    }

    .catch-step-msg{
      .comment-wrap{
        height: 70vw;
        width: 82.6vw;
        top: unset;
        right: unset;
        position: unset;
        max-height: 788px;
        margin-top: 15% ;
      }
      .leaveMsg{
        height: 70%;
        
      }
      .invite-msg{
        color: $main-dark-blue;
        font-weight: 800;
        letter-spacing: unset;
        font-size: 1.5rem !important;
        margin-bottom: 3% !important;
        margin-top: 3% !important;
      }
    }
    .catch-letter {

      .letter-wrap {
        .paper-cloud {
          display: none;
        }

        .letter-head {}

        .stamp-box {
          width: 100%;
        }

        .letter-tittle {
          width: 52%;

          h3 {
            font-size: 1.5rem;
          }
        }

        .letter-contant {
          padding: 3.5%;
          padding-top: 0;

          .text {
            p {
              font-size: 1.2rem;
            }
          }

          .letter-upload-img {
            height: 28vw;
          }

          #stampshot {
            #stampEffect {}
          }
        }

      }

    }

    .catch-step-2 {
      margin-top: 15%;
      height: auto;

      .bottom-bg {
        width: 82.6vw;
        height: 70vw;
        margin-left: 14%;
        margin-bottom: 15%;
        position: unset;

        .clip-left {
          display: none;

          &:before {
            display: none;
          }
        }

        .top-right-bg {
          width: 82.6vw;
          height: 70vw;
          top: 3vw;
          right: 3vw;
        }

        .top-right {}

        .num-four {
          width: 100%;
          height: auto;
          margin: 0 auto;
          margin-top: 6%;
          display: flex;
          justify-content: center;
          background-image: unset;

          h2 {
            font-size: 2rem;
            width: 90%;
            margin: unset;
            text-align: left;
          }
        }

        .select-stamp {
          height: 34vw;
          position: relative;

          .arrow-white {
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translateY(-50%);
            height: 15vw;
          }

          .reverse {
            left: unset;
            right: 5%;
            transform: scaleX(-1) translateY(-50%);
          }

          .stamp-type {
            display: block;
            overflow: hidden;
            width: 65%;
            padding: 0 5%;

            .type {
              width: 100%;

              &:hover {
                width: 100%;
              }

              span {
                width: 64%;
                height: 54%;
                top: 24%;
              }

              &:hover span {
                width: 64%;
                height: 54%;
                top: 24%;
              }
            }
          }
        }
      }
    }
  }
}

@include respond(iphone) {
  .catchletter-body {
    background: radial-gradient(#000000 10%, #fff 20%);
    background-size: 4px 4px;
    height: auto;
    
    #catchLetterMain {
      margin-top: 20%;
    }

    .catch-letter {
      width: 82.6vw;
      height: 120vw;
      max-width: unset;
      max-height: unset;
      margin: 0 auto;
    }
    #reportStamp{
      width: 50vw;
      height: 20vw;
      top: -200%;
      left: -350%;
    }
    #threeWorld {
      .chooseBtn {
       
        .choosw {
          width: 45vw;
          height: 45vw;
          color: #fff;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
      #planeLetter {}

      #nextStepArrow {
        border-width: 5.5vw 5.5vw 0 5.5vw;
      }

      #missMsg {}

      #mouseNet {}

      .active {
        top: 45%;
      }

      .open-motion {}
    }

    .catch-step-1 {
      flex-direction: column;
      align-items: center;
      
      .catchLet-msgBox{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        // justify-content: space-around;
        align-items: center;
        .likeBtn{
          width: 34vw;
          height: 23vw;
          margin-top: 10%;
          .bottom {
            .side-way__text {
                transform: rotateX(30deg) rotateZ(-180deg) rotateY(180deg);
                font: bold 2.6rem "Noto Sans TC";
                color: white;
                line-height: 2.8rem;
                text-align: center;
            }
        }
        }
      }
      .comment-wrap {
        position: unset;
        top: unset;
        right: unset;
        width: 82.6vw;
        height: 70vw;
        margin-top: 15%;
        // margin-right: 10%;

        .clip-left {
          display: none;

          &::before {
            display: none;
          }
        }

        .top-left-bg {
          top: 3vw;
          left: 3vw;

          .headpg-name {}

          ;
        }

        .comment-outbox {}

        .comment {
          padding: 5%;
          margin: 0 auto;
          margin-top: 8%;

          .comment-contant {}

          .user-name {
            font-size: 1.5rem;
            margin-bottom: 5%;
          }

          .user-text {
            font-size: 1.2rem;
          }

          .comment-btn {
            height: 10vw;

            .like {}

            .report {}

            .like .button {}

            .report .button {}
          }

          .circleBtn {
            width: 8vw;
            height: 8vw;

            .button {}

            .button:active {}

          }

          .circle {}
        }
      }
    }
    .reportBox{
      width: 90vw;
      height: auto;
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 99;
      .exit{
        position: absolute;
        right: 25px;
        top: 40px;
        width: 30px;
        height: 30px;
        background: transparent;
        border: 0;
        margin: -15px 0 0 -15px;
        cursor: pointer;
        z-index: 999;
        outline: none;

        &:hover .mark{
          background-color: $main-red;
        }
        .mark{
          background-color: $main-black;
          position: absolute;
          height: 30px;
          width: 4px;
          display: block;
          top: 0;
        }
        .x{
          right: 12px; 
          transform:rotate(45deg);
        }
        .xx{
          left: 12px; 
          transform:rotate(-45deg);
        }
      }
      .box-white{
        position: relative;
        top: 15px;
        left: -15px;
        width: 100%;
        height: 100%;
      }
      .discription{
        h3{
          width: 80%;
          font-size: 1.5rem;
        }
      }
      .reportBtn{
        cursor: pointer;
        font-size: 1.2rem;
        border-radius: 40px;
        padding: 3% 3%;
        display: block;
        margin: 2% auto 5%;
        border: 2px solid $main-black;
        &:focus{
          border: 2px solid $main-dark-red;
          background-color: $main-red;
          color: #fff;
          outline: none;
        }
      }
      .whyReport{
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        
        .btn{
          font-size: 1.2rem;
          border: 2px solid $main-black;
          border-radius: 25px;
          margin: 1rem;
          margin-top: unset;
          background:#fff;
          color: $main-black;
          outline: none;
          &:focus{
            background:$main-red;
            color: #fff;
            outline: none;
          }
          &:active{
            background:$main-red;
            color: #fff;
            outline: none;
          }
          &:hover{
            background:$main-red;
            color: #fff;
          }
          input{
            -webkit-appearance: none;
            appearance: none;
          }
          
        }
        
      }
    }
    .goto-shop-btn {
      display: none;
    }

    .catch-step-msg{
      .comment-wrap{
        height: 70vw;
        width: 82.6vw;
        top: unset;
        right: unset;
        position: unset;
        max-height: 788px;
        margin-top: 15%;
      }
      .leaveMsg{
        height: 66%;
        
      }
      .invite-msg{
        color: $main-dark-blue;
        font-weight: 800;
        letter-spacing: unset;
        font-size: 1.5rem !important;
        margin-bottom: 3% !important;
        margin-top: 3% !important;
      }
    }
    .catch-letter {

      .letter-wrap {
        .paper-cloud {
          display: none;
        }

        .letter-head {}

        .stamp-box {
          width: 100%;
        }

        .letter-tittle {
          width: 52%;

          h3 {
            font-size: 1.5rem;
          }
        }

        .letter-contant {
          padding: 3.5%;
          padding-top: 0;

          .text {
            p {
              font-size: 1.2rem;
            }
          }

          .letter-upload-img {
            height: 28vw;
          }

          #stampshot {
            #stampEffect {}
          }
        }

      }

    }

    .catch-step-2 {
      margin-top: 15%;
      height: auto;

      .bottom-bg {
        width: 82.6vw;
        height: 70vw;
        margin-left: 14%;
        margin-bottom: 15%;
        position: unset;

        .clip-left {
          display: none;

          &:before {
            display: none;
          }
        }

        .top-right-bg {
          width: 82.6vw;
          height: 70vw;
          top: 3vw;
          right: 3vw;
        }

        .top-right {}

        .num-four {
          width: 100%;
          height: auto;
          margin: 0 auto;
          margin-top: 6%;
          display: flex;
          justify-content: center;
          background-image: unset;

          h2 {
            font-size: 2rem;
            width: 90%;
            margin: unset;
            text-align: left;
          }
        }

        .select-stamp {
          height: 34vw;
          position: relative;

          .arrow-white {
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translateY(-50%);
            height: 15vw;
          }

          .reverse {
            left: unset;
            right: 5%;
            transform: scaleX(-1) translateY(-50%);
          }

          .stamp-type {
            display: block;
            overflow: hidden;
            width: 65%;
            padding: 0 5%;

            .type {
              width: 100%;

              &:hover {
                width: 100%;
              }

              span {
                width: 64%;
                height: 54%;
                top: 24%;
              }

              &:hover span {
                width: 64%;
                height: 54%;
                top: 24%;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes catchLetPopCoin {
  0% {
    transform: translate(-50%,-50%) rotateY(0) scale(.2);
    opacity: 1;
  }
  50% {
    transform: translate(-50%,-140%) rotateY(90deg) scale(.8);
    opacity: 1;
  }
  100% {
    transform: translate(-50%,-25%) scale(1);
    opacity: 0;
  }
}


@keyframes openPlanePaper_2_right {
  from{
    -webkit-clip-path:polygon(0% 0%, 0% 55%, 100% 100%);
    clip-path:polygon(0% 0%, 0% 55%, 100% 100%);
  }
  to{
    -webkit-clip-path:polygon(100% 0%, 100% 100%, 0% 0%);
    clip-path:polygon(100% 0%, 100% 100%, 0% 0%);
    box-shadow: unset;
  }
}
@keyframes openPlanePaper_2_left {
  from{
    -webkit-clip-path:polygon(0% 0%, 0% 55%, 100% 100%);
    clip-path:polygon(0% 0%, 0% 55%, 100% 100%);
  }
  to{
    -webkit-clip-path:polygon(100% 0%, 0% 0%, 0% 100%);
    clip-path:polygon(100% 0%, 0% 0%, 0% 100%);
    box-shadow: unset;
  }
}
@keyframes openPlanePaper_1 {
  from{
    -webkit-clip-path:polygon(9% 0%, 97% 81%, 98% 95.2%, 0% 95.2%, 8% 1%);
    clip-path:polygon(9% 0%, 97% 81%, 98% 95.2%, 0% 95.2%, 8% 1%);
    -webkit-transform:translate3d(0,0,0);
		transform:translate3d(0,0,0);
    // transform: scaleX(1) translateX(0);
  }
  to{
    -webkit-clip-path:polygon(0% 0%, 97% 81%, 98% 95.2%, 0% 95.2%, 0% 0%);
    clip-path:polygon(0% 0%, 97% 81%, 98% 95.2%, 0% 95.2%, 0% 0%);
    -webkit-transform:translate3d(-88%,0,25px) rotate3d(0,1,0,-160deg);
		transform:translate3d(-88%,0,25px) rotate3d(0,1,0,-160deg);
    // transform: scaleX(-1) translateX(82%);
  }
}
@keyframes rotateCatchPlane {
  from{
    transform: rotate(-85deg);
    opacity: 1;
    width: 55vw;
    height: 80vw;
  }
  to{
    transform: rotate(0);
    opacity: 1;
    width: 82.6vw;
    height: 120vw;
  }
}
@keyframes openCatchPlane1 {
  from{
    -webkit-clip-path: polygon(9% 0%, 0% 80%, 50% 100%, 80% 100%);
    clip-path: polygon(9% 0%, 0% 80%, 50% 100%, 80% 100%);
  }
  to{
    -webkit-clip-path: polygon(9% 0%, 100% 81%, 100% 95.3%, 50% 95.3%);
    clip-path: polygon(9% 0%, 100% 81%, 100% 95.3%, 50% 95.3%);
  }
}

@keyframes showHeader {
  from {
    transform: translateY(-40%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes showCatchLetter {
  from {
    transform: translateY(40%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes elementDisappear {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
    display: none;
  }
}

@keyframes rotateLetter {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  10% {
    opacity: .50;
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%) rotate(-2deg) scale(5);
    // transform: scale(5);
    transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(-15deg) scale(1);
    // transform: scale(1);
  }
}