/* 我的倉庫CSS */
.cav-body {
  background: radial-gradient(rgb(90, 155, 90) 30%, rgb(70, 131, 80) 20%);
  background-size: 10px 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

.cav-main {
  // border: 1px solid royalblue;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.cav-titleBlock {
  border: $border;
  background-color: #fff;
  width: 45%;
  padding: 2%;
  margin: 100px 0 50px;

  h1 {
    font-size: 5rem;
  }
}

.cav-readLetterWrap {
  // border: 1px solid red;
  width: 100%;
  margin-bottom: 150px;

  .cav-boxImg {
    width: 100%;
    position: relative;

    > img {
      // border: 1px solid firebrick;
      width: 100%;
      height: 800px;
      object-fit: cover;
    }

    .cav-boxFront {
      border: $border;
      width: 93.5%;
      height: 90%;
      display: flex;
      justify-content: space-between;
      // padding: 10px;
      padding: 1%;
      position: absolute;
      // top: 42px;
      // left: 40px;
      top: 5%;
      left: 3%;

      .cav-boxFrontLeft {
        // border: 1px solid green;
        display: inline-block;
        width: 40%;
        height: 100%;
        padding: 10px;

        .cav-whoLetter {
          // border: 1px solid fuchsia;
          display: flex;
          justify-content: space-around;
          margin: 2% 0 1% 0;
          max-height: 60%;

          .cav-myLetter {
            // border: 1px solid sandybrown;
            position: relative;
            width: 50%;
            @include btn_3d_module();

            .btn {
              padding: 0.8vw 2vw;
              top: 5%;
              left: 10%;
            }
          }

          .cav-otherLetter {
            // border: 1px solid sandybrown;
            width: 50%;
            @include btn_3d_module();

            .btn {
              padding: 0.8vw 2vw;
              top: 5%;
              left: 10%;
            }
          }
        }

        .cav-histLetter1 {
          border: $border;
          background-color: #ddd;
          padding: 5px;
          margin-top: 6.5%;
          // height: calc(100%-10px);
          height: 87.5%;

          .cav-histLetter2 {
            border: $border;
            background-color: rgb(74, 117, 112);
            padding: 10px;
            height: 100%;
            overflow-y: scroll;

            &::-webkit-scrollbar {
              // border:1px solid firebrick;
              // width: 9px;
              width: 0;
              background-color: #ccc;
              border-radius: 2px;
            }

            &::-webkit-scrollbar-thumb {
              width: 5px;
              background-color: slategrey;
              border-radius: 10px;
            }

            > .cav-letters {
              border: $border;
              height: 100px;
              margin: 0 auto 10px;
              padding: 3%;
              border-radius: 20px;
              background-color: $main-yellow;
              // overflow: hidden;
              display: flex;
              cursor: pointer;

              &.cav-looking {
                background-color: $main-red;
              }

              .cav-letWord {
                // border: 1px solid blue;
                width: 80%;

                .cav-letTitle {
                  margin: 0;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }

                .cav-letTime {
                  margin: 0;
                }
              }

              .cav-letSetting {
                // border: 1px solid blueviolet;
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                > div {
                  margin: 0 auto;
                  height: 50%;

                  i {
                    font-size: 30px;

                    &:hover {
                      color: $main-dark-red;
                    }
                  }
                }

                .cav-landLetter {
                  border: 1px solid firebrick;
                  position: absolute;
                  top: 55%;
                  left: 00%;
                  width: 70px;
                  z-index: 20;
                  background-color: #fff;
                  padding-bottom: 0;
                  height: 25px;
                  display: none;

                  &:hover {
                    background-color: $main-blue;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }

      .cav-boxFrontRight {
        border: $border;
        display: inline-block;
        width: 57%;
        background-color: #ddd;
        padding: 5px;

        .cav-showLetterBack {
          border: $border;
          height: 100%;
          background-color: rgb(74, 117, 112);

          .cav-showLetter {
            // border: 1px solid red;
            width: 100%;
            height: 100%;
            overflow-y: scroll;

            &::-webkit-scrollbar {
              // border:1px solid firebrick;
              // width: 9px;
              width: 0;
              background-color: #ccc;
              border-radius: 2px;
            }

            &::-webkit-scrollbar-thumb {
              width: 5px;
              background-color: slategrey;
              border-radius: 10px;
            }

            .cav-letterBg {
              border: 50px solid transparent;
              border-image: url("../img/cave/cav-postCard_b.svg") 50 50 round;
              background-color: #fff;
              width: 82.5%;
              // height: 45vw;
              margin: 20px auto;
              position: relative;
              display: none;

              // &_content {
              //    width: 100%;
              //    height: 100%;
              //    overflow: auto;
              // }
              .cav-letClose {
                position: absolute;
                right: -5%;
                top: -3%;
                cursor: pointer;
              }

              .cav-letImg {
                // border: 5px solid $main-black;
                // width: 90%;
                // margin: 0 auto;
                width: 100%;
                overflow: hidden;

                img {
                  width: 100%;
                }
              }

              hr {
                border: 1px solid #ccc;
                margin: 15px auto;
              }

              .cav-letNavbar {
                display: flex;
                justify-content: flex-end;
                // border: 1px solid #ccc;

                .cav-letNavOption {
                  // border: 1px solid tomato;
                  width: 35px;
                  height: 35px;
                  margin-left: 5px;
                  vertical-align: middle;

                  img {
                    width: 100%;
                    cursor: pointer;
                  }
                }
              }

              .cav-h3 {
                margin: 15px 0;
                padding-bottom: 5px;
                border-bottom: 1px solid #ccc;
              }

              .cav-letComment {
                // border: 1px solid rosybrown;
                border-bottom: 1px solid #ccc;
                display: flex;

                .cav-commMain {
                  // border-bottom: 1px solid #ccc;
                  width: 80%;

                  .cav-commHead {
                    // display: flex;
                    margin-bottom: 5px;

                    .cav-commId {
                      font-weight: bold;
                      font-size: 14px;
                      margin-right: 5px;
                    }

                    .cav-commTime {
                      color: #777;
                      font-size: 10px;
                      text-align: initial;
                    }
                  }
                }

                .cav-commOption {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;
                  margin: 0 auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

//我的物品
.cav-myItem {
  // border: 2px dashed greenyellow;
  display: flex;
  max-height: 850px;
  height: 100vw;
  margin-bottom: 150px;

  .cav-leftWrap {
    border: $border;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 40%;
    // height: 800px;
    // margin-top: 60px;

    .cav-topBlock {
      // border-bottom: 5px solid $main-black;
      display: inline-block;
      width: 100%;
      height: 30%;
      overflow: hidden;

      > img {
        width: 100%;
        height: 100%;
      }
    }

    .cav-leftBMWrap {
      height: 70%;
      width: 100%;

      .cav-leftBlockBM {
        // border: 1px solid rebeccapurple;
        list-style: none;
        margin: 0;
        display: flex;
        justify-content: space-between;

        > li {
          border: $border;
          width: 50%;
          text-align: center;
          background-color: rgb(68, 83, 148);
          color: #fff;
          font-weight: 700;
          overflow: hidden;

          > a {
            cursor: pointer;
            display: block;
            padding: 0.8em;
          }

          > a.-on {
            background-color: $main-blue;
          }
        }
      }
    }

    .cav-tabWrap {
      // border: 5px solid $main-black;
      // border-top: 5px solid $main-black;
      border-bottom: 5px solid $main-black;
      background-color: #ddd;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      // overflow: scroll;
      width: 100%;
      min-height: 465px;
      max-height: 465px;
      // height: 44vw;
      padding: 10px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        // border:1px solid firebrick;
        // width: 9px;
        width: 0;
        background-color: #ccc;
        border-radius: 2px;
      }

      &::-webkit-scrollbar-thumb {
        width: 5px;
        background-color: slategrey;
        border-radius: 10px;
      }

      .cav-prodWrap {
        border: $border;
        width: 100%;
        // height: 100%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        background-color: #777;
      }

      .wearing {
        border: 0.4vw solid $main-dark-red;
      }

      .tab1 {
        display: none;
      }

      .tab1.-on {
        display: inline-block;
        width: 100%;
      }
    }

    .cav-botBlock {
      // border: 5px solid fuchsia;
      // border: 5px solid $main-black;
      background-color: #ddd;
      width: 100%;
      // height: 10%;
      height: 9.5%;
      position: relative;
      /* 按鈕 */
      @include btn_3d_module();

      .btn {
        margin: 0 auto;
        height: 50px;
        // padding: 0;
        position: absolute;
        top: 40%;
        left: 35%;
      }
    }
  }

  .cav-prod {
    border: $border;
    margin: 14px;
    display: inline-block;
    width: 170px;
    height: 170px;

    background-color: #fff;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      border: 0.2vw solid $main-dark-red;
    }

    > img {
      width: 100%;
      height: 100%;
    }
  }

  .cav-addProd {
    border: $border;
    margin: 2.9%;
    display: inline-block;
    width: 170px;
    height: 170px;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;

    > a {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;

      > img {
        width: 80%;
        height: 80%;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .cav-rightWrap {
    // border: 5px solid $main-black;
    display: inline-block;
    width: 55%;
    // max-height: 800px;
    margin-left: 5%;
    overflow: hidden;
    position: relative;

    > .cav-rightBlockBM {
      // border: 1px solid black;
      list-style: none;
      margin: 0;
      display: flex;
      justify-content: space-between;

      > li {
        border: $border;
        // border-radius: 1em 1em 0 0;
        width: 50%;
        text-align: center;
        // padding: 0.8em;
        background-color: #2b8156;
        color: #fff;
        font-weight: 700;
        overflow: hidden;

        > a {
          cursor: pointer;
          display: block;
          // border: 1px solid red;
          padding: 0.8em;
        }

        > a.-on {
          background-color: $main-green;
        }
      }
    }

    > img {
      width: 100%;
      object-fit: cover;
      margin-top: -1%;
    }

    .cav-tabWrap {
      border: $border;
      height: 85%;
      width: 100%;
      position: absolute;
      top: 7.4%;
      padding: 4% 3%;
      // overflow: scroll;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        // border:1px solid firebrick;
        // width: 9px;
        width: 0;
        background-color: #ccc;
        border-radius: 2px;
      }

      &::-webkit-scrollbar-thumb {
        width: 5px;
        background-color: slategrey;
        border-radius: 10px;
      }

      .cav-prodWrap {
        // border: 1px solid red;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;

        > img {
          width: 100%;
          // height:100%;
          object-fit: cover;
        }

        > .cav-products {
          // border: 1px solid blue;
          position: absolute;
          top: 1%;
          left: 3.3%;
          // width: 100%;
          // // height: 100%;
          // padding: 10px;
          // display: flex;
          // flex-wrap: wrap;
        }
      }

      .tab2 {
        display: none;
        width: 100%;
      }

      .tab2.-on {
        display: inline-block;
        width: 100%;
      }
    }

    .cav-pc {
      border: $border;
      border-top: none;
      width: 100%;
      height: 9%;
      margin: 0 auto;
      display: flex;
      align-self: middle;
      background-color: #ca8355;
      position: absolute;
      bottom: 0;

      .cav-paper {
        width: 45%;
        color: $main-black;
        font-weight: bolder;
        font-size: 32px;
        text-align: center;
      }

      .cav-coin {
        width: 45%;
        color: $main-black;
        font-weight: bolder;
        font-size: 32px;
        text-align: center;
      }
    }
  }
}

@include respond(desktop) {
  .cav-main {
    width: 100%;

    .cav-boxImg {
      > img {
        height: 100%;
      }
    }

    .cav-prod {
      width: 14vw;
      height: 14vw;
      margin: 2.1%;
    }

    .cav-addProd {
      width: 14vw;
      height: 14vw;
      margin: 2.1%;
    }
  }
}

@include respond(mediumSize) {
  .cav-main {
    width: 100%;

    .cav-leftWrap {
      .cav-tabWrap {
        min-height: 400px;
        max-height: 76%;
        // height: 44vw;
        top: 8.4%;
        padding: 10px;
        overflow-y: scroll;
      }
    }

    .cav-rightWrap {
      .cav-tabWrap {
        top: 8.4%;
      }
    }

    .cav-boxImg {
      > img {
        height: 100%;
      }
    }

    .cav-prod {
      width: 14vw;
      height: 14vw;
      margin: 2.5%;
    }

    .cav-addProd {
      width: 14vw;
      height: 14vw;
      margin: 2.5%;
    }
  }

  .cav-readLetterWrap {
    .cav-boxImg {
      .cav-boxFront {
        .cav-boxFrontLeft {
          .cav-whoLetter {
            border: 1px solid sandybrown;
            position: relative;
            width: 50%;

            .cav-myLetter {
              // border: 1px solid sandybrown;
              position: relative;
              width: 50%;
              @include btn_3d_module();

              .btn {
                padding: -1.2vw 1vw;
                top: 5%;
                left: 10%;
              }
            }

            .cav-otherLetter {
              // border: 1px solid sandybrown;
              width: 50%;
              @include btn_3d_module();

              .btn {
                padding: 0.8vw 2vw;
                top: 5%;
                left: 10%;
              }
            }
          }
        }
      }
    }

    .cav-otherLetter {
      border: 1px solid sandybrown;
      width: 50%;
      .btn {
        padding: -1.2vw 2vw;
        top: 5%;
        left: 10%;

        .cav-otherLetter {
          border: 1px solid sandybrown;
          width: 50%;
          .btn {
            padding: -1.2vw 2vw;
            top: 5%;
            left: 10%;
          }
        }
      }
    }
  }
}

@include respond(small) {
  .cav-main {
    width: 100%;

    .btn {
      padding: -1.2vw 2vw;
      top: 5%;
      left: 10%;
    }
  }
}
@include respond(small) {
  .cav-main {
    width: 100%;

    .cav-leftWrap {
      .cav-tabWrap {
        min-height: 400px;
        max-height: 80%;
        // height: 44vw;
        padding: 10px;
        overflow-y: scroll;
      }
    

    .cav-boxImg {
      width: 100%;
      position: relative;
      margin: 150px auto 0;
      min-width: 650px;

      > img {
        // border: 1px solid firebrick;
        // width: 100%;
        // height: 800px;
        transform: rotate(90deg);
        height: 100%;
        // margin-top: auto;
      }

      .cav-boxFront {
        width: 60%;
        height: 93vw;
        min-height: 610px;
        // display: flex;
        // justify-content: space-between;
        // padding: 1%;
        // position: absolute;
        top: -20%;
        left: 20%;

        .cav-boxFrontLeft {
          border: 1px solid green;
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 10px;

          .cav-whoLetter {
            border: 1px solid fuchsia;
            display: flex;
            justify-content: space-around;
          }

          .cav-histLetter1 {
            border: $border;
            background-color: #ddd;
            padding: 5px;
            height: 90.7%;

            .cav-histLetter2 {
              border: $border;
              background-color: rgb(74, 117, 112);
              padding: 10px;
              height: 100%;
              overflow-y: scroll;

              &::-webkit-scrollbar {
                width: 0;
                background-color: #ccc;
                border-radius: 2px;
              }

              &::-webkit-scrollbar-thumb {
                width: 5px;
                background-color: slategrey;
                border-radius: 10px;
              }

              > .cav-letters {
                border: $border;
                height: 100px;
                margin: 0 auto 10px;
                padding: 3%;
                border-radius: 20px;
                background-color: $main-yellow;
                overflow: hidden;
                display: flex;
                cursor: pointer;

                &.cav-looking {
                  background-color: $main-red;
                }

                .cav-letWord {
                  border: 1px solid blue;
                  width: 80%;

                  .cav-letTitle {
                    margin: 0;
                  }

                  .cav-letTime {
                    margin: 0;
                  }
                }

                .cav-letSetting {
                  border: 1px solid blueviolet;
                  width: 20%;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  > div {
                    margin: 0 auto;
                    height: 50%;

                    i {
                      font-size: 30px;

                      &:hover {
                        color: $main-dark-red;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .cav-boxFrontRight {
          // border: 5px solid $main-black;
          display: none;
          // width: 57%;
          // background-color: #ddd;
          // padding: 5px;

          .cav-showLetterBack {
            border: $border;
            height: 100%;
            background-color: rgb(74, 117, 112);

            .cav-showLetter {
              // border: 1px solid red;
              width: 100%;
              height: 100%;
              overflow-y: scroll;

              &::-webkit-scrollbar {
                width: 0;
                background-color: #ccc;
                border-radius: 2px;
              }

              &::-webkit-scrollbar-thumb {
                width: 5px;
                background-color: slategrey;
                border-radius: 10px;
              }

              .cav-letterBg {
                border: 50px solid transparent;
                border-image: url("../img/cave/cav-postCard_b.svg") 50 50 round;
                background-color: #fff;
                width: 82.5%;
                margin: 20px auto;

                .cav-letImg {
                  width: 100%;
                  overflow: hidden;

                  img {
                    width: 100%;
                  }
                }

                hr {
                  border: 1px solid #ccc;
                  margin: 15px auto;
                }

                .cav-letNavbar {
                  display: flex;
                  justify-content: flex-end;
                  // border: 1px solid #ccc;

                  .cav-letNavOption {
                    // border: 1px solid tomato;
                    width: 35px;
                    height: 35px;
                    margin-left: 5px;
                    vertical-align: middle;

                    img {
                      width: 100%;
                      cursor: pointer;
                    }
                  }

                  // .btn-big-test {
                  //   @include btn_big_module();
                  // }
                }

                .cav-h3 {
                  margin: 15px 0;
                  padding-bottom: 5px;
                  border-bottom: 1px solid #ccc;
                }

                .cav-letComment {
                  // border: 1px solid rosybrown;
                  border-bottom: 1px solid #ccc;
                  display: flex;

                  .cav-commMain {
                    // border-bottom: 1px solid #ccc;
                    width: 80%;

                    .cav-commHead {
                      // display: flex;
                      margin-bottom: 5px;

                      .cav-commId {
                        font-weight: bold;
                        font-size: 14px;
                        margin-right: 5px;
                      }

                      .cav-commTime {
                        color: #777;
                        font-size: 10px;
                        text-align: initial;
                      }
                    }
                  }

                  .cav-commOption {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin: 0 auto;
                  }
                }
              }
            }
          }
        }
      }
    }

    // .cav-boxImg {
    //   > img {
    //     height: 100%;
    //     margin-top: auto;
    //   }
    // }
    .cav-prod {
      width: 18vw;
      height: 18vw;
      margin: 1.3%;
    }

    .cav-myItem {
      display: inline-block;
      height: auto;

      .cav-leftWrap {
        width: 70%;
        margin: 0 auto;
      }
    }

    .cav-rightWrap {
      display: inline-block;
      width: 70%;
      margin-top: 100px;
      margin-left: 15%;

      .cav-tabWrap {
        top: 55px;

        .cav-prod {
          width: 18vw;
          height: 18vw;
          margin: 2%;
        }

        .cav-addProd {
          width: 18vw;
          height: 18vw;
          margin: 2%;
        }
      }
    }
  }
}

@include respond(note) {
  .cav-main {
    width: 100%;

    .cav-leftWrap {
      .cav-tabWrap {
        min-height: 400px;
        max-height: 80%;
        // height: 44vw;
        top: 10.4%;
        padding: 10px;
        overflow-y: scroll;
      }
    }

    .cav-boxImg {
      width: 100%;
      min-width: 650px;
      position: relative;
      margin: 150px auto 0;

      > img {
        transform: rotate(90deg);
        height: 100%;
      }

      .cav-boxFront {
        width: 60%;
        height: 93vw;
        min-height: 610px;
        // display: flex;
        // justify-content: space-between;
        // padding: 1%;
        // position: absolute;
        top: -20%;
        left: 20%;

        .cav-boxFrontLeft {
          border: 1px solid green;
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 10px;

          .cav-whoLetter {
            border: 1px solid fuchsia;
            display: flex;
            justify-content: space-around;
          }

          .cav-histLetter1 {
            border: $border;
            background-color: #ddd;
            padding: 5px;
            height: 90.7%;

            .cav-histLetter2 {
              border: $border;
              background-color: rgb(74, 117, 112);
              padding: 10px;
              height: 100%;
              overflow-y: scroll;

              &::-webkit-scrollbar {
                width: 0;
                background-color: #ccc;
                border-radius: 2px;
              }

              &::-webkit-scrollbar-thumb {
                width: 5px;
                background-color: slategrey;
                border-radius: 10px;
              }

              > .cav-letters {
                border: $border;
                height: 100px;
                margin: 0 auto 10px;
                padding: 3%;
                border-radius: 20px;
                background-color: $main-yellow;
                overflow: hidden;
                display: flex;
                cursor: pointer;

                &.cav-looking {
                  background-color: $main-red;
                }

                .cav-letWord {
                  border: 1px solid blue;
                  width: 80%;

                  .cav-letTitle {
                    margin: 0;
                  }

                  .cav-letTime {
                    margin: 0;
                  }
                }

                .cav-letSetting {
                  border: 1px solid blueviolet;
                  width: 20%;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  > div {
                    margin: 0 auto;
                    height: 50%;

                    i {
                      font-size: 30px;

                      &:hover {
                        color: $main-dark-red;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .cav-boxFrontRight {
          // border: 5px solid $main-black;
          display: none;
          // width: 57%;
          // background-color: #ddd;
          // padding: 5px;

          .cav-showLetterBack {
            border: $border;
            height: 100%;
            background-color: rgb(74, 117, 112);

            .cav-showLetter {
              // border: 1px solid red;
              width: 100%;
              height: 100%;
              overflow-y: scroll;

              &::-webkit-scrollbar {
                width: 0;
                background-color: #ccc;
                border-radius: 2px;
              }

              &::-webkit-scrollbar-thumb {
                width: 5px;
                background-color: slategrey;
                border-radius: 10px;
              }

              .cav-letterBg {
                border: 50px solid transparent;
                border-image: url("../img/cave/cav-postCard_b.svg") 50 50 round;
                background-color: #fff;
                width: 82.5%;
                margin: 20px auto;

                .cav-letImg {
                  width: 100%;
                  overflow: hidden;

                  img {
                    width: 100%;
                  }
                }

                hr {
                  border: 1px solid #ccc;
                  margin: 15px auto;
                }

                .cav-letNavbar {
                  display: flex;
                  justify-content: flex-end;
                  // border: 1px solid #ccc;

                  .cav-letNavOption {
                    // border: 1px solid tomato;
                    width: 35px;
                    height: 35px;
                    margin-left: 5px;
                    vertical-align: middle;

                    img {
                      width: 100%;
                      cursor: pointer;
                    }
                  }

                  // .btn-big-test {
                  //   @include btn_big_module();
                  // }
                }

                .cav-h3 {
                  margin: 15px 0;
                  padding-bottom: 5px;
                  border-bottom: 1px solid #ccc;
                }

                .cav-letComment {
                  // border: 1px solid rosybrown;
                  border-bottom: 1px solid #ccc;
                  display: flex;

                  .cav-commMain {
                    // border-bottom: 1px solid #ccc;
                    width: 80%;

                    .cav-commHead {
                      // display: flex;
                      margin-bottom: 5px;

                      .cav-commId {
                        font-weight: bold;
                        font-size: 14px;
                        margin-right: 5px;
                      }

                      .cav-commTime {
                        color: #777;
                        font-size: 10px;
                        text-align: initial;
                      }
                    }
                  }

                  .cav-commOption {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin: 0 auto;
                  }
                }
              }
            }
          }
        }
      }
    }

    .cav-prod {
      width: 30vw;
      height: 30vw;
      margin: 1%;
    }

    .cav-myItem {
      display: inline-block;
      height: auto;

      .cav-leftWrap {
        width: 80%;
        margin: 0 auto;
      }
    }

    .cav-rightWrap {
      display: inline-block;
      width: 80%;
      margin-top: 100px;
      margin-left: 10%;

      .cav-tabWrap {
        top: 10.4%;

        .cav-prod {
          width: 20vw;
          height: 20vw;
          margin: 2%;
        }

        .cav-addProd {
          width: 20vw;
          height: 20vw;
          margin: 2%;
        }
      }
    }
  }
}

@include respond(iphone) {
  .cav-main {
    width: 100%;

    .cav-boxImg {
      min-width: 650px;

      > img {
        height: 100%;
        transform: rotate(90deg);
      }

      .cav-boxFront {
        width: 60%;
        height: 93vw;
        min-height: 610px;
        top: -20%;
        left: 20%;

        .cav-boxFrontLeft {
          border: 1px solid green;
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 10px;

          .cav-whoLetter {
            border: 1px solid fuchsia;
            display: flex;
            justify-content: space-around;

            .cav-myLetter {
              border: 1px solid sandybrown;
              position: relative;
              width: 50%;

              .orderBtnBoxGroup {
                width: 95%;
                margin: -20% 0% 20% 10%;

                .orderBtnBox {
                  position: relative;
                  width: 90%;

                  .orderBtn {
                    font-size: 20px;
                    letter-spacing: 0.2em;
                    position: relative;
                    width: 88%;
                    height: 50px;
                    background-color: #ffd139;
                    border: $border;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 0.3em;
                    cursor: pointer;
                    color: white;
                    text-shadow: 1px 1px 1px black;
                    z-index: 1;

                    .orderText {
                      position: absolute;
                      width: 100%;
                      top: 35%;
                      left: 49%;
                      transform: translate(-47.5%, -25%);
                      font-weight: 900;
                      color: #fff;
                      @include stroke(2, #0f0f0f);
                      font-family: $font;
                      font-weight: 400;
                      z-index: 3;
                    }

                    &:before {
                      content: "";
                      position: absolute;
                      width: 38%;
                      height: 40%;
                      left: -35%;
                      bottom: -5%;
                      border-radius: 0.3em;
                      border: $border;
                      // background-color: #FFD139;
                      // background-image: url("../img/product/decorate/materail-04.svg");
                      // background-size: cover;
                      transform: rotate(90deg) skew(60deg);
                      background: -webkit-linear-gradient(
                        40deg,
                        $main-yellow 45%,
                        #000 45%,
                        #000 55%,
                        $main-yellow 55%
                      );
                      background: linear-gradient(40deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                      background-size: 7px 7px;
                    }

                    &:after {
                      content: "";
                      position: absolute;
                      position: absolute;
                      width: 38%;
                      height: 40%;
                      left: 87%;
                      bottom: -5%;
                      border-radius: 0.3em;
                      border: $border;
                      // background-color: #FFD139;
                      // background-image: url("../img/product/decorate/materail-04.svg");
                      // background-size: cover;
                      transform: rotate(90deg) skew(300deg);
                      background: -webkit-linear-gradient(
                        220deg,
                        $main-yellow 45%,
                        #000 45%,
                        #000 55%,
                        $main-yellow 55%
                      );
                      background: linear-gradient(40deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                      background-size: 7px 7px;
                    }

                    &.clicked {
                      top: 16px;

                      &:before {
                        width: 38%;
                        height: 40%;
                        left: -26%;
                        bottom: 3%;
                        transform: rotate(90deg) skew(50deg);
                      }

                      &:after {
                        width: 39%;
                        height: 40%;
                        left: 87%;
                        bottom: 3%;
                        transform: rotate(90deg) skew(310deg);
                      }
                    }
                  }

                  .orderBtnBottom {
                    position: absolute;
                    // width: 100%;
                    width: 107%;
                    height: 45px;
                    left: -8%;
                    top: 85%;
                    border: $border;
                    background: -webkit-linear-gradient(-70deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                    background: linear-gradient(-70deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                    background-size: 7px 7px;
                    border-radius: 0.1em;
                    // z-index: -1;
                  }
                }
              }
            }

            .cav-otherLetter {
              border: 1px solid sandybrown;
              width: 50%;

              .orderBtnBoxGroup {
                width: 95%;
                margin: -20% 0% 20% 10%;

                .orderBtnBox {
                  position: relative;

                  .orderBtn {
                    font-size: 20px;
                    letter-spacing: 0.2em;
                    position: relative;
                    width: 80%;
                    height: 45px;
                    background-color: #ffd139;
                    border: $border;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 0.3em;
                    cursor: pointer;
                    color: white;
                    text-shadow: 1px 1px 1px black;
                    z-index: 1;

                    .orderText {
                      position: absolute;
                      width: 100%;
                      top: 35%;
                      left: 49%;
                      transform: translate(-47.5%, -25%);
                      font-weight: 900;
                      color: #fff;
                      @include stroke(2, #0f0f0f);
                      font-family: $font;
                      font-weight: 400;
                      z-index: 3;
                    }

                    &:before {
                      content: "";
                      position: absolute;
                      width: 38%;
                      height: 40%;
                      left: -35%;
                      bottom: -5%;
                      border-radius: 0.3em;
                      border: $border;
                      // background-color: #FFD139;
                      // background-image: url("../img/product/decorate/materail-04.svg");
                      // background-size: cover;
                      transform: rotate(90deg) skew(60deg);
                      background: -webkit-linear-gradient(
                        40deg,
                        $main-yellow 45%,
                        #000 45%,
                        #000 55%,
                        $main-yellow 55%
                      );
                      background: linear-gradient(40deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                      background-size: 7px 7px;
                    }

                    &:after {
                      content: "";
                      position: absolute;
                      position: absolute;
                      width: 38%;
                      height: 40%;
                      left: 87%;
                      bottom: -5%;
                      border-radius: 0.3em;
                      border: $border;
                      // background-color: #FFD139;
                      // background-image: url("../img/product/decorate/materail-04.svg");
                      // background-size: cover;
                      transform: rotate(90deg) skew(300deg);
                      background: -webkit-linear-gradient(
                        220deg,
                        $main-yellow 45%,
                        #000 45%,
                        #000 55%,
                        $main-yellow 55%
                      );
                      background: linear-gradient(40deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                      background-size: 7px 7px;
                    }

                    &.clicked {
                      top: 16px;

                      &:before {
                        width: 38%;
                        height: 40%;
                        left: -26%;
                        bottom: 3%;
                        transform: rotate(90deg) skew(50deg);
                      }

                      &:after {
                        width: 39%;
                        height: 40%;
                        left: 87%;
                        bottom: 3%;
                        transform: rotate(90deg) skew(310deg);
                      }
                    }
                  }

                  .orderBtnBottom {
                    position: absolute;
                    width: 95%;
                    height: 45px;
                    left: -8%;
                    top: 85%;
                    border: $border;
                    background: -webkit-linear-gradient(-70deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                    background: linear-gradient(-70deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                    background-size: 7px 7px;
                    border-radius: 0.1em;
                    // z-index: -1;
                  }
                }
              }
            }
          }

          .cav-histLetter1 {
            border: $border;
            background-color: #ddd;
            padding: 5px;
            height: 90.7%;

            .cav-histLetter2 {
              border: $border;
              background-color: rgb(74, 117, 112);
              padding: 10px;
              height: 100%;
              overflow-y: scroll;

              &::-webkit-scrollbar {
                width: 0;
                background-color: #ccc;
                border-radius: 2px;
              }

              &::-webkit-scrollbar-thumb {
                width: 5px;
                background-color: slategrey;
                border-radius: 10px;
              }

              > .cav-letters {
                border: $border;
                height: 100px;
                margin: 0 auto 10px;
                padding: 3%;
                border-radius: 20px;
                background-color: $main-yellow;
                overflow: hidden;
                display: flex;
                cursor: pointer;

                &.cav-looking {
                  background-color: $main-red;
                }

                .cav-letWord {
                  border: 1px solid blue;
                  width: 80%;

                  .cav-letTitle {
                    margin: 0;
                  }

                  .cav-letTime {
                    margin: 0;
                  }
                }

                .cav-letSetting {
                  border: 1px solid blueviolet;
                  width: 20%;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  > div {
                    margin: 0 auto;
                    height: 50%;

                    i {
                      font-size: 30px;

                      &:hover {
                        color: $main-dark-red;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .cav-boxFrontRight {
          // border: 5px solid $main-black;
          display: none;
          // width: 57%;
          // background-color: #ddd;
          // padding: 5px;

          .cav-showLetterBack {
            border: $border;
            height: 100%;
            background-color: rgb(74, 117, 112);

            .cav-showLetter {
              // border: 1px solid red;
              width: 100%;
              height: 100%;
              overflow-y: scroll;

              &::-webkit-scrollbar {
                width: 0;
                background-color: #ccc;
                border-radius: 2px;
              }

              &::-webkit-scrollbar-thumb {
                width: 5px;
                background-color: slategrey;
                border-radius: 10px;
              }

              .cav-letterBg {
                border: 50px solid transparent;
                border-image: url("../img/cave/cav-postCard_b.svg") 50 50 round;
                background-color: #fff;
                width: 82.5%;
                margin: 20px auto;

                .cav-letImg {
                  width: 100%;
                  overflow: hidden;

                  img {
                    width: 100%;
                  }
                }

                hr {
                  border: 1px solid #ccc;
                  margin: 15px auto;
                }

                .cav-letNavbar {
                  display: flex;
                  justify-content: flex-end;
                  // border: 1px solid #ccc;

                  .cav-letNavOption {
                    // border: 1px solid tomato;
                    width: 35px;
                    height: 35px;
                    margin-left: 5px;
                    vertical-align: middle;

                    img {
                      width: 100%;
                      cursor: pointer;
                    }
                  }

                  // .btn-big-test {
                  //   @include btn_big_module();
                  // }
                }

                .cav-h3 {
                  margin: 15px 0;
                  padding-bottom: 5px;
                  border-bottom: 1px solid #ccc;
                }

                .cav-letComment {
                  // border: 1px solid rosybrown;
                  border-bottom: 1px solid #ccc;
                  display: flex;

                  .cav-commMain {
                    // border-bottom: 1px solid #ccc;
                    width: 80%;

                    .cav-commHead {
                      // display: flex;
                      margin-bottom: 5px;

                      .cav-commId {
                        font-weight: bold;
                        font-size: 14px;
                        margin-right: 5px;
                      }

                      .cav-commTime {
                        color: #777;
                        font-size: 10px;
                        text-align: initial;
                      }
                    }
                  }

                  .cav-commOption {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin: 0 auto;
                  }
                }
              }
            }
          }
        }
      }
    }

    .cav-prod {
      width: 30vw;
      height: 30vw;
      margin: 1%;
    }

    .cav-myItem {
      display: inline-block;
      height: auto;

      .cav-leftWrap {
        width: 80%;
        margin: 0 auto;
      }
    }

    .cav-rightWrap {
      display: inline-block;
      width: 80%;
      margin-top: 100px;
      margin-left: 10%;

      .cav-tabWrap {
        top: 10.4%;

        .cav-prod {
          width: 20vw;
          height: 20vw;
          margin: 2%;
        }

        .cav-addProd {
          width: 20vw;
          height: 20vw;
          margin: 2%;
        }
      }
    }
  }
<<<<<<< HEAD
}
=======
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
}
>>>>>>> b576762971bc138e568e0e4742e6ad35d6a8a7ea
=======
}
=======
>>>>>>> newDev
}
>>>>>>> e94cbea26f4efc906a6bbafcdf6f6f665f220089
>>>>>>> newDev
