/* 我的倉庫CSS */
.cav-body {
  background: radial-gradient(rgb(90, 155, 90) 30%, rgb(70, 131, 80) 20%);
  background-size: 10px 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

.cav-main {
  // border: 1px solid royalblue;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.cav-titleBlock {
  border: $border;
  background-color: #fff;
  width: 45%;
  padding: 2%;
  margin: 100px 0 50px;
}

.cav-readLetterWrap {
  // border: 1px solid red;
  width: 100%;
  margin-bottom: 150px;

  .cav-boxImg {
    width: 100%;
    position: relative;

    .cav-horiImg {
      width: 100%;
      object-fit: cover;
    }
    .cav-vertImg {
      display: none;
    }

    .cav-boxFront {
      border: $border;
      width: 93.5%;
      height: 90%;
      display: flex;
      justify-content: space-between;
      // padding: 10px;
      padding: 1%;
      position: absolute;
      // top: 42px;
      // left: 40px;
      top: 5%;
      left: 3%;

      .cav-boxFrontLeft {
        // border: 1px solid green;
        display: inline-block;
        width: 40%;
        height: 100%;
        padding: 10px;

        .cav-whoLetter {
          // border: 1px solid fuchsia;
          display: flex;
          justify-content: space-around;
          margin: 2% 0 1% 0;
          max-height: 60%;

          .cav-myLetter {
            // border: 1px solid sandybrown;
            position: relative;
            width: 50%;
            @include btn_3d_module();

            .btn {
              padding: 0.8vw 2vw;
              top: 5%;
              left: 10%;
            }
          }

          .cav-otherLetter {
            // border: 1px solid sandybrown;
            width: 50%;
            @include btn_3d_module();

            .btn {
              padding: 0.8vw 2vw;
              top: 5%;
              left: 10%;
            }
          }
        }

        .cav-histLetter1 {
          border: $border;
          background-color: #ddd;
          padding: 5px;
          margin-top: 6.5%;
          // height: calc(100%-10px);
          height: 86.4%;

          .cav-histLetter2 {
            border: $border;
            background-color: rgb(74, 117, 112);
            padding: 10px;
            height: 100%;
            overflow-y: scroll;

            &::-webkit-scrollbar {
              // border:1px solid firebrick;
              // width: 9px;
              width: 0;
              background-color: #ccc;
              border-radius: 2px;
            }

            &::-webkit-scrollbar-thumb {
              width: 5px;
              background-color: slategrey;
              border-radius: 10px;
            }

            > .cav-letters {
              border: $border;
              height: 100px;
              margin: 0 auto 10px;
              padding: 3%;
              border-radius: 20px;
              background-color: $main-yellow;
              // overflow: hidden;
              display: flex;
              cursor: pointer;

              &.cav-looking {
                background-color: $main-red;
              }
              &:hover {
                // width: 400px;
                transform: scale(1.05);
              }
              .cav-letWord {
                // border: 1px solid blue;
                width: 80%;

                .cav-letTitle {
                  margin: 0;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }

                .cav-letTime {
                  margin: 0;
                }
              }

              .cav-letSetting {
                // border: 1px solid blueviolet;
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                > div {
                  margin: 0 auto;
                  height: 50%;

                  i {
                    font-size: 30px;

                    &:hover {
                      color: $main-dark-red;
                    }
                  }
                }

                .cav-landLetter {
                  border: 1px solid firebrick;
                  position: absolute;
                  top: 55%;
                  left: 00%;
                  width: 70px;
                  z-index: 20;
                  background-color: #fff;
                  padding-bottom: 0;
                  height: 25px;
                  display: none;

                  &:hover {
                    background-color: $main-blue;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }

      .cav-boxFrontRight {
        border: $border;
        display: inline-block;
        width: 57%;
        background-color: #ddd;
        padding: 5px;

        &.active {
          .cav-showLetterBack {
            .cav-showLetter {
              .cav-letterBg {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }

        .cav-showLetterBack {
          border: $border;
          height: 100%;
          background-color: rgb(74, 117, 112);

          .cav-showLetter {
            // border: 1px solid red;
            width: 100%;
            height: 100%;
            overflow-y: scroll;

            &::-webkit-scrollbar {
              // border:1px solid firebrick;
              // width: 9px;
              width: 0;
              background-color: #ccc;
              border-radius: 2px;
            }

            &::-webkit-scrollbar-thumb {
              width: 5px;
              background-color: slategrey;
              border-radius: 10px;
            }

            .cav-letterBg {
              border: 50px solid transparent;
              border-image: url("../img/cave/cav-postCard_b.svg") 50 50 round;
              background-color: #fff;
              width: 82.5%;
              // height: 45vw;
              margin: 20px auto;
              position: relative;
              opacity: 0;
              visibility: hidden;
              transition: all 0.5s;

              // &_content {
              //    width: 100%;
              //    height: 100%;
              //    overflow: auto;
              // }
              .cav-letClose {
                position: absolute;
                right: -5%;
                top: -3%;
                cursor: pointer;
              }

              .cav-letImg {
                // border: 5px solid $main-black;
                // width: 90%;
                // margin: 0 auto;
                width: 100%;
                overflow: hidden;

                img {
                  width: 100%;
                }
              }

              hr {
                border: 1px solid #ccc;
                margin: 15px auto;
              }

              .cav-letNavbar {
                display: flex;
                justify-content: flex-end;
                // border: 1px solid #ccc;

                .cav-letNavOption {
                  // border: 1px solid tomato;
                  width: 35px;
                  height: 35px;
                  margin-left: 5px;
                  vertical-align: middle;

                  img {
                    width: 100%;
                    cursor: pointer;
                  }
                }
              }

              .cav-h3 {
                margin: 15px 0;
                padding-bottom: 5px;
                border-bottom: 1px solid #ccc;
              }

              .cav-letComment {
                // border: 1px solid rosybrown;
                border-bottom: 1px solid #ccc;
                display: flex;

                .cav-commMain {
                  // border-bottom: 1px solid #ccc;
                  width: 80%;

                  .cav-commHead {
                    // display: flex;
                    margin-bottom: 5px;

                    .cav-commId {
                      font-weight: bold;
                      font-size: 14px;
                      margin-right: 5px;
                    }

                    .cav-commTime {
                      color: #777;
                      font-size: 10px;
                      text-align: initial;
                    }
                  }
                }

                .cav-commOption {
                  // display: flex;
                  // flex-direction: column;
                  // justify-content: space-around;
                  // margin: 0 auto;
                  width: 100%;
                  height: 5vw;
                  position: relative;
                }
              }
            }
          }
        }
      }
    }
  }
}

//我的物品
.cav-myItem {
  // border: 2px dashed greenyellow;
  display: flex;
  max-height: 850px;
  height: 100vw;
  margin-bottom: 150px;

  .cav-leftWrap {
    border: $border;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 41%;
    // height: 800px;
    // margin-top: 60px;

    .cav-topBlock {
      // border-bottom: 5px solid $main-black;
      display: inline-block;
      width: 100%;
      height: 30%;
      overflow: hidden;

      > img {
        width: 100%;
        height: 100%;
      }
    }

    .cav-leftBMWrap {
      height: 70%;
      width: 100%;

      .cav-leftBlockBM {
        // border: 1px solid rebeccapurple;
        list-style: none;
        margin: 0;
        display: flex;
        justify-content: space-between;

        > li {
          border: $border;
          width: 50%;
          text-align: center;
          background-color: rgb(68, 83, 148);
          color: #fff;
          font-weight: 700;
          overflow: hidden;

          > a {
            cursor: pointer;
            display: block;
            padding: 0.8rem;
          }

          > a.-on {
            background-color: $main-blue;
          }
        }
      }
    }

    .cav-tabWrap {
      // border: 5px solid $main-black;
      // border-top: 5px solid $main-black;
      border-bottom: $border;
      background-color: #ddd;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      // overflow: scroll;
      width: 100%;
      min-height: 465px;
      max-height: 465px;
      // height: 44vw;
      padding: 10px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        // border:1px solid firebrick;
        // width: 9px;
        width: 0;
        background-color: #ccc;
        border-radius: 2px;
      }

      &::-webkit-scrollbar-thumb {
        width: 5px;
        background-color: slategrey;
        border-radius: 10px;
      }

      .cav-prodWrap {
        border: $border;
        width: 100%;
        // height: 100%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        background-color: #777;
      }

      .wearing {
        border: 0.4vw solid $main-dark-red;
      }

      .tab1 {
        display: none;
      }

      .tab1.-on {
        display: inline-block;
        width: 100%;
      }
    }

    .cav-botBlock {
      background-color: #ddd;
      width: 100%;
      height: 11%;
      position: relative;
      /* 按鈕 */
      #btns {
        width: 40%;
        display: flex;
        margin-left: 40%;
        padding-top: 1%;

        .orderBtnBoxGroup {
          width: 50%;
          // margin: 0;

          .orderBtnBox {
            position: relative;

            .orderBtn {
              font-size: 20px;
              letter-spacing: 0.2em;
              position: relative;
              width: 95%;
              height: 30px;
              background-color: #ffd139;
              border: $border;
              text-align: center;
              line-height: 40px;
              border-radius: 0.3em;
              cursor: pointer;
              color: white;
              text-shadow: 1px 1px 1px black;
              z-index: 1;

              .orderText {
                position: absolute;
                width: 100%;
                top: 35%;
                left: 50%;
                transform: translate(-47.5%, -25%);
                font-weight: 900;
                color: #fff;
                @include stroke(2, #0f0f0f);
                font-weight: 400;
                z-index: 3;
              }

              &:before {
                content: "";
                position: absolute;
                width: 40%;
                height: 60%;
                left: -30%;
                bottom: -36%;
                border-radius: 0.3em;
                border: $border;
                // background-color: #FFD139;
                // background-image: url("../img/product/decorate/materail-04.svg");
                // background-size: cover;
                transform: rotate(90deg) skew(60deg);
                background: -webkit-linear-gradient(40deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                background: linear-gradient(40deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                background-size: 7px 7px;
              }

              &:after {
                content: "";
                position: absolute;
                position: absolute;
                width: 40%;
                height: 60%;
                left: 89%;
                bottom: -36%;
                border-radius: 0.3em;
                border: $border;
                // background-color: #FFD139;
                // background-image: url("../img/product/decorate/materail-04.svg");
                // background-size: cover;
                transform: rotate(90deg) skew(300deg);
                background: -webkit-linear-gradient(220deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                background: linear-gradient(40deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                background-size: 7px 7px;
              }

              &.clicked {
                top: 10px;

                &:before {
                  width: 40%;
                  height: 44%;
                  left: -27%;
                  bottom: 4%;
                  transform: rotate(90deg) skew(50deg);
                }

                &:after {
                  width: 40%;
                  height: 44%;
                  left: 87%;
                  bottom: 4%;
                  transform: rotate(90deg) skew(310deg);
                }
              }
            }

            .orderBtnBottom {
              position: absolute;
              width: 115%;
              height: 30px;
              left: -10%;
              top: 80%;
              border: $border;
              background: -webkit-linear-gradient(-70deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
              background: linear-gradient(-70deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
              background-size: 7px 7px;
              border-radius: 0.1em;
              z-index: 0;
            }
          }
        }
      }
    }
  }

  .cav-prod {
    border: $border;
    margin: 14px;
    display: inline-block;
    width: 170px;
    height: 170px;

    background-color: #fff;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      border: 0.2vw solid $main-dark-red;
    }

    > img {
      width: 100%;
      height: 100%;
    }
  }

  .cav-addProd {
    border: $border;
    margin: 2.9%;
    display: inline-block;
    width: 170px;
    height: 170px;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;

    > a {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;

      > img {
        width: 80%;
        height: 80%;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .cav-rightWrap {
    // border: 5px solid $main-black;
    display: inline-block;
    width: 55%;
    // max-height: 800px;
    margin-left: 5%;
    overflow: hidden;
    position: relative;

    > .cav-rightBlockBM {
      // border: 1px solid black;
      list-style: none;
      margin: 0;
      display: flex;
      justify-content: space-between;

      > li {
        border: $border;
        // border-radius: 1em 1em 0 0;
        width: 50%;
        text-align: center;
        // padding: 0.8em;
        background-color: #2b8156;
        color: #fff;
        font-weight: 700;
        overflow: hidden;

        > a {
          cursor: pointer;
          display: block;
          // border: 1px solid red;
          padding: 0.8em;
        }

        > a.-on {
          background-color: $main-green;
        }
      }
    }

    > img {
      width: 100%;
      object-fit: cover;
      margin-top: -1%;
    }

    .cav-tabWrap {
      border: $border;
      height: 85%;
      width: 100%;
      position: absolute;
      top: 7.4%;
      padding: 4% 3%;
      // overflow: scroll;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        // border:1px solid firebrick;
        // width: 9px;
        width: 0;
        background-color: #ccc;
        border-radius: 2px;
      }

      &::-webkit-scrollbar-thumb {
        width: 5px;
        background-color: slategrey;
        border-radius: 10px;
      }

      .cav-prodWrap {
        // border: 1px solid red;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;

        > img {
          width: 100%;
          // height:100%;
          object-fit: cover;
        }

        > .cav-products {
          // border: 1px solid blue;
          position: absolute;
          top: 1%;
          left: 3.3%;
          // width: 100%;
          // // height: 100%;
          // padding: 10px;
          // display: flex;
          // flex-wrap: wrap;
        }
      }

      .tab2 {
        display: none;
        width: 100%;
      }

      .tab2.-on {
        display: inline-block;
        width: 100%;
      }
    }

    .cav-pc {
      border: $border;
      border-top: none;
      width: 100%;
      height: 9%;
      margin: 0 auto;
      display: flex;
      align-self: middle;
      background-color: #ca8355;
      position: absolute;
      bottom: 0;

      .cav-paper {
        width: 45%;
        color: $main-black;
        font-weight: bolder;
        font-size: 32px;
        text-align: center;
      }

      .cav-coin {
        width: 45%;
        color: $main-black;
        font-weight: bolder;
        font-size: 32px;
        text-align: center;
      }
    }
  }
}

@include respond(desktop) {
  .cav-main {
    width: 100%;

    .cav-boxImg {
      .cav-horiImg {
        width: 100%;
        object-fit: cover;
      }
      .cav-vertImg {
        display: none;
      }
      .cav-boxFront {
        .cav-boxFrontLeft {
          .cav-whoLetter {
            .cav-myLetter {
              .btn {
                padding: 0.8vw 2vw;
                top: 20%;
                left: 10%;
              }
            }

            .cav-otherLetter {
              .btn {
                padding: 0.8vw 2vw;
                top: 20%;
                left: 10%;
              }
            }
          }
        }
      }
    }

    .cav-prod {
      width: 14vw;
      height: 14vw;
      margin: 2.1%;
    }

    .cav-addProd {
      width: 14vw;
      height: 14vw;
      margin: 2.1%;
    }
  }
}

@include respond(mediumSize) {
  .cav-main {
    width: 100%;

    .cav-leftWrap {
      .cav-tabWrap {
        min-height: 400px;
        max-height: 76%;
        // height: 44vw;
        top: 8.3%;
        padding: 10px;
        overflow-y: scroll;
      }
    }

    .cav-rightWrap {
      .cav-tabWrap {
        top: 8.3%;
      }
    }

    .cav-boxImg {
      .cav-horiImg {
        width: 100%;
        object-fit: cover;
      }
      .cav-vertImg {
        display: none;
      }
    }

    .cav-prod {
      width: 14vw;
      height: 14vw;
      margin: 2.5%;
    }

    .cav-addProd {
      width: 14vw;
      height: 14vw;
      margin: 2.5%;
    }
  }

  .cav-readLetterWrap {
    .cav-boxImg {
      .cav-boxFront {
        .cav-boxFrontLeft {
          .cav-histLetter1 {
            height: 83.8%;
          }

          .cav-whoLetter {
            border: 1px solid sandybrown;
            position: relative;
            width: 100%;

            .cav-myLetter {
              // border: 1px solid sandybrown;
              position: relative;
              width: 50%;
              @include btn_3d_module();

              .btn {
                padding: -0.2vw 1vw;
                top: 20%;
                left: -2%;
              }
            }

            .cav-otherLetter {
              // border: 1px solid sandybrown;
              width: 50%;
              @include btn_3d_module();

              .btn {
                padding: -0.2vw 2vw;
                top: 20%;
                left: 1%;
              }
            }
          }
        }
      }
    }
  }

  .cav-myItem {
    .cav-leftWrap {
      .cav-botBlock {
        height: 14%;
        #btns {
          width: 60%;
          display: flex;
          margin-left: 35%;
          height: 100%;

          .orderBtnBoxGroup {
            width: 50%;
            vertical-align: middle;
            padding-top: 3%;

            .orderBtnBox {
              .orderBtn {
                font-size: 20px;
                letter-spacing: 0.2em;
                position: relative;
                width: 95%;
                height: 30px;

                .orderText {
                  width: 100%;
                  top: 35%;
                  left: 50%;

                  h6 {
                    font-size: 1.4rem;
                  }
                }

                &:before {
                  width: 35%;
                  height: 60%;
                  left: -25%;
                  bottom: -32%;
                }

                &:after {
                  width: 35%;
                  height: 60%;
                  left: 91%;
                  bottom: -32%;
                }

                &.clicked {
                  top: 10px;

                  &:before {
                    width: 40%;
                    height: 44%;
                    left: -27%;
                    bottom: 4%;
                  }

                  &:after {
                    width: 40%;
                    height: 44%;
                    left: 87%;
                    bottom: 4%;
                  }
                }
              }

              .orderBtnBottom {
                width: 115%;
                height: 30px;
                left: -10%;
                top: 80%;
              }
            }
          }
        }
      }
    }
  }
}

@include respond(small) {
  .cav-main {
    width: 100%;
    .btn {
      padding: -1.2vw 2vw;
      top: 20%;
      left: 10%;
    }
    .cav-leftWrap {
      .cav-tabWrap {
        min-height: 400px;
        max-height: 80%;
        // height: 44vw;
        padding: 10px;
        overflow-y: scroll;
      }

      .cav-boxImg {
        width: 100%;
        position: relative;
        margin: 150px auto 0;
        min-width: 650px;

        .cav-horiImg {
          display: none;
        }
        .cav-vertImg {
          width: 530px;
          margin: 0 auto;
          display: block;
          position: relative;
        }

        .cav-boxFront {
          width: 62%;
          height: 93%;
          min-height: 610px;
          position: absolute;
          top: 27px;
          left: 19%;

          .cav-boxFrontLeft {
            border: 1px solid green;
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 10px;

            .cav-whoLetter {
              border: 1px solid fuchsia;
              display: flex;
              justify-content: space-around;
            }

            .cav-histLetter1 {
              border: $border;
              background-color: #ddd;
              padding: 5px;
              height: 87.7%;

              .cav-histLetter2 {
                border: $border;
                background-color: rgb(74, 117, 112);
                padding: 10px;
                height: 100%;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                  width: 0;
                  background-color: #ccc;
                  border-radius: 2px;
                }

                &::-webkit-scrollbar-thumb {
                  width: 5px;
                  background-color: slategrey;
                  border-radius: 10px;
                }

                > .cav-letters {
                  border: $border;
                  height: 100px;
                  margin: 0 auto 10px;
                  padding: 3%;
                  border-radius: 20px;
                  background-color: $main-yellow;
                  overflow: hidden;
                  display: flex;
                  cursor: pointer;

                  &.cav-looking {
                    background-color: $main-red;
                  }

                  .cav-letWord {
                    border: 1px solid blue;
                    width: 80%;

                    .cav-letTitle {
                      margin: 0;
                    }

                    .cav-letTime {
                      margin: 0;
                    }
                  }

                  .cav-letSetting {
                    border: 1px solid blueviolet;
                    width: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    > div {
                      margin: 0 auto;
                      height: 50%;

                      i {
                        font-size: 30px;

                        &:hover {
                          color: $main-dark-red;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .cav-boxFrontRight {
            display: none;

            .cav-showLetterBack {
              border: $border;
              height: 100%;
              background-color: rgb(74, 117, 112);

              .cav-showLetter {
                // border: 1px solid red;
                width: 100%;
                height: 100%;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                  width: 0;
                  background-color: #ccc;
                  border-radius: 2px;
                }

                &::-webkit-scrollbar-thumb {
                  width: 5px;
                  background-color: slategrey;
                  border-radius: 10px;
                }

                .cav-letterBg {
                  border: 50px solid transparent;
                  border-image: url("../img/cave/cav-postCard_b.svg") 50 50 round;
                  background-color: #fff;
                  width: 82.5%;
                  margin: 20px auto;

                  .cav-letImg {
                    width: 100%;
                    overflow: hidden;

                    img {
                      width: 100%;
                    }
                  }

                  hr {
                    border: 1px solid #ccc;
                    margin: 15px auto;
                  }

                  .cav-letNavbar {
                    display: flex;
                    justify-content: flex-end;
                    // border: 1px solid #ccc;

                    .cav-letNavOption {
                      // border: 1px solid tomato;
                      width: 35px;
                      height: 35px;
                      margin-left: 5px;
                      vertical-align: middle;

                      img {
                        width: 100%;
                        cursor: pointer;
                      }
                    }
                  }

                  .cav-h3 {
                    margin: 15px 0;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #ccc;
                  }

                  .cav-letComment {
                    // border: 1px solid rosybrown;
                    border-bottom: 1px solid #ccc;
                    display: flex;

                    .cav-commMain {
                      // border-bottom: 1px solid #ccc;
                      width: 80%;

                      .cav-commHead {
                        // display: flex;
                        margin-bottom: 5px;

                        .cav-commId {
                          font-weight: bold;
                          font-size: 14px;
                          margin-right: 5px;
                        }

                        .cav-commTime {
                          color: #777;
                          font-size: 10px;
                          text-align: initial;
                        }
                      }
                    }

                    .cav-commOption {
                      display: flex;
                      flex-direction: column;
                      justify-content: space-around;
                      margin: 0 auto;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .cav-prod {
        width: 18vw;
        height: 18vw;
        margin: 1.3%;
      }

      .cav-myItem {
        display: inline-block;
        height: auto;

        .cav-leftWrap {
          width: 70%;
          margin: 0 auto;
        }
      }

      .cav-rightWrap {
        display: inline-block;
        width: 70%;
        margin-top: 100px;
        margin-left: 15%;

        .cav-tabWrap {
          top: 55px;

          .cav-prod {
            width: 18vw;
            height: 18vw;
            margin: 2%;
          }

          .cav-addProd {
            width: 18vw;
            height: 18vw;
            margin: 2%;
          }
        }
      }
    }
  }
}

@include respond(note) {
  .cav-main {
    width: 100%;

    .cav-leftWrap {
      .cav-tabWrap {
        top: 10.4%;
        padding: 10px;
        overflow-y: scroll;
      }
      .cav-botBlock {
        border: $border;
        border-top: none;
        background-color: #ddd;
        width: 100%;
        height: 60px;
        position: relative;
        /* 按鈕 */
        #btns {
          width: 40%;
          display: flex;
          margin-left: 40%;

          .orderBtnBoxGroup {
            width: 60%;
            // margin: 0;

            .orderBtnBox {
              position: relative;

              .orderBtn {
                font-size: 20px;
                letter-spacing: 0.2em;
                position: relative;
                width: 95%;
                height: 30px;
                background-color: #ffd139;
                border: $border;
                text-align: center;
                line-height: 40px;
                border-radius: 0.3em;
                cursor: pointer;
                color: white;
                text-shadow: 1px 1px 1px black;
                z-index: 1;

                .orderText {
                  position: absolute;
                  width: 100%;
                  top: 35%;
                  left: 50%;
                  transform: translate(-47.5%, -25%);
                  font-weight: 900;
                  color: #fff;
                  @include stroke(2, #0f0f0f);
                  font-weight: 400;
                  z-index: 3;
                }

                &:before {
                  content: "";
                  position: absolute;
                  width: 42%;
                  height: 48%;
                  left: -29%;
                  bottom: -22%;
                  border-radius: 0.3em;
                  border: $border;
                  // background-color: #FFD139;
                  // background-image: url("../img/product/decorate/materail-04.svg");
                  // background-size: cover;
                  transform: rotate(90deg) skew(60deg);
                  background: -webkit-linear-gradient(40deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                  background: linear-gradient(40deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                  background-size: 7px 7px;
                }

                &:after {
                  content: "";
                  position: absolute;
                  position: absolute;
                  width: 42%;
                  height: 48%;
                  left: 86%;
                  bottom: -22%;
                  border-radius: 0.3em;
                  border: $border;
                  // background-color: #FFD139;
                  // background-image: url("../img/product/decorate/materail-04.svg");
                  // background-size: cover;
                  transform: rotate(90deg) skew(300deg);
                  background: -webkit-linear-gradient(220deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                  background: linear-gradient(40deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                  background-size: 7px 7px;
                }

                &.clicked {
                  top: 10px;

                  &:before {
                    width: 40%;
                    height: 52%;
                    left: -28%;
                    bottom: -1%;
                    transform: rotate(90deg) skew(50deg);
                  }

                  &:after {
                    width: 40%;
                    height: 52%;
                    left: 87%;
                    bottom: -1%;
                    transform: rotate(90deg) skew(310deg);
                  }
                }
              }

              .orderBtnBottom {
                position: absolute;
                width: 122%;
                height: 30px;
                left: -14%;
                top: 80%;
                border: $border;
                background: -webkit-linear-gradient(-70deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                background: linear-gradient(-70deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                background-size: 7px 7px;
                border-radius: 0.1em;
                z-index: 0;
              }
            }
          }
        }
      }
    }

    .cav-boxImg {
      width: 100%;
      position: relative;
      margin: 150px auto 0;

      .cav-horiImg {
        display: none;
      }
      .cav-vertImg {
        display: block;
        width: 90%;
        margin: 0 auto;
        position: relative;
      }

      .cav-boxFront {
        width: 79.5%;
        height: 93%;
        position: absolute;
        top: 3.5%;
        left: 10.5%;

        .cav-boxFrontLeft {
          border: 1px solid green;
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 10px;

          .cav-whoLetter {
            border: 1px solid fuchsia;
            display: flex;
            justify-content: space-around;

            .cav-myLetter {
              border: 1px solid sandybrown;
              position: relative;
              width: 50%;
              .btn {
                padding: -0.2vw 1vw;
                top: 30%;
                left: -2%;
              }
            }

            .cav-otherLetter {
              border: 1px solid sandybrown;
              width: 50%;
              .btn {
                padding: -0.2vw 1vw;
                top: 30%;
                left: -2%;
              }
            }
          }

          .cav-histLetter1 {
            border: $border;
            background-color: #ddd;
            padding: 5px;
            height: 85.7%;

            .cav-histLetter2 {
              border: $border;
              background-color: rgb(74, 117, 112);
              padding: 10px;
              height: 100%;
              overflow-y: scroll;

              &::-webkit-scrollbar {
                width: 0;
                background-color: #ccc;
                border-radius: 2px;
              }

              &::-webkit-scrollbar-thumb {
                width: 5px;
                background-color: slategrey;
                border-radius: 10px;
              }

              > .cav-letters {
                border: $border;
                height: 100px;
                margin: 0 auto 10px;
                padding: 3%;
                border-radius: 20px;
                background-color: $main-yellow;
                overflow: hidden;
                display: flex;
                cursor: pointer;

                &.cav-looking {
                  background-color: $main-red;
                }

                .cav-letWord {
                  border: 1px solid blue;
                  width: 80%;

                  .cav-letTitle {
                    margin: 0;
                  }

                  .cav-letTime {
                    margin: 0;
                  }
                }

                .cav-letSetting {
                  border: 1px solid blueviolet;
                  width: 20%;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  > div {
                    margin: 0 auto;
                    height: 50%;

                    i {
                      font-size: 30px;

                      &:hover {
                        color: $main-dark-red;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .cav-boxFrontRight {
          // display: none;
          position: absolute;
          top: 0;
          right: -200%;
          width: 100%;
          height: 100%;
          opacity: 0;
          visibility: hidden;
          transition: all 0.5s;
          &.active {
            right: 0;
            opacity: 1;
            visibility: visible;
            .cav-showLetterBack {
              .cav-showLetter {
                .cav-letterBg {
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }

          .cav-showLetterBack {
            border: $border;
            height: 100%;
            background-color: rgb(74, 117, 112);

            .cav-showLetter {
              // border: 1px solid red;
              width: 100%;
              height: 100%;
              overflow-y: scroll;

              &::-webkit-scrollbar {
                width: 0;
                background-color: #ccc;
                border-radius: 2px;
              }

              &::-webkit-scrollbar-thumb {
                width: 5px;
                background-color: slategrey;
                border-radius: 10px;
              }

              .cav-letterBg {
                border: 50px solid transparent;
                border-image: url("../img/cave/cav-postCard_b.svg") 50 50 round;
                background-color: #fff;
                width: 82.5%;
                margin: 20px auto;

                .cav-letImg {
                  width: 100%;
                  // overflow: hidden;

                  img {
                    width: 100%;
                  }
                }

                hr {
                  border: 1px solid #ccc;
                  margin: 15px auto;
                }

                .cav-letNavbar {
                  display: flex;
                  justify-content: flex-end;
                  // border: 1px solid #ccc;

                  .cav-letNavOption {
                    // border: 1px solid tomato;
                    width: 35px;
                    height: 35px;
                    margin-left: 5px;
                    vertical-align: middle;

                    img {
                      width: 100%;
                      cursor: pointer;
                    }
                  }
                }

                .cav-h3 {
                  margin: 15px 0;
                  padding-bottom: 5px;
                  border-bottom: 1px solid #ccc;
                }

                .cav-letComment {
                  // border: 1px solid rosybrown;
                  border-bottom: 1px solid #ccc;
                  display: flex;

                  .cav-commMain {
                    // border-bottom: 1px solid #ccc;
                    width: 80%;

                    .cav-commHead {
                      // display: flex;
                      margin-bottom: 5px;

                      .cav-commId {
                        font-weight: bold;
                        font-size: 14px;
                        margin-right: 5px;
                      }

                      .cav-commTime {
                        color: #777;
                        font-size: 10px;
                        text-align: initial;
                      }
                    }
                  }

                  .cav-commOption {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin: 0 auto;
                  }
                }
              }
            }
          }
        }
      }
    }

    .cav-prod {
      width: 30vw;
      height: 30vw;
      margin: 3%;
    }

    .cav-myItem {
      display: inline-block;
      height: auto;

      .cav-leftWrap {
        width: 80%;
        margin: 0 auto;
      }
    }

    .cav-rightWrap {
      display: inline-block;
      width: 80%;
      margin-top: 100px;
      margin-left: 10%;

      .cav-tabWrap {
        top: 9.7%;

        .cav-prod {
          width: 20vw;
          height: 20vw;
          margin: 3%;
        }

        .cav-addProd {
          width: 20vw;
          height: 20vw;
          margin: 3%;
        }
      }
    }
  }
}

@include respond(iphone) {
  .cav-main {
    width: 100%;

    .cav-leftWrap {
      .cav-tabWrap {
        // min-height: 535px;
        // max-height: 80%;
        // height: 44vw;
        padding: 10px;
        overflow-y: scroll;
      }
      .cav-botBlock {
        border: $border;
        border-top: none;
        background-color: #ddd;
        width: 100%;
        height: 60px;
        position: relative;
        /* 按鈕 */
        #btns {
          width: 40%;
          display: flex;
          margin-left: 40%;

          .orderBtnBoxGroup {
            width: 60%;
            // margin: 0;

            .orderBtnBox {
              position: relative;

              .orderBtn {
                font-size: 20px;
                letter-spacing: 0.2em;
                position: relative;
                width: 95%;
                height: 30px;
                background-color: #ffd139;
                border: $border;
                text-align: center;
                line-height: 40px;
                border-radius: 0.3em;
                cursor: pointer;
                color: white;
                text-shadow: 1px 1px 1px black;
                z-index: 1;

                .orderText {
                  position: absolute;
                  width: 100%;
                  top: 35%;
                  left: 50%;
                  transform: translate(-47.5%, -25%);
                  font-weight: 900;
                  color: #fff;
                  @include stroke(2, #0f0f0f);
                  font-weight: 400;
                  z-index: 3;
                }

                &:before {
                  content: "";
                  position: absolute;
                  width: 50%;
                  height: 52%;
                  left: -36%;
                  bottom: -28%;
                  border-radius: 0.3em;
                  border: $border;
                  // background-color: #FFD139;
                  // background-image: url("../img/product/decorate/materail-04.svg");
                  // background-size: cover;
                  transform: rotate(90deg) skew(60deg);
                  background: -webkit-linear-gradient(40deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                  background: linear-gradient(40deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                  background-size: 7px 7px;
                }

                &:after {
                  content: "";
                  position: absolute;
                  position: absolute;
                  width: 50%;
                  height: 52%;
                  left: 86%;
                  bottom: -28%;
                  border-radius: 0.3em;
                  border: $border;
                  // background-color: #FFD139;
                  // background-image: url("../img/product/decorate/materail-04.svg");
                  // background-size: cover;
                  transform: rotate(90deg) skew(300deg);
                  background: -webkit-linear-gradient(220deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                  background: linear-gradient(40deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                  background-size: 7px 7px;
                }

                &.clicked {
                  top: 10px;

                  &:before {
                    width: 40%;
                    height: 44%;
                    left: -27%;
                    bottom: 4%;
                    transform: rotate(90deg) skew(50deg);
                  }

                  &:after {
                    width: 40%;
                    height: 44%;
                    left: 87%;
                    bottom: 4%;
                    transform: rotate(90deg) skew(310deg);
                  }
                }
              }

              .orderBtnBottom {
                position: absolute;
                width: 122%;
                height: 30px;
                left: -14%;
                top: 80%;
                border: $border;
                background: -webkit-linear-gradient(-70deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                background: linear-gradient(-70deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                background-size: 7px 7px;
                border-radius: 0.1em;
                z-index: 0;
              }
            }
          }
        }
      }
    }
    .cav-boxImg {
      width: 100%;
      position: relative;
      margin: 150px auto 0;
      overflow-x: scroll;
      .cav-horiImg {
        display: none;
      }
      .cav-vertImg {
        display: block;
        width: 90%;
        margin: 0 auto;
        position: relative;
      }

      .cav-boxFront {
        width: 80%;
        height: 93%;
        position: absolute;
        top: 3.5%;
        left: 10%;
        border: 2px solid fuchsia;
        overflow: hidden;

        .cav-boxFrontLeft {
          border: 1px solid green;
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 10px;

          .cav-whoLetter {
            border: 1px solid fuchsia;
            display: flex;
            justify-content: space-around;

            .cav-myLetter {
              border: 1px solid sandybrown;
              position: relative;
              width: 50%;
              .btn {
                padding: -0.2vw 1vw;
                top: 30%;
                left: -2%;
              }
            }

            .cav-otherLetter {
              border: 1px solid sandybrown;
              width: 50%;
              .btn {
                padding: -1.2vw 1vw;
                top: 30%;
                left: -2%;
              }
            }
          }

          .cav-histLetter1 {
            border: $border;
            background-color: #ddd;
            padding: 5px;
            height: 84.7%;

            .cav-histLetter2 {
              border: $border;
              background-color: rgb(74, 117, 112);
              padding: 10px;
              height: 100%;
              overflow-y: scroll;

              &::-webkit-scrollbar {
                width: 0;
                background-color: #ccc;
                border-radius: 2px;
              }

              &::-webkit-scrollbar-thumb {
                width: 5px;
                background-color: slategrey;
                border-radius: 10px;
              }

              > .cav-letters {
                border: $border;
                height: 100px;
                margin: 0 auto 10px;
                padding: 3%;
                border-radius: 20px;
                background-color: $main-yellow;
                overflow: hidden;
                display: flex;
                cursor: pointer;

                &.cav-looking {
                  background-color: $main-red;
                }

                .cav-letWord {
                  border: 1px solid blue;
                  width: 80%;

                  .cav-letTitle {
                    margin: 0;
                  }

                  .cav-letTime {
                    margin: 0;
                  }
                }

                .cav-letSetting {
                  border: 1px solid blueviolet;
                  width: 20%;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  > div {
                    margin: 0 auto;
                    height: 50%;

                    i {
                      font-size: 30px;

                      &:hover {
                        color: $main-dark-red;
                      }
                    }
                  }
                  .cav-landLetter {
                    left: -40%;
                  }
                }
              }
            }
          }
        }

        .cav-boxFrontRight {
          // display: none;
          position: absolute;
          top: 0;
          right: -200%;
          width: 100%;
          height: 100%;
          opacity: 0;
          visibility: hidden;
          transition: all 0.5s;
          &.active {
            right: 0;
            opacity: 1;
            visibility: visible;
            .cav-showLetterBack {
              .cav-showLetter {
                .cav-letterBg {
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }

          .cav-showLetterBack {
            // border: none;
            // height: 100vh;
            // width: 100vw;
            // position: relative;
            // left: -8%;
            // background-color: transparent;

            .cav-showLetter {
              width: 100%;
              left: -20%;
              height: 100%;
              overflow-y: scroll;

              &::-webkit-scrollbar {
                width: 0;
                background-color: #ccc;
                border-radius: 2px;
              }

              &::-webkit-scrollbar-thumb {
                width: 5px;
                background-color: slategrey;
                border-radius: 10px;
              }

              .cav-letterBg {
                border: 50px solid transparent;
                border-image: url("../img/cave/cav-postCard_b.svg") 50 50 round;
                background-color: #fff;
                width: 100%;
                margin: 0 auto;

                .cav-letImg {
                  width: 100%;
                  overflow: hidden;

                  img {
                    width: 100%;
                  }
                }

                hr {
                  border: 1px solid #ccc;
                  margin: 15px auto;
                }

                .cav-letNavbar {
                  display: flex;
                  justify-content: flex-end;

                  .cav-letNavOption {
                    width: 35px;
                    height: 35px;
                    margin-left: 5px;
                    vertical-align: middle;

                    img {
                      width: 100%;
                      cursor: pointer;
                    }
                  }
                }

                .cav-h3 {
                  margin: 15px 0;
                  padding-bottom: 5px;
                  border-bottom: 1px solid #ccc;
                }

                .cav-letComment {
                  border-bottom: 1px solid #ccc;
                  display: flex;

                  .cav-commMain {
                    width: 80%;

                    .cav-commHead {
                      margin-bottom: 5px;

                      .cav-commId {
                        font-weight: bold;
                        font-size: 14px;
                        margin-right: 5px;
                      }

                      .cav-commTime {
                        color: #777;
                        font-size: 10px;
                        text-align: initial;
                      }
                    }
                  }

                  .cav-commOption {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin: 0 auto;
                  }
                }
              }
            }
          }
        }
      }
    }

    .cav-prod {
      width: 30vw;
      height: 30vw;
      margin: 3%;
    }

    .cav-myItem {
      display: inline-block;
      height: auto;

      .cav-leftWrap {
        width: 80%;
        margin: 0 auto;
      }
    }

    .cav-rightWrap {
      display: inline-block;
      width: 80%;
      margin-top: 100px;
      margin-left: 10%;

      .cav-tabWrap {
        top: 10.4%;

        .cav-prodWrap {
          padding: 2%;

          .cav-prod {
            width: 21vw;
            height: 21vw;
            margin: 2%;
          }

          .cav-addProd {
            width: 21vw;
            height: 21vw;
            margin: 2%;
          }
        }
      }
    }
  }
}
