.chat-body {
    margin: 0;
    background: -webkit-radial-gradient(#ccc 30%, #fff 20%);
    background: radial-gradient(#ccc 30%, #fff 20%);
    background-size: 10px 10px;
}

.chatroom-main {
    width: 100%;
    max-width: 1260px;
    margin: 100px auto 0;
    // border: 10px solid gold;
    padding: 0;
    box-sizing: border-box;
    font-size: 0px;
    font-family: $font;

    .mainSection {
        // border:1px solid forestgreen;
        float: left;
        width: 180px;
        height: 647px;
        margin-top: 64px;
        padding-left: 40px;
        position: relative;
        overflow: hidden;
        margin-bottom: -5px;
        overflow-y: scroll;
        z-index: 2;

        &::-webkit-scrollbar {
            // border:1px solid firebrick;
            width: 10px;
            border-radius: 10px;
            background: $main-yellow;
        }

        &::-webkit-scrollbar-thumb {
            width: 5px;
            background-color: $main-blue;
            border-radius: 10px;
        }

        .sectionMark1 {
            width: 130px;
            height: 130px;
            @include border();
            padding: 9px;
            margin-top: 17px;
            // margin-left: 52px;
            background-color: $main-green;
            text-align: center;
            font-size: 18px;

            .overImg {
                width: 70px;
                margin: 0 auto;
    
                img {
                    width: 100%;
                }
    
            }
        }

        .MarkRed {
            background-color: $main-red;
        }
    }

    .mainBook {
        @include border();
        border-radius: 50px;
        width: 100%;
        max-width: 1260px;
        padding: 25px;
        margin-left: -187px;
        margin-bottom: 100px;
        float: left;
        // border: 1px solid orange;
        background-image: url(../img/chatroom/bg_book.png);

        .bookDashed {
            width: 100%;
            max-width: 1300px;
            border: 3px dashed brown;
            border-radius: 50px;
            padding: 30px 40px;

            .dashPage1 {
                width: 100%;
                max-width: 1100px;
                @include border();
                background-color: $main-yellow;
                background: -webkit-linear-gradient(40deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                background: linear-gradient(-40deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                background-size: 9px 12px;
                padding: 0 20px;

                .dashPage2 {
                    width: 100%;
                    max-width: 1050px;
                    @include border();
                    background-color: $main-yellow;
                    border-bottom: none;
                    margin-top: -.2vw;
                    padding: 0 20px;
                    background: -webkit-linear-gradient(40deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                    background: linear-gradient(-40deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                    background-size: 9px 12px;

                    .dashPage3 {
                        width: 100%;
                        max-width: 1000px;
                        @include border();
                        background-color: $main-yellow;
                        border-bottom: none;
                        margin-top: -.2vw;
                        padding: 0 20px;
                        background: -webkit-linear-gradient(40deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                        background: linear-gradient(-40deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                        background-size: 9px 12px;

                        .dashPage4 {
                            width: 100%;
                            max-width: 950px;
                            @include border();
                            background-color: $main-yellow;
                            border-bottom: none;
                            margin-top: -.2vw;
                            padding: 0 20px;
                            background: -webkit-linear-gradient(40deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                            background: linear-gradient(-40deg, $main-yellow 45%, #000 45%, #000 55%, $main-yellow 55%);
                            background-size: 9px 12px;

                            .dashPage5 {
                                width: 100%;
                                max-width: 900px;
                                height: 650px;
                                @include border();
                                margin-top: -.2vw;
                                background-color: #fff;
                                border-bottom: none;
                                padding: 0 20px;
                                padding: 20px;
                                // border: 1px solid lightseagreen;
                                position: relative;

                                .pageImg {
                                    position: absolute;
                                    margin-left: 43%;
                                    top: -30px;
                                    height: 700px;
                                    // border: 1px solid lightpink;
                                }

                                .pageContent {
                                    width: 100%;
                                    height: 540px;
                                    overflow-y: scroll;
                                    display: block;
                                    // border: 1px solid  lawngreen;

                                    &::-webkit-scrollbar {
                                        // border:1px solid firebrick;
                                        width: 0;
                                        border-radius: 10px;
                                        background: $main-yellow;
                                    }

                                    &::-webkit-scrollbar-thumb {
                                        width: 5px;
                                        background-color: $main-blue;
                                        border-radius: 10px;
                                    }

                                    .contentYour {
                                        // border: 1px solid lightpink;
                                        margin-left: 20px;
                                        margin-bottom: 5px;

                                        .overImg {
                                            width: 70px;
                                            margin: 0 auto;
                                            vertical-align: top;
                                            display: inline-block;
                                            margin-bottom: 1%;


                                            img {
                                                width: 100%;
                                            }                                            
                                        }


                                        p {
                                            margin: 80px 0 0 0;
                                            border: 2px solid #353535;
                                            background-color: rgb(215, 230, 245);
                                            font-size: 16px;
                                            padding: 10px;
                                            border-radius: 0px 20px 20px 20px;
                                            display: inline-block;
                                        }
                                    }

                                    .pageContent img {
                                        width: 70px;
                                        // border:1px solid dimgray;
                                        display: block;
                                    }

                                    .contentMe {
                                        float: right;
                                        display: block;

                                        p {
                                            border: 2px solid #353535;
                                            background-color: rgb(252, 241, 173);
                                            font-size: 16px;
                                            padding: 10px;
                                            border-radius: 20px 0 20px 20px;
                                            display: inline-block;
                                            margin-bottom: 0px;
                                        }
                                    }

                                    .meClearfix {
                                        clear: both;
                                    }
                                }

                                .contentSend {
                                    width: 40%;
                                    height: 50px;
                                    border: 2px solid #353535;
                                    border-radius: 30px;
                                    text-align: center;
                                    position: absolute;
                                    right: 5px;
                                    bottom: 30px;
                                }

                                .sendClearfix {
                                    clear: both;
                                }

                                .sendText {
                                    width: 87%;
                                    height: 46px;
                                    border: none;
                                    border-radius: 30px;
                                    float: left;
                                    outline: none;
                                    font-size: 18px;
                                    padding: 5px 10px;
                                    // border:1px solid lightpink;
                                }

                                button {
                                    width: 10%;
                                    background-color: transparent;
                                    border: none;
                                }

                                .contentSend img {
                                    width: 10%;
                                    min-width: 35px;
                                    // border: 1px solid dimgray;
                                    margin-top: 5px;
                                    float: left;
                                    display: block;
                                }

                            }
                        }
                    }
                }
            }
        }

    }

    .mainClearfix {
        clear: both;
    }
}

@include respond(desktop) {

    // 1199px------992px;
    .chatroom-main {
        .mainBook {
            .bookDashed {
                .dashPage1 {
                    .dashPage2 {
                        .dashPage3 {
                            .dashPage4 {
                                .dashPage5 {
                                    .pageContent {
                                        overflow-y: scroll;
                                        .contentYour,
                                        .contentYour_1,
                                        .contentYour_2 {
                                            p {
                                                max-width: 150px;
                                            }
                                        }

                                        .contentMe {
                                            p {
                                                max-width: 150px;
                                            }
                                        }

                                    }

                                    .contentSend {
                                        .sendText {
                                            width: calc(100% - 50px);
                                        }

                                        img {
                                            width: 10%;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }

            }
        }
    }
}

@include respond(mediumSize) {

    //991px------768px;
    .chatroom-main {
        .mainSection {
            width: 167px;
            margin-top: 48px;
            padding-left: 25px;
            max-height: 691px;
        }

        .mainBook {
            margin-left: -167px;

            .bookDashed {
                padding: 15px 20px;

                .dashPage1 {
                    padding-right: 0;
                    border-right: none;
                    margin-bottom: -5px;

                    .dashPage2 {
                        padding-right: 0;
                        border-right: none;
                        margin-bottom: 5px;

                        .dashPage3 {
                            padding-right: 0;
                            border-right: none;
                            margin-bottom: -5px;

                            .dashPage4 {
                                padding-right: 0;
                                border-right: none;
                                margin-bottom: -5px;

                                .dashPage5 {
                                    padding-right: 50px;
                                    width: 100%;
                                    overflow: hidden;

                                    .pageImg {
                                        position: absolute;
                                        margin-left: 0;
                                        right: -53px;
                                        top: -30px;
                                        height: 758px;
                                    }

                                    .pageContent {
                                        overflow-y: scroll;
                                        .contentYour,
                                        .contentYour_1,
                                        .contentYour_2 {
                                            img {
                                                width: 12%;
                                                min-width: 70px;
                                            }

                                            p {
                                                margin: 13% 0 0 0;
                                            }
                                        }

                                    }

                                    .contentSend {
                                        width: 83%;
                                        right: 9%;

                                        .sendText {
                                            width: calc(100% - 55px);
                                        }

                                        button {
                                            width: 5%;
                                        }

                                        img {
                                            width: 25%;
                                            max-width: 35px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include respond(small) {

    //767px------576px;
    .chatroom-main {
        .mainSection {
            width: 167px;
            margin-top: 48px;
            padding-left: 25px;
        }

        .mainBook {
            margin-left: -167px;

            .bookDashed {
                padding: 15px 20px;

                .dashPage1 {
                    padding-right: 0;
                    border-right: none;
                    margin-bottom: -5px;

                    .dashPage2 {
                        padding-right: 0;
                        border-right: none;
                        margin-bottom: 5px;

                        .dashPage3 {
                            padding-right: 0;
                            border-right: none;
                            margin-bottom: -5px;

                            .dashPage4 {
                                padding-right: 0;
                                border-right: none;
                                margin-bottom: -5px;

                                .dashPage5 {
                                    width: 100%;
                                    padding-right: 50px;
                                    padding-bottom: 15%;
                                    margin-bottom: -5px;
                                    overflow: hidden;

                                    .pageImg {
                                        position: absolute;
                                        margin-left: 0;
                                        right: -50px;
                                        top: -25px;
                                    }

                                    .pageContent {
                                        overflow-y: scroll;

                                        .contentYour,
                                        .contentYour_1,
                                        .contentYour_2 {
                                            margin-bottom: 15px;

                                            img {
                                                width: 15%;
                                                min-width: 55px;
                                            }

                                            p {
                                                margin: 18% 0 0 0;
                                            }
                                        }


                                    }

                                    .contentSend {
                                        width: 75%;
                                        height: 50px;
                                        right: 15%;
                                        bottom: 10px;

                                        .sendText {
                                            width: calc(100% - 55px);
                                        }

                                        img {
                                            width: 9%;
                                            min-width: 35px;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}


@include respond(note) {

    //575px------376px;
    .chatroom-main {
        overflow: hidden;

        .mainSection {
            width: calc(100% - 30px - 20px - 10px);
            height: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            padding: 0;
            position: relative;
            top: 180px;
            left: 50%;
            transform: translateX(-50%);

            &::-webkit-scrollbar {
                height: 10px;
            }

            &::-webkit-scrollbar-thumb {
                height: 10px;
                border-radius: 5px;
            }

            .sectionOver {
                white-space: nowrap;

                .sectionMark1 {
                    width: 117px;
                    height: 117px;
                    padding: 12px;
                    margin-top: 0;
                    display: inline-block;
                    vertical-align: top;
                    border-top: .4vw solid $main-black;

                    img {
                        width: 60px;
                        border-radius: 50px;
                        background-color: #fff;
                    }
                }
            }
        }

        .mainBook {
            margin-left: 0px;
            padding: 10px;

            .bookDashed {
                padding: 15px 15px;

                .dashPage1 {
                    padding: 0;
                    border-right: none;
                    border-left: none;
                    margin-bottom: -5px;
                    margin-top: 150px;

                    .dashPage2 {
                        padding: 0;
                        border-right: none;
                        border-left: none;
                        margin-bottom: -5px;

                        .dashPage3 {
                            padding: 0;
                            border-right: none;
                            border-left: none;
                            margin-bottom: -5px;

                            .dashPage4 {
                                padding: 0;
                                border-right: none;
                                border-left: none;
                                margin-bottom: -5px;

                                .dashPage5 {
                                    width: 100%;
                                    width: 100%;
                                    height: 500px;
                                    padding: 2% 0 0 2%;
                                    margin-bottom: 0px;
                                    overflow: hidden;

                                    .pageImg {
                                        position: absolute;
                                        margin-left: 0;
                                        right: -50px;
                                        top: -30px;
                                    }

                                    .pageContent {
                                        height: 87%;
                                        overflow-y: scroll;
                                        padding: 0;
                                        padding-right: 10%;

                                        .contentYour {
                                            margin-bottom: 15px;
                                            margin-left: 0px;

                                            img {
                                                width: 15%;
                                                min-width: 55px;
                                            }

                                            p {
                                                margin: 18% 0 0 0;
                                                max-width: 180px;
                                            }

                                        }

                                        .contentYour_1 {
                                            margin-bottom: 15px;
                                            margin-left: 0px;

                                            img {
                                                width: 15%;
                                                min-width: 55px;
                                            }

                                            p {
                                                margin: 18% 0 0 0;
                                                max-width: 180px;
                                            }

                                        }

                                        .contentYour_2 {
                                            margin-bottom: 15px;
                                            margin-left: 0px;

                                            img {
                                                width: 15%;
                                                min-width: 55px;
                                            }

                                            p {
                                                margin: 18% 0 0 0;
                                                max-width: 180px;
                                            }

                                        }

                                        .contentMe {
                                            p {
                                                width: 100%;
                                                max-width: 180px;
                                            }
                                        }
                                    }

                                    .contentSend {
                                        width: 78%;
                                        height: 50px;
                                        right: 17%;
                                        bottom: 10px;

                                        .sendText {
                                            width: calc(100% - 45px);
                                        }

                                        button {
                                            button {
                                                width: 5%;
                                            }
                                        }

                                        img {
                                            width: 9%;
                                            min-width: 30px;
                                            margin-top: 9px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include respond(iphone) {

    //375px;
    .chatroom-main {
        overflow: hidden;

        .mainSection {
            width: calc(100% - 27px);
            height: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            padding: 0;
            position: relative;
            top: 178px;
            left: 50%;
            transform: translateX(-50%);

            &::-webkit-scrollbar {
                height: 10px;
            }

            &::-webkit-scrollbar-thumb {
                height: 10px;
                border-radius: 5px;
            }

            .sectionOver {
                white-space: nowrap;

                .sectionMark1 {
                    width: 100px;
                    height: 100px;
                    padding: 5px;
                    margin-top: 0;
                    display: inline-block;
                    vertical-align: top;
                    border-top: .4vw solid $main-black;

                    img {
                        width: 60px;
                        border-radius: 50px;
                        background-color: #fff;
                    }
                }
            }
        }

        .mainBook {
            width: 110%;
            margin-left: -5%;
            padding: 10px;

            .bookDashed {
                padding: 15px 15px;

                .dashPage1 {
                    height: 100%;
                    padding: 0;
                    border: none;
                    margin-top: 150px;

                    .dashPage2 {
                        height: 100%;
                        padding: 0;
                        border: none;

                        .dashPage3 {
                            height: 100%;
                            padding: 0;
                            border: none;

                            .dashPage4 {
                                height: 100%;
                                padding: 0;
                                border: none;

                                .dashPage5 {
                                    width: 100%;
                                    height: 500px;
                                    padding: 2% 0 0 2%;
                                    margin-bottom: 0px;
                                    overflow: hidden;

                                    .pageImg {
                                        height: 110%;
                                        position: absolute;
                                        margin-left: 0;
                                        right: -10%;
                                        top: -5%;
                                    }

                                    .pageContent {
                                        height: 87%;
                                        overflow-y: scroll;
                                        padding: 0;
                                        padding-right: 15%;

                                        .contentYour {
                                            margin-bottom: 15px;
                                            margin-left: 0px;

                                            img {
                                                width: 15%;
                                                min-width: 55px;
                                            }

                                            p {
                                                margin: 18% 0 0 0;
                                                max-width: 180px;
                                            }

                                        }

                                        .contentYour_1 {
                                            margin-bottom: 15px;
                                            margin-left: 0px;

                                            img {
                                                width: 15%;
                                                min-width: 55px;
                                            }

                                            p {
                                                margin: 18% 0 0 0;
                                                max-width: 180px;
                                            }

                                        }

                                        .contentYour_2 {
                                            margin-bottom: 15px;
                                            margin-left: 0px;

                                            img {
                                                width: 15%;
                                                min-width: 55px;
                                            }

                                            p {
                                                margin: 18% 0 0 0;
                                                max-width: 70%;
                                            }

                                        }

                                        .contentMe {
                                            p {
                                                width: 100%;
                                                max-width: 150px;
                                            }
                                        }
                                    }

                                    .contentSend {
                                        width: 80%;
                                        height: 50px;
                                        right: 15%;
                                        bottom: 2%;

                                        .sendText {
                                            width: calc(100% - 45px);
                                        }

                                        img {
                                            width: 9%;
                                            min-width: 30px;
                                            margin-top: 7px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}