.home_body {
    margin: 0 auto;
    // overflow-x: hidden;
    box-sizing: border-box;
    font-size: 0;

    .home_first {
        width: 100%;
        height: 800px;
        overflow: hidden;

        .p-canvas-webgl {
            // position: absolute;
            // top: 0;
            // right: 0;
            // bottom: 0;
            // left: 0;

            // z-index: 1;
        }
    }

    .home_skyPoint {
        width: 100%;
        background: -webkit-radial-gradient(rgb(62, 125, 184) 30%, rgb(195, 215, 233) 20%);
        background: radial-gradient(rgb(62, 125, 184) 30%, rgb(195, 215, 233) 20%);
        background-size: 10px 10px;
        -webkit-animation: bscale 100s infinite linear;
        animation: bscale 100s infinite linear;
        overflow: hidden;
        position: relative;

        @-webkit-keyframes bscale {
            0% {
                background-position: 0px 0px;
            }

            100% {
                background-position: 100% 100%;
            }
        }

        @keyframes bscale {
            0% {
                background-position: 0px 0px;
            }

            100% {
                background-position: 100% 100%;
            }
        }

        .home_space {
            opacity: 0.9;
            width: 100%;
            height: 100px;
            // background: linear-gradient(-90deg, rgb(214, 225, 219)70%, transparent 70%) center center /100% 100%, rgba(255, 255, 255, .5);
            background: linear-gradient(0deg, rgba(195, 215, 233, .0) 30%, transparent 100%) center center /100% 100%, #eeeeee;
            position: relative;
        }

        .hang2 {
            // padding-top: 20px;
            position: absolute;
            top: 20px;
            z-index: 5;
        }

        .hang3 {
            position: absolute;
            top: 20px;
            z-index: 5;
        }

        .mountain_box {
            width: 100%;
            height: 1800px;
            background-image: url(../img/home/write/mountain.png);
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            margin-top: 100px;

            .floatPaper1 {
                width: 22%;
                position: absolute;
                top: 37%;
                left: 10%;
            }

            .floatPaper2 {
                width: 22%;
                position: absolute;
                top: 58%;
                right: 15%;
            }

            .floatPaper3 {
                width: 15%;
                position: absolute;
                bottom: 5%;
                left: 17%;
            }
        }


        .write {
            width: 100%;
            height: 1044px;
            background-image: url(../img/home/write/desk.png);
            background-repeat: no-repeat;
            // background-size: 100%;
            margin-top: -190px;
            padding-top: 180px;
            display: flex;

            .write_L {
                width: 47%;
                // height: 100%;
                // border: 1px solid pink;
                margin-top: -1vw;

                .writeTitle {
                    width: 30vw;
                    height: 17.5vw;
                    // border: 1px solid red;
                    position: relative;
                    margin-left: 20%;

                    .writeTitleBg1,
                    .writeTitleBg2 {
                        width: 95%;
                        height: 90%;
                    }

                    .writeTitleBg2 {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .black_box {
                    // border: 1px solid green;
                    width: 42vw;
                    margin-left: 7%;
                    margin-top: -2.75vw;

                    .bottle {
                        width: 17%;
                        transform: rotate(125deg);
                    }

                    .blackWater {
                        // border: 1px solid blue;
                        width: 90%;
                        height: 27vw;
                        background-image: url(../img/home/write/black-water.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin-top: -17.5%;
                        margin-left: 8%;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        h1 {
                            font-family: $font;
                            font-size: 3vw;
                            color: white;
                        }
                    }
                }
            }

            .write_R {
                width: 53%;
                // border: 1px solid aqua;
                margin-top: -1vw;

                .write_Rbox {
                    display: flex;

                    .write_many {
                        margin-left: 10%;
                        // border: 1px solid greenyellow;
                        width: 68%;
                        height: 44vw;
                        background-image: url(../img/home/write/writePaper.svg);
                        background-repeat: no-repeat;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .write_paper {
                            width: 77%;
                            height: 88%;
                            background-image: url(../img/home/write/letter.png);
                            background-repeat: no-repeat;
                            background-size: cover;
                            z-index: 0;

                        }
                    }

                    img {
                        width: 32%;
                        align-self: flex-end;
                        margin-left: -15%;
                        // position: relative;
                        z-index: 5;
                    }
                }
            }
        }

        .fold1,
        .fold2,
        .shoot {
            width: 100%;
            height: 935px;
            background-image: url(../img/home/write/desk.png);
            background-repeat: no-repeat;
            // background-size: cover;
            // background-position: bottosm;
            position: relative;
            // display: flex;

            .foldPaper1 {
                width: 27.5vw;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .left_hand1 {
                // RWD手對不到紙 ; 方法一:單純用absolute; 方法二:absolute配上translate
                width: 60%;
                position: absolute;
                left: -15%;
                // bottom: -25%;
                top: 73%;
                transform: translate(0, -50%);
            }

            .right_hand1 {
                width: 60%;
                position: absolute;
                right: -15%;
                // bottom: -25%;
                top: 73%;
                transform: translate(0, -50%);
            }

            .foldPaper2 {
                width: 27.5vw;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .left_hand2 {
                width: 60%;
                position: absolute;
                left: -15%;
                bottom: -50%;
            }

            .right_hand2 {
                width: 60%;
                position: absolute;
                right: -15%;
                bottom: -50%;
            }

            .shootHand {
                width: 72.5%;
                position: absolute;
                left: -29%;
                bottom: 28%;
            }

            .foldPaper3 {
                width: 40vw;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .home_catch {
        width: 100%;
        // height: 900px;
        background: -webkit-linear-gradient(45deg, rgb(247, 239, 197) 45%, rgb(235, 215, 109) 45%, rgb(235, 215, 109) 55%, rgb(247, 239, 197) 55%);
        background: linear-gradient(45deg, rgb(247, 239, 197) 45%, rgb(235, 215, 109) 45%, rgb(235, 215, 109) 55%, rgb(247, 239, 197) 55%);
        background-size: 20px 20px;
        -webkit-animation: bscale2 40s infinite linear;
        animation: bscale2 40s infinite linear;
        overflow: hidden;
        position: relative;

        @-webkit-keyframes bscale2 {
            0% {
                background-position: 0px 0px;
            }

            100% {
                background-position: 100% 100%;
            }
        }

        @keyframes bscale2 {
            0% {
                background-position: 0px 0px;
            }

            100% {
                background-position: 100% 100%;
            }
        }

        .grassBack {
            width: 100%;
            height: 800px;
            background-image: url(../img/home/catch/grassBack.svg);
            background-repeat: no-repeat;
            background-size: cover;
            // border: 1px solid pink;
            margin-top: 60px;
        }

        .grassMid {
            width: 100%;
            height: 800px;
            background-image: url(../img/home/catch/grassMid.svg);
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: -750px;
            ;
        }

        .grassFront {
            width: 100%;
            height: 860px;
            // border: 1px solid red;
            background-image: url(../img/home/catch/grassFront.png);
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: -650px;
            position: relative;

            .catch_main {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                animation: shake 2s infinite linear;
            }

            @keyframes shake {
                0% {
                    transform: translate(-50%, -50%) rotate(0);
                }

                25% {
                    transform: translate(-50%, -50%) rotate(10deg);
                }

                50% {
                    transform: translate(-50%, -50%) rotate(0);
                }

                75% {
                    transform: translate(-50%, -50%) rotate(-10deg);
                }

                100% {
                    transform: translate(-50%, -50%) rotate(0);
                }
            }

            .catch_LT {
                width: 17%;
                position: absolute;
                top: 10%;
                left: 5%;
                animation: shake2 4s infinite linear;
            }

            @keyframes shake2 {
                0% {
                    transform: rotate(0);
                }

                25% {
                    transform: rotate(-10deg);
                }

                50% {
                    transform: rotate(0);
                }

                75% {
                    transform: rotate(10deg);
                }

                100% {
                    transform: rotate(0);
                }
            }

            .catch_LB {
                width: 12%;
                position: absolute;
                bottom: 20%;
                left: 15%;
                animation: shake3 3s infinite linear;
            }

            @keyframes shake3 {
                0% {
                    transform: rotate(0);
                }

                25% {
                    transform: rotate(5deg);
                }

                50% {
                    transform: rotate(0);
                }

                75% {
                    transform: rotate(-5deg);
                }

                100% {
                    transform: rotate(0);
                }
            }

            .catch_RT {
                width: 15%;
                position: absolute;
                top: 23%;
                right: 5%;
                animation: shake2 5s infinite linear;
            }

            .catch_RB {
                width: 20%;
                position: absolute;
                bottom: 3%;
                right: 16%;
                animation: shake3 5s infinite linear;
            }
        }

        .net {
            width: 38%;
            position: absolute;
            top: 20%;
            left: -28%;
        }
    }

    .home_catch {
        .grassFront {
            .catch_letter {
                // border: 5px solid $main-black;
                width: 25%;
                height: 34.9vw;
                background-image: url(../img/home/write/letter.png);
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                left: 50%;
                bottom: 3%;
                transform: translate(-50%, 0);
                z-index: 0;
            }
        }

        .cap {
            opacity: 50%;
            transform: rotate(90deg);
            top: 0%;
            left: 17%;
        }

        .catchTitle {
            width: 35%;
            height: 47vw;
            // border: 1px solid blue;
            background-image: url(../img/home/catch/stick.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 55%;
            position: absolute;
            right: 3%;
            bottom: 1%;

            .boardTop {
                width: 100%;
                height: 16.7vw;
                // border: 1px solid palevioletred;
                background-image: url(../img/home/catch/boardTop.svg);
                background-repeat: no-repeat;
                margin-top: 10%;
                position: relative;

                h1 {
                    position: absolute;
                    top: 25%;
                    left: 30%;
                }
            }

            .boardBot {
                width: 72%;
                height: 17.3vw;
                // border: 1px solid slateblue;
                background-image: url(../img/home/catch/boardBot.svg);
                background-repeat: no-repeat;
                margin: 5% auto 0 18%;
                display: flex;
                justify-content: center;
                align-items: center;

                h1 {
                    font-family: $font;
                    font-size: 3vw;
                }
            }
        }
    }

    .home_custom {
        width: 100%;
        // (1)淺灰色
        background: -webkit-linear-gradient(0deg, rgb(229, 229, 229) 0%, rgb(245, 245, 245) 100%);
        background: linear-gradient(90deg, rgb(229, 229, 229) 0%, rgb(245, 245, 245) 100%);

        // (2)綠鐵皮色
        // background: -webkit-linear-gradient(0deg, rgb(157, 191, 158) 0%, rgb(114, 148, 113) 100%);
        // background: linear-gradient(90deg, rgb(157, 191, 158) 0%, rgb(114, 148, 113) 100%);

        background-size: 30px 30px;

        .tube {
            width: 100%;
            height: 1571px;
            background-image: url(../img/home/catch/tube.png);
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 10%;
            position: relative;

            .machineBox {
                width: 48%;
                height: 35%;
                // border: 1px solid red;
                position: absolute;
                top: 0;

                .machine_base {
                    width: 20%;
                    position: absolute;
                    bottom: 0;
                }

                .machine_hand {
                    width: 90%;
                    position: absolute;
                    bottom: 15%;
                    left: 5%;
                }
            }

            .smokeBox {
                border: 1px solid blue;
                width: 40%;
                height: 16.5vw;
                position: absolute;
                right: 30%;
                top: 20%;

                .smokeS {
                    filter: drop-shadow(0px -12px 9px rgba(0, 0, 0, 0.65));

                }

                .smokeM {
                    position: absolute;
                    bottom: 14.5%;
                    left: 38%;
                    filter: drop-shadow(0px -12px 9px rgba(0, 0, 0, 0.65));

                }

                .smokeL {
                    position: absolute;
                    top: 0;
                    right: 0;
                    filter: drop-shadow(0px -12px 9px rgba(0, 0, 0, 0.65));
                }
            }
        }

        .print {
            width: 100%;
            height: 1090px;
            // border: 1px solid blue;
            background-image: url(../img/home/catch/print.png);
            background-repeat: no-repeat;
            background-size: contain;
            margin-top: -270px;
            position: relative;

            h1 {
                font-family: $font;
                font-size: 54px;
                position: absolute;
                top: 45%;
                left: 43%;
            }
        }
    }

    .home_belt {
        width: 100%;
        height: 940px;
        background-image: url(../img/home/store/customBg.png);
        position: relative;

        .paintBox {
            width: 25%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
        }

        .belt {
            width: 60%;
            height: 100%;
            background-image: url(../img/home/store/belt.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            margin: 0 auto;
        }

        .foldStamp {
            width: 20%;
            position: absolute;
            top: 50%;
            left: 51%;
            transform: translate(-50%, -50%);
        }

        .lightBox {
            width: 25%;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
        }

        .lightBox::before {
            content: "";
            width: 210%;
            height: 210%;
            // border: 1px solid red;
            background-image: url(../img/home/store/spotlight.png);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 47%;
            left: -172%;
            transform: translate(0, -50%);
            filter: drop-shadow(0px 0px 10px rgba(209, 209, 209, 0.2)) contrast(200%);
            animation: twinkle 4s ease-in-out infinite;
            -webkit-animation: twinkle 4s ease-in-out infinite;
        }

        @keyframes twinkle {
            0% {
                opacity: 1;
            }

            25% {
                opacity: 0.4;
            }

            50% {
                opacity: 0.8;
            }

            75% {
                opacity: 0.4;
            }

            100% {
                opacity: 0;
            }
        }

        @-webkit-keyframes twinkle {
            0% {
                opacity: 1;
            }

            25% {
                opacity: 0.4;
            }

            50% {
                opacity: 0.8;
            }

            75% {
                opacity: 0.4;
            }

            100% {
                opacity: 0;
            }
        }
    }

    .home_store {
        width: 100%;
        height: 1000px;
        background-image: url(../img/home/store/storeBg.png);
        position: relative;

        .shed {
            width: 100%;
            height: 200px;
            background-image: url(../img/home/store/shed.svg);
            filter: drop-shadow(0px 14px 12px rgba(70, 70, 70, 0.7));
        }

        .cuboid {
            width: 300px;
            height: 500px;
            margin: 0 0 0 30px;
            background-color: $main-blue;
            position: absolute;
            top: 14%;
            display: inline-block;
            filter: drop-shadow(3px 8px 8px rgba(70, 70, 70, 0.5));

            .storeTitle {
                width: 80%;
                height: 90%;
                // border: 1px solid red;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: -webkit-radial-gradient(rgb(215, 175, 4) 30%, rgb(255, 255, 217) 20%);
                background: radial-gradient(rgb(215, 175, 4) 30%, rgb(255, 255, 217) 20%);
                background-size: 10px 10px;
                box-shadow: -7px 7px 15px 5px rgba(0, 0, 0, .5) inset;

                h1 {
                    line-height: 120%;
                    position: absolute;
                    top: 50%;
                    left: 56%;
                    transform: translate(-50%, -50%);
                }
            }

            .smLight {
                width: 20px;
                height: 20px;
                border-radius: 100%;
                // border: 2px solid rgb(70, 67, 66);
                filter: drop-shadow(0px 0px 5px rgba(209, 209, 209, .8)) contrast(200%);
            }

            .bulb_L1 {
                background-color: $main-white;
                position: absolute;
                top: 0.5%;
                left: 2%;
                animation: lightRedYel 2.1s ease-in infinite alternate 0.3s;
            }

            .bulb_L2 {
                background-color: $main-white;
                position: absolute;
                top: 25%;
                left: 2%;
                animation: lightYelRed 2.1s ease-in infinite alternate 0.6s;
            }

            .bulb_L3 {
                background-color: $main-white;
                position: absolute;
                top: 50%;
                left: 2%;
                animation: lightRedYel 2.1s ease-in infinite alternate 0.9s;
            }

            .bulb_L4 {
                background-color: $main-white;
                position: absolute;
                top: 75%;
                left: 2%;
                animation: lightYelRed 2.1s ease-in infinite alternate 1.2s;
            }

            .bulb_L5 {
                background-color: $main-white;
                position: absolute;
                bottom: 0.5%;
                left: 2%;
                animation: lightRedYel 2.1s ease-in infinite alternate 1.5s;
            }

            .bulb_B1 {
                background-color: $main-white;
                position: absolute;
                bottom: 0.5%;
                left: 31%;
                animation: lightYelRed 2.1s ease-in infinite alternate 1.8s;
            }

            .bulb_B2 {
                background-color: $main-white;
                position: absolute;
                bottom: 0.5%;
                right: 31%;
                animation: lightRedYel 2.1s ease-in infinite alternate 2.1s;
            }

            .bulb_R5 {
                background-color: $main-white;
                position: absolute;
                bottom: 0.5%;
                right: 2%;
                animation: lightYelRed 2.1s ease-in infinite alternate 2.4s;
            }

            .bulb_R4 {
                background-color: $main-white;
                position: absolute;
                top: 75%;
                right: 2%;
                animation: lightRedYel 2.1s ease-in infinite alternate 2.7s;
            }

            .bulb_R3 {
                background-color: $main-white;
                position: absolute;
                top: 50%;
                right: 2%;
                animation: lightYelRed 2.1s ease-in infinite alternate 3.0s;
            }

            .bulb_R2 {
                background-color: $main-white;
                position: absolute;
                top: 25%;
                right: 2%;
                animation: lightRedYel 2.1s ease-in infinite alternate 3.3s;
            }

            .bulb_R1 {
                background-color: $main-white;
                position: absolute;
                top: 0.5%;
                right: 2%;
                animation: lightYelRed 2.1s ease-in infinite alternate 3.6s;
            }

            .bulb_T2 {
                background-color: $main-white;
                position: absolute;
                top: 0.5%;
                right: 31%;
                animation: lightRedYel 2.1s ease-in infinite alternate 3.9s;
            }

            .bulb_T1 {
                background-color: $main-white;
                position: absolute;
                top: 0.5%;
                left: 31%;
                animation: lightYelRed 2.1s ease-in infinite alternate 4.2s;
            }

            @keyframes lightRedYel {
                0% {
                    // background-color: $main-yellow;
                    background-color: $main-white;
                }

                // 50% {
                //     background-color: $main-white;
                // }

                100% {
                    background-color: $main-yellow;
                    // background-color: $main-white;
                }
            }

            @keyframes lightYelRed {
                0% {
                    background-color: $main-white;
                }

                // 50% {
                //     background-color: $main-red;
                // }

                100% {
                    // background-color: $main-white;
                    background-color: $main-red;
                }
            }
        }

        .cuboid-lb:before {
            content: "";
            height: 100%;
            width: 30px;
            background-color: rgb(64, 106, 144);
            position: absolute;
            left: -30px;
            top: 15px;
            transform: skew(0, -45deg);
        }

        .cuboid-lb:after {
            content: "";
            width: 100%;
            height: 30px;
            background-color: rgb(64, 106, 144);
            position: absolute;
            top: 100%;
            left: -15px;
            transform: skew(-45deg);
        }

        .shopWindow {
            width: 37%;
            height: 35vw;
            // border: 1px solid green;
            margin: 60px auto 0 auto;
            background-color: rgb(113, 149, 184);

            .windowBg {
                width: 100%;
                height: 100%;
                background-image: url(../img/home/store/window.svg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                filter: drop-shadow(0px 12px 8px rgba(70, 70, 70, 0.5));
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: space-around;
                position: relative;

                .paintPlan {
                    width: 70%;
                    height: 40%;
                    // border: 1px solid yellow;
                    margin-top: 5%;
                }

                .price {
                    width: 40%;
                    height: 180px;
                    margin-bottom: 10%;
                    background-color: rgb(240, 224, 197);
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h1 {
                        font-family: $font;
                        font-size: 54px;
                    }
                }

                .price::before {
                    content: "";
                    width: 0px;
                    height: 0px;
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-bottom: 20px solid rgb(240, 224, 197);
                    position: absolute;
                    top: -20px;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
            }

            .windowBg::before {
                content: "";
                width: 100%;
                height: 100%;
                background-image: url(../img/home/store/glass3.png);
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.4;
                z-index: 10;
            }
        }

        .board {
            width: 400px;
            height: 300px;
            border: $border;
            border-radius: 4%;
            background-image: url(../img/home/store/boardWood.png);
            position: absolute;
            right: 5%;
            bottom: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 8px 8px 0px rgba(70, 70, 70, .5);

            .board_text {
                width: 90%;
                height: 90%;
                // border: 5px solid $main-black;
                background-image: url(../img/home/store/boardBg.png);
                display: flex;
                justify-content: center;
                align-items: center;

                h1 {
                    font-family: $font;
                    color: $main-white;
                }
            }
        }
    }

    .home_chat {
        width: 100%;
        height: 930px;
        background-image: url(../img/home/chat/chatBg.png);
        position: relative;

        .chatBox {
            width: 100%;
            height: 100%;
            display: flex;

            .chat_L {
                width: 45%;
                height: 100%;
                display: flex;
                align-items: center;

                .blueCover {
                    width: 97%;
                    height: 90%;
                    // background: -webkit-radial-gradient($main-black 30%, $main-blue 20%);
                    background: radial-gradient($main-black 20%, $main-blue 20%);
                    background-size: 12px 12px;
                    border-radius: 0 7% 7% 0;
                    border: $border;
                    display: flex;
                    align-items: center;

                    .line {
                        width: 95%;
                        height: 90%;
                        border-radius: 0 7% 7% 0;
                        border: 0.2vw dashed brown;
                        border-left: 0px;
                        display: flex;
                        align-items: center;

                        .chatPaper {
                            width: 93%;
                            height: 95%;
                            display: flex;

                            .chatWhite {
                                width: 85%;
                                height: 100%;
                                background-color: $main-white;
                                border: $border;
                                border-right: 0px;
                                border-left: 0px;
                                position: relative;

                                .ring {
                                    height: 110%;
                                    position: absolute;
                                    top: 50%;
                                    transform: translate(0, -50%);
                                }

                                .chatroom {
                                    width: 82%;
                                    height: 100%;
                                    // border: 1px solid red;
                                    float: right;
                                    display: block;
                                    position: relative;

                                    .chatMix1 {
                                        width: 100%;
                                        height: 10%;
                                        // border: 1px solid green;
                                        margin: 20% 0 12% 0;

                                        .chatFrame1 {
                                            width: 30%;
                                            height: 100%;
                                            border: $border;
                                            background-color: $main-yellow;
                                            border-radius: 30px 0 30px 30px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            float: right;
                                            margin-right: 3%;

                                            p {
                                                margin: 0;
                                                font-family: $font;
                                                font-size: 2rem;
                                            }
                                        }
                                    }

                                    .chatMix2 {
                                        width: 100%;
                                        height: 15%;
                                        display: block;
                                        // border: 1px solid blue;

                                        img {
                                            height: 100%;
                                        }
                                    }

                                    .chatMix3 {
                                        width: 100%;
                                        height: 10%;
                                        // border: 1px solid chocolate;
                                        margin-top: -3%;

                                        .chatFrame2 {
                                            width: 60%;
                                            height: 100%;
                                            border: $border;
                                            background-color: $main-blue;
                                            border-radius: 0px 30px 30px 30px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            margin-left: 21%;

                                            p {
                                                margin: 0;
                                                font-family: $font;
                                                font-size: 2rem;
                                            }
                                        }
                                    }

                                    .chatMix4 {
                                        width: 100%;
                                        height: 10%;
                                        display: block;
                                        // border: 1px solid green;
                                        margin: 12% 0 0 0;

                                        .chatFrame3 {
                                            width: 55%;
                                            height: 100%;
                                            border: $border;
                                            background-color: $main-yellow;
                                            border-radius: 30px 0 30px 30px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            float: right;
                                            margin-right: 3%;

                                            p {
                                                margin: 0;
                                                font-family: $font;
                                                font-size: 2rem;
                                            }
                                        }
                                    }

                                    .chatMix5 {
                                        width: 100%;
                                        height: 10%;
                                        display: block;
                                        // border: 1px solid indianred;
                                        position: absolute;
                                        bottom: 5%;

                                        .send {
                                            width: 95%;
                                            height: 100%;
                                            border: $border;
                                            border-radius: 30px 30px 30px 30px;
                                            float: right;
                                            margin-right: 3%;
                                            display: flex;
                                            align-items: center;
                                            justify-content: flex-end;

                                            img {
                                                height: 90%;
                                                float: right;
                                                margin-right: 2%;
                                            }
                                        }
                                    }
                                }
                            }

                            .chatYellow {
                                width: 15%;
                                height: 100%;
                                border: $border;
                                background: linear-gradient(-40deg, #f3de6b 45%, #000 45%, #000 55%, #f3de6b 55%);
                                background-size: 9px 12px;
                                border-left: 0px;
                                display: flex;

                                .yelPage {
                                    width: 25%;
                                    height: 100%;
                                    border-left: $border;
                                }
                            }
                        }
                    }
                }
            }

            .chat_R {
                width: 55%;
                height: 100%;
                // border: 1px solid palegreen;
                position: relative;

                .titleBox1 {
                    width: 30%;
                    height: 17vw;
                    // border: 1px solid aqua;
                    position: absolute;
                    top: 8%;
                    left: 8%;
                    z-index: 20;

                    .chat_title1 {
                        // border: 1px solid green;
                        width: 100%;
                        height: 100%;
                        background-image: url(../img/home/chat/noteWhite.svg);
                        background-repeat: no-repeat;
                        animation: wave 2s linear infinite;

                        h1 {
                            font-family: $font;
                            position: absolute;
                            top: 25%;
                            left: 50%;
                            transform: translate(-50%, 0);
                        }
                    }

                    img {
                        width: 65%;
                        position: absolute;
                        top: -17%;
                        left: -23%;
                    }

                    @keyframes wave {
                        0% {
                            transform-origin: left top;
                            transform: rotate(0);
                        }

                        50% {
                            transform-origin: left top;
                            transform: rotate(5deg);
                        }

                        100% {
                            transform-origin: left top;
                            transform: rotate(0);
                        }
                    }
                }

                .chat_title2 {
                    width: 30%;
                    height: 17vw;
                    // border: 1px solid olive;
                    background-image: url(../img/home/chat/noteWhite.svg);
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 26%;
                    left: 34%;

                    h1 {
                        font-family: $font;
                        position: absolute;
                        top: 25%;
                        left: 50%;
                        transform: translate(-50%, 0);
                    }
                }

                .titleBox2 {
                    width: 30%;
                    height: 17vw;
                    position: absolute;
                    top: 53%;
                    left: 18%;

                    .chat_title3 {
                        width: 100%;
                        height: 100%;
                        background-image: url(../img/home/chat/noteWhite.svg);
                        background-repeat: no-repeat;

                        h1 {
                            font-family: $font;
                            position: absolute;
                            top: 25%;
                            left: 50%;
                            transform: translate(-50%, 0);
                        }

                        img {
                            width: 65%;
                            position: absolute;
                            bottom: -11%;
                            left: -20%;
                        }
                    }
                }

                .noteYellow {
                    width: 33%;
                    height: 17.5vw;
                    background-image: url(../img/home/chat/noteYellow.svg);
                    background-repeat: no-repeat;
                    // border: 1px solid slateblue;
                    position: absolute;
                    right: 3%;
                    bottom: 3%;
                    display: flex;
                    justify-content: center;

                    h1 {
                        font-family: $font;
                        margin-top: 10%;
                    }
                }
            }
        }
    }
}