body {
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 0;

    .index_bg {
        width: 100vw;
        height: 100vh;

        background: -webkit-radial-gradient(rgb(200, 200, 200) 10%, rgb(33, 44, 65) 10%);
        background: radial-gradient(rgb(200, 200, 200) 10%, rgb(33, 44, 65) 10%);
        background-size: 3vw 3vw;
        position: relative;
        // -webkit-animation: bscale 60s infinite linear;
        // animation: indexScale 60s infinite linear;

        // @-webkit-keyframes bscale {
        //     0% {
        //         background-position: 0 0;
        //     }

        //     100% {
        //         background-position: 100% 100%;
        //     }
        // }

        // @keyframes indexScale {
        //     0% {
        //         background-position: 0% 0%;
        //     }

        //     100% {
        //         background-position: 100% 100%;
        //     }
        // }

        .post {
            width: 75vw;
            height: 43vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 0;

            background: -webkit-linear-gradient(45deg, rgb(236, 128, 120) 45%, rgb(255, 255, 255) 45%, rgb(255, 255, 255) 55%, rgb(236, 128, 120) 55%);
            background: linear-gradient(45deg, rgb(236, 128, 120) 45%, rgb(255, 255, 255) 45%, rgb(255, 255, 255) 55%, rgb(236, 128, 120) 55%);
            background-size: 3vw 3vw;
            -webkit-animation: lineScale 40s infinite linear;
            animation: lineScale 40s infinite linear;

            @-webkit-keyframes lineScale {
                0% {
                    background-position: 0 100%;
                }

                100% {
                    background-position: 100% 100%;
                }
            }

            @keyframes lineScale {
                0% {
                    background-position: 0 100%;
                }

                100% {
                    background-position: 100% 100%;
                }
            }

            .line_bg {
                border: 0.2vw solid $main-black;
                width: 95%;
                height: 91.5%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .front_bg {
                    display: inline-block;
                    width: 50%;
                    height: 100%;
                    background-color: rgb(255, 200, 184);
                }

                .back_bg {
                    display: inline-block;
                    width: 50%;
                    height: 100%;
                    background-color: rgb(241, 235, 217);
                }
            }

        }
    }
}