.bgimg{
    background-image: url("../img/index/index_pic.png");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    .bgimgwrap{
        width: 100%;
        height: 100%;
        // background: radial-gradient(rgba(255, 255, 255, .3) 30%, rgba(255, 255, 255,0) 20%);
        // background-size: 5px 5px;
        // animation: gradient 10s ease-in-out infinite alternate;
        display:flex;
        flex-direction:column;
        justify-content:center;
        .logoBox{
            width: 80%;
            @include marginAuto;
            .logopic{
                width: 80%;
                max-width: 500px;
                display: block;
                margin: 0 auto 100px;
            }
            .btnWrap{
                width: 50%;
                display:flex;
                @include marginAuto;
                .forward{
                    width: 50%;
                    .forwardBtn{
                        display: block;
                        text-decoration: none;
                    }
                    .forwardBtn:hover{
                        background-color: rgba(255,255,255,.2);
                        border-radius: 20px;
                    }
                }
                .back{
                    width: 50%;  
                    .backBtn{
                        display: block;
                        text-decoration: none;
                    }
                    .backBtn:hover{
                        background-color: rgba(255,255,255,.2);
                        border-radius: 20px;
                    }
                }
            }
        }
        
    }
    
}
