.userSetting_body{
    width: 100%;
    font-size: 0;
    background: radial-gradient($main-blue 30%, rgb(255, 255, 255) 20%);
    background-size: 20px 20px;
    animation: sky 140s infinite linear;
    @keyframes sky {
        0% {
            background-position: 0 0;
        }
        100% {                        
            background-position: 100% -100%;
        }
    }
    .userSettingBanner{
        height: 880px; 
        position: relative;
        overflow: hidden;
        font-size: 0;
        .picGrass{
            width: 1920px;
            position: absolute; 
            bottom: 0; 
            left: 50%; 
            transform: translateX(-50%);
        }
        .picTree{
            width: 8%; 
            min-width: 70px;
            position: absolute; 
            bottom: 45%; 
            left: 20%;
        }
        .picTree2{
            width: 10%; 
            min-width: 80px;
            position: absolute; 
            bottom: 35%; 
            left: 5%;
        }
        .picTree3{
            width: 6%; 
            min-width: 50px; 
            position: absolute; 
            bottom: 55%; 
            right: 5%;
        }
        .picFactory{
            width:50%;
            min-width: 370px;  
            position: absolute; 
            bottom: 20%; 
            left: 50%; 
            transform: translateX(-50%);
        }
    }
    .userSetting_main{
        width: 100%;
        max-width: 1920px;
        background-color: $main-blue;
        border-bottom: 80px solid $main-blue;
        @include marginAuto;
        .floor{
            width: 100%;
            background: radial-gradient(rgb(139, 98, 130) 30%, rgb(248, 230, 228) 20%);
            background-size: 10px 10px;
            overflow: hidden;
            position: relative;
            @include marginAuto;
            .userSetting_mem{
                width: 100%;
                height: 800px;
                border-top: 80px solid $main-blue;
                position: relative;
                h2{
                    right: 5%;
                    @include userSetting_title;
                }
                .memKanban{
                    padding: 20px;
                    background-color: $main-green;
                    border-radius: 15px;
                    @include userSetting_mem;
                    .memKanbanIn{
                        background-color: rgb(255, 255, 255);
                        @include border;
                        .memData{
                            margin:  10% 0 10px ;
                            width: 30%;
                            text-align: center;
                            display: inline-block;
                            background-image: url(../img/share/yellow-note.svg);
                            background-repeat: no-repeat;;
                        }
                        .airCoin{
                            @extend.memData;
                        }
                        .memcolor{
                            @extend.memData;
                        }
                        //userSetting_mem vue
                        .userSetting_memData{
                            padding-bottom: 20px;
                            width: 100%;
                            height: 410px;
                            text-align: left;
                            overflow: auto;
                            @include marginAuto;
                        }
                        .userSetting_memDataTable{
                            width: 90%;
                            @include marginAuto;
                        }
                        .userSetting_memData tr{
                            height: 40px;
                        }
                        .userSetting_memData td{
                            border: 3px solid $main-green;
                        }
                        .mempic{
                            width: 200px;
                            display: block;
                            @include marginAuto;
                        }
                        .userSetting_airCoin{
                            text-align: center;
                            @extend.userSetting_memData;
                        }
                        .userSetting_airCoinTable{
                            @extend.userSetting_memDataTable;
                        }
                        .userSetting_airCoin table td{
                            width: 33.33%;
                            border: none;
                            border-bottom: 3px dashed $main-green;
                            text-align: center;
                        }
                        .userSetting_memcolor{
                            text-align: center;
                            @extend.userSetting_memData;
                            .memcolorBig{
                                width: 90%;
                                border: 3px dashed $main-green;
                                border-bottom:none;
                                @include marginAuto;
                            }
                            .memcolorSmall{
                                width: 90%;
                                border: none;
                                display: flex;
                                @extend .memcolorBig;
                                img{
                                    width: 50%;
                                    border: 3px dashed $main-green;
                                }
                            }
                        }
                    }
                }
                .robotB1{
                    width: 34%;
                    position: absolute;
                    left: 0px;
                    bottom: 0;
                }
                .robotB1_2{
                    width: 55%;
                    position: absolute;
                    left: -8%;
                    bottom: 0;
                    transform: translateX(60%);
                }
                .box{
                    width: 7%;
                    position: absolute;
                    z-index: 7;
                    animation: box 10s ease-in-out infinite;
                    @keyframes box {
                        0% {
                            bottom: 20%;
                            left: 26%;
                            transform: rotate(0deg);
                        }
                        10% {
                            bottom: 16%;
                            left: 26%;
                        }
                        60%{
                            bottom: 16%;
                            left: 75%;
                            transform: rotate(0deg);
                        }
                        70%{
                            bottom: -5%;
                            left: 86%;
                            transform: rotate(90deg);
                        }
                        78% {                        
                            bottom: -30%;
                            left: 86%;
                            transform: rotate(90deg);
                        }
                        100% {                        
                            bottom: -100%;
                            left: 86%;
                            transform: rotate(90deg);
                        }
                    }
                }
                .space_B1{                   
                    right: 0;
                    z-index: 1;
                    @include userSetting_space;
                }
            }
            
            .userSetting_sys{
                width: 100%;
                height: 800px;
                border-top: 80px solid $main-blue;
                position: relative;
                h2{
                    left: 5%;
                    @include userSetting_title;
                }
                .sysKanban{
                    background: radial-gradient(rgba(238, 216, 233, .9) 30%, rgb(255, 255, 255) 20%);
                    background-size: 1px 40px;
                    @include userSetting_mem;
                    .manu{
                        margin:  5% 0 5% ;
                        width: 45%;
                        display: inline-block;
                        background-image: url(../img/share/yellow-note.svg);
                        background-repeat: no-repeat;
                    }
                    .ver{
                        @extend.manu;
                    }
                    //userSetting_mem vue
                    .userSetting_manu{
                        width: 70%;
                        height: 375px;
                        text-align: left;
                        overflow: auto;
                        @include marginAuto;
                        .userSetting_item{
                            height: 10%;
                            border-bottom: 2px dashed $main-black;
                        }
                    }
                    .userSetting_ver{
                        @extend.userSetting_manu;
                        h3{
                            border-bottom: 2px dashed $main-black;
                        }
                    }
                }
                .robotB2{
                    width: 28%;
                    position: absolute;
                    right: 2%;
                    bottom: 0;
                    z-index: 8;
                }
                .robotB2_2{
                    width: 53%;
                    position: absolute;
                    right: 27%;
                    bottom: 0;
                }
                .paper{
                    width: 7%;
                    position: absolute;
                    z-index: 7;
                    animation: paper 7s ease-in-out infinite;
                    @keyframes paper {
                        0% {
                            bottom: 19%;
                            right: 22%;
                            transform: rotate(0deg);
                        }
                        60%{
                            bottom: 19%;
                            right: 75%;
                            transform: rotate(0deg);
                        }
                        70%{
                            bottom: 10%;
                            right: 78%;
                            transform: rotate(-90deg);
                        }
                        78% {                        
                            bottom: -40%;
                            right: 83%;
                            transform: rotate(-90deg);
                        }
                        100% {                        
                            bottom: -93%;
                            right: 83%;
                            transform: rotate(-90deg);
                        }
                    }
                }
                .space_B2{
                    left: 0;
                    z-index: 2;
                    @include userSetting_space;
                }
            }
            
            .userSetting_adm{
                width: 100%;
                height: 800px;
                border-top: 80px solid $main-blue;
                position: relative;
                h2{
                    right: 5%;
                    @include userSetting_title;
                    z-index: 12;
                }
                .admKanban{
                    width: 50%;
                    min-width: 900px;
                    height: 100%;
                    border-top: 10px solid $main-black;
                    transform: translate(-50%,0%);
                    position: absolute;
                    left: 50%;
                    z-index: 11;
                    .admKanbanOverFlowOut{
                        @include marginAuto;
                        overflow-x: scroll;
                        .admKanbanOverFlowIn{
                            width: 900px;
                            height: 250px;
                            .mike{
                                background-image: url("../img/user-setting/light_mike.svg");
                                @include userSetting_admTag;
                                h3{
                                    padding-right: 25px;
                                    transform: rotate(-25deg);
                                    @include userSetting_admTagName;
                                }
                            }
                            .spencer{
                                background-image: url("../img/user-setting/light_spencer.svg");
                                @include userSetting_admTag;
                                h3{
                                    padding-right: 25px;
                                    transform: rotate(-25deg);
                                    @include userSetting_admTagName;
                                }
                            }
                            .allen{
                                background-image: url("../img/user-setting/light_allen.svg");
                                @include userSetting_admTag;
                                h3{
                                    padding-right: 25px;
                                    color: $main-white;
                                    @include userSetting_admTagName;
                                }
                            }
                            .grace{
                                background-image: url("../img/user-setting/light_grace.svg");
                                @include userSetting_admTag;
                                h3{
                                    padding-right: 25px;
                                    @include userSetting_admTagName;
                                }
                            }
                            .sharon{
                                background-image: url("../img/user-setting/light_sharon.svg");
                                @include userSetting_admTag;
                                h3{
                                    padding-left: 10px;
                                    transform: rotate(25deg);
                                    @include userSetting_admTagName;
                                }
                            }
                            .howard{
                                background-image: url("../img/user-setting/light_howard.svg");
                                @include userSetting_admTag;
                                h3{
                                    padding-left: 10px;
                                    transform: rotate(25deg);
                                    @include userSetting_admTagName;
                                }
                            }
                        }
                    }
                    // .admKanbanOverFlowOut::-webkit-scrollbar-track{
                    //     -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
                    //     background-color: rgba(255, 255, 255, .4);
                    //     border-radius: 10px;
                    // }
                    // .admKanbanOverFlowOut::-webkit-scrollbar{
                    //     width: 10px;
                    // }
                    // .admKanbanOverFlowOut::-webkit-scrollbar-thumb{
                    //     // background-color: #AAA;
                    //     background-color: rgba(255, 255, 255, 0.5);
                    //     border-radius: 10px;
                    //     // background-image: -webkit-linear-gradient(0deg,rgba(0, 0, 0, .2) 25%,transparent 25%,transparent 50%,rgba(0, 0, 0, .2) 50%,rgba(0, 0, 0, .2) 75%,transparent 75%,transparent);
                    //     background:rgba(8, 8, 8, 0.2);
                    // }
                    //userSetting_adm vue
                    .userSetting_mike{
                        background: radial-gradient(rgba(84, 179, 103, 0.5) 30%, rgb(255, 255, 255) 20%);
                        animation: leftLight 80s infinite linear;
                        display: flex;
                        @include userSetting_adm;
                        // .lighting{
                        //     bottom: 45%;
                        //     left: -9%;
                        //     transform: rotate(-24deg);
                        //     background: radial-gradient(rgba(84, 179, 103, 0.5) 30%, rgba(255, 255, 255, .6) 20%);
                        //     animation: leftLight 80s infinite linear;
                        //     @include lighting;
                        // }
                    }
                    .userSetting_spencer{
                        background: radial-gradient(rgba(148, 203, 255, 0.5) 30%, rgb(255, 255, 255) 20%);
                        animation: leftLight 80s infinite linear;
                        display: flex;
                        @include userSetting_adm;
                        // .lighting{
                        //     bottom: 45%;
                        //     left: 15%;
                        //     transform: rotate(-24deg);
                        //     background: radial-gradient(rgba(148, 203, 255, 0.5) 30%, rgba(255, 255, 255, .6) 20%);
                        //     animation: leftLight 80s infinite linear;
                        //     @include lighting;
                        // }
                    }
                    .userSetting_allen{
                        background: radial-gradient(rgba(170, 170, 170, 0.5) 30%, rgb(255, 255, 255) 20%);
                        animation: downLight 80s infinite linear;
                        display: flex;
                        @include userSetting_adm;
                        // .lighting{
                        //     bottom: 39%;
                        //     left: 25.5%;
                        //     background: radial-gradient(rgba(170, 170, 170, 0.5) 30%, rgba(255, 255, 255, .6) 20%);
                        //     animation: downLight 80s infinite linear;
                        //     @include lighting;
                        // }
                    }
                    .userSetting_grace{
                        background: radial-gradient(rgba(255, 224, 124, 0.5) 30%, rgb(255, 255, 255) 20%);
                        animation: downLight 80s infinite linear;
                        display: flex;
                        @include userSetting_adm;
                        // .lighting{
                        //     bottom: 39%;
                        //     left: 50.5%;
                        //     background: radial-gradient(rgba(255, 224, 124, 0.5) 30%, rgba(255, 255, 255, .6) 20%);
                        //     animation: downLight 80s infinite linear;
                        //     @include lighting;
                        // }
                    }
                    .userSetting_sharon{
                        background: radial-gradient(rgba(255, 180, 199, 0.5) 30%, rgb(255, 255, 255) 20%);
                        animation: rightLight 80s infinite linear;
                        display: flex;
                        @include userSetting_adm;
                        // .lighting{
                        //     bottom: 45%;
                        //     left: 64%;
                        //     transform: rotate(24deg);
                        //     background: radial-gradient(rgba(255, 180, 199, 0.5) 30%, rgba(255, 255, 255, .6) 20%);
                        //     animation: rightLight 80s infinite linear;
                        //     @include lighting;
                        // }
                    }
                    .userSetting_howard{
                        background: radial-gradient(rgba(255, 255, 255, 0.5) 30%, rgb(255, 255, 255) 20%);
                        animation: rightLight 80s infinite linear;
                        display: flex;
                        @include userSetting_adm;
                        // .lighting{
                        //     bottom: 45%;
                        //     left: 88.5%;
                        //     transform: rotate(24deg);
                        //     background: radial-gradient(rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, .6) 20%);
                        //     animation: rightLight 80s infinite linear;
                        //     @include lighting;
                        // }
                    }
                }
                .robotB3{
                    width: 30%;
                    max-height: 600px;
                    position: absolute;
                    left: 0px;
                    bottom: 0;
                    z-index: 8;
                }
                .paperPlane{
                    width: 8%;
                    position: absolute;
                    z-index: 7;
                    animation: paperPlane 5s ease-in-out infinite;
                }
            }
        }
    }
}

@include respond(mediumSize) {
    .userSetting_body {
        .userSetting_main {
            .floor {
                .userSetting_adm{
                    .admKanban{
                        .admKanbanOverFlowOut{
                            width: 767px;
                            .admKanbanOverFlowIn{
                                width: 900px;
                                height: 250px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include respond(small)  {
    .userSetting_body {
        .userSetting_main {
            .floor {
                .userSetting_adm{
                    .admKanban{
                        .admKanbanOverFlowOut{
                            width: 575px;
                            .admKanbanOverFlowIn{
                                width: 900px;
                                height: 250px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include respond(note) {
    .userSetting_body {
        .userSetting_main {
            .floor {
                .userSetting_mem{
                    h2{
                        @include userSetting_title_note;
                    }
                    .memKanban{
                        @include kanbanSize;
                        .memKanbanIn{
                            .memData{
                                width: 75px;
                            }
                        }
                    }
                }
                .userSetting_sys{
                    h2{
                        @include userSetting_title_note;
                    }
                    .sysKanban{
                        @include kanbanSize;
                        .manu{
                            width: 75px;
                        }
                    }
                }
                .userSetting_adm{
                    h2{
                        @include userSetting_title_note;
                    }
                    .admKanban{
                        .admKanbanOverFlowOut{
                            width: 420px;
                        }
                        .userSetting_mike, .userSetting_spencer, .userSetting_allen, .userSetting_grace, .userSetting_sharon, .userSetting_howard{
                            max-width: 420px;
                        }
                    }
                }
            }
        }
    }
}

@include respond(iphone) {
    .userSetting_body {
        .userSetting_main {
            .floor {
                .userSetting_mem{
                    h2{
                        @include userSetting_title_iphone;
                    }
                    .memKanban{
                        @include kanbanSize;
                        .memKanbanIn{
                            .memData{
                                width: 75px;
                            }
                        }
                    }
                    .box{
                        display: none;
                    }
                }
                .userSetting_sys{
                    h2{
                        @include userSetting_title_iphone;
                    }
                    .sysKanban{
                        @include kanbanSize;
                        .manu{
                            width: 75px;
                        }
                    }
                    .paper{
                        display: none;
                    }
                }
                .userSetting_adm{
                    h2{
                        @include userSetting_title_iphone;
                    }
                    .admKanban{
                        .admKanbanOverFlowOut{
                            width: 375px;
                        }
                        .userSetting_mike, .userSetting_spencer, .userSetting_allen, .userSetting_grace, .userSetting_sharon, .userSetting_howard{
                            max-width: 350px;
                        }
                    }
                }
            }
        }
    }
}
  