.nav-body {
  width: 100%;
  margin: 0 auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid forestgreen;
  // height: 3000px;

  .nav-hamPosition {
    // position: absolute;
    // top: 60px;
    // right: 15vw;
    width: 1180px;
    // border: 1px solid fuchsia;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 4%;
    margin: 0 auto;
    z-index: 999;

    .nav-hamburgerWrap {
      width: 70px;
      height: 70px;
      background-color: $main-yellow;
      // border: 2px solid salmon;
      border-radius: 50%;
      position: fixed;
      border: 5px solid $main-black;
      margin: 50px 20px 0 0;
      z-index: 990;
      display: none;
      .hambuger {
        cursor: pointer;
        height: 60px;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .line {
          background-color: $main-black;
          height: 5px;
          width: 90%;
          border-radius: 3px;
          transition: 0.4s;
          margin: 0 auto;
          // border: 2px solid $main-black;

          &:nth-of-type(1) {
            animation: coLine1 0.5s forwards;
            margin-top: 13px;
          }
          &:nth-of-type(2) {
            margin: 10px auto;
          }
          &:nth-of-type(3) {
            animation: coLine3 0.5s forwards;
          }
        }
      }
      .change {
        .line {
          &:nth-of-type(1) {
            animation: roLine1 0.5s forwards;
          }

          &:nth-of-type(2) {
            opacity: 0;
          }

          &:nth-of-type(3) {
            animation: roLine2 0.5s forwards;
          }
        }
      }

      @keyframes roLine1 {
        0% {
          transform: translateY(0) rotate(0);
        }
        50% {
          transform: translateY(15px) rotate(0);
        }
        100% {
          transform: translateY(15px) rotate(45deg);
        }
      }

      @keyframes roLine2 {
        0% {
          transform: translateY(0) rotate(0);
        }
        50% {
          transform: translateY(-15px) rotate(0);
        }
        100% {
          transform: translateY(-15px) rotate(135deg);
        }
      }

      @keyframes coLine1 {
        0% {
          transform: translateY(10px) rotate(45deg);
        }
        50% {
          transform: translateY(10px) rotate(0);
        }
        100% {
          transform: translateY(0) rotate(0);
        }
      }

      @keyframes coLine3 {
        0% {
          transform: translateY(-10px) rotate(135deg);
        }
        50% {
          transform: translateY(-10px) rotate(0);
        }
        100% {
          transform: translateY(0) rotate(0);
        }
      }
    }
  }
}
.nav-navBgWrap {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -3%;
  width: 100%;
  height: 144px;
  z-index: 998;
  max-width: 960px;

  transition: top 2s;

  .nav-navBg {
    position: relative;

    .nav-navWrap {
      width: 98.4%;
      display: flex;
      justify-content: flex-start;
      z-index: 99;
      position: absolute;
      top: 33%;

      .nav-logoWrap {
        display: inline-block;
        width: 20%;
        height: 125px;

        a {
          display: block;
          height: 80%;
          width: 70%;
          margin: 5% auto;

          img {
            height: 100%;
            z-index: 990;
          }
        }
      }

      .nav-navPageWrap {
        width: 80%;
        height: 100%;
        .nav-list {
          width: 80%;
          height: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          list-style: none;

          .nav-logo {
            display: none;
          }

          li {
            vertical-align: bottom;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 17%;
            a {
              color: #333;
              text-decoration: none;
              font-size: 24px;
              width: 75%;
              text-align: center;
              font-weight: bolder;

              // writing-mode: vertical-lr;
              > p {
                white-space: nowrap;
                font-size: 1.1rem;
                margin: 0.8rem 0 0.5rem;
                &:hover {
                  color: $main-dark-red;
                  + %nav-circle {
                    background-color: $main-yellow;
                    background-image: url(../img/share/nav-paper-plane.png);
                    background-position: 40% 55%;
                    background-size: 36px;
                    background-repeat: no-repeat;
                  }
                }
              }

              %nav-circle {
                border: 2px solid $main-black;
                display: inline-block;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                overflow: hidden;
                cursor: pointer;
                background-color: #fff;
              }

              .nav-circle-1,
              .nav-circle-2,
              .nav-circle-3,
              .nav-circle-4,
              .nav-circle-5,
              .nav-circle-6 {
                @extend %nav-circle;
                &:hover {
                  background-color: $main-yellow;
                  background-image: url(../img/share/nav-paper-plane.png);
                  background-position: 40% 55%;
                  background-size: 36px;
                  background-repeat: no-repeat;
                }
              }

              .nav-now {
                background-color: $main-yellow;
                background-image: url(../img/share/nav-paper-plane.png);
                background-position: 40% 55%;
                background-size: 36px;
                background-repeat: no-repeat;
              }
            }
          }
          .hbg-pc {
            display: none;
          }
          &.open {
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            position: fixed;
            background-color: rgba($color: #444, $alpha: 0.99);
            top: 0;
            left: 50%;
            transform: translateX(-50%);

            .nav-logo {
              display: inline-block;
              width: 150px;
              object-fit: cover;

              img {
                width: 100%;
                height: 100%;
              }
            }

            li {
              width: 150px;
              text-align: center;
              a {
                width: 100%;
                height: 100%;
                display: flex;

                p {
                  margin: 0;
                  text-align: left;
                  line-height: 60px;
                  font-size: 1.2rem;
                  color: $main-white;
                  order: 2;
                  &:hover {
                    color: $main-red;
                  }
                }
                %nav-circle {
                  // width: 50%;
                  order: 1;
                  // float: left;
                  vertical-align: middle;
                  // margin-left: 20%;
                }
              }
            }

            .hbg-pc {
              display: inline-block;
              color: $main-white;
            }

            + .nav-road {
              display: none;
            }
          }
        }
        .nav-road {
          width: 70%;
          height: 25px;
          z-index: 95;
          margin-left: 5%;
          margin-top: -8.3%;
          background-color: #426e96;
          padding-top: 5px;

          > div {
            border: 6px dashed #426e96;
            width: 100%;
            background-color: $main-yellow;
            background: linear-gradient(0deg, #fff 30%, #fff 30%);
            background-size: 15px 2px;
            background-repeat: repeat-x;
            z-index: 99;

            .nav-circle:hover {
              background-color: yellow;
              background-image: url(../img/share/nav-paper-plane.png);
              background-position: 40% 55%;
              background-size: 36px;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }

    .nav-littleNav {
      position: absolute;
      top: 36%;
      right: 2.5%;
      z-index: 999;
      > a {
        display: inline-block;
        height: 24px;
        width: 24px;
        > i {
          font-size: 24px;
          color: #aaa;
          cursor: pointer;

          &:hover {
            color: $main-dark-red;
          }
          // &::after {
          //   content: "|";
          //   vertical-align: top;
          //   color: #ccc;
          // }
        }
      }
      .fa-cog::after {
        content: "";
      }
    }
    .nav-pc {
      position: absolute;
      top: 63%;
      right: 5%;
      font-size: 14px;
      font-weight: 600;
      // border: 1px solid lightseagreen;
    }
  }
}
.nav-navBgWrap.-on {
  position: fixed;
  animation: 0.2 all;
  top: -150%;
}

@include respond(desktop) {
  .nav-body {
    width: 100%;
    .nav-hamPosition {
      width: 100%;
    }
  }
  .open {
    li {
      width: 30%;
      // min-width: 300px;
      text-align: center;
      a {
        width: 100%;
        display: block;
        height: 100%;

        p {
          display: inline-block;
          // height: 100%;
          margin: 0;
          line-height: 60px;
          font-size: 1.2rem;
          color: $main-white;
          &:hover {
            color: $main-red;
          }
        }
      }
    }
  }
}
@include respond(mediumSize) {
  .nav-body {
    width: 100%;
    .nav-hamPosition {
      width: 100%;

      .nav-hamburgerWrap {
        display: inline-block;
      }
    }
  }

  .nav-navBgWrap {
    .nav-navBg {
      > img {
        display: none;
      }
      .nav-logoWrap {
        img {
          display: none;
        }
      }
      .nav-pc {
        display: none;
      }
      .nav-road {
        display: none;
      }
    }
  }

  .nav-navWrap {
    top: -200px !important;
  }
  .open {
    display: block;
  }
}
@include respond(small) {
  
  .nav-body {
    width: 100%;
    .nav-hamPosition {
      width: 100%;

      .nav-hamburgerWrap {
        display: inline-block;
      }
    }

  .nav-navBgWrap {
    display: inline-block;
    .nav-navBg {
      > img {
        display: none;
      }
      .nav-logoWrap {
        img {
          display: none;
        }
      }
      .nav-pc {
        display: none;
      }
      .nav-road {
        display: none;
      }
    }
  }

  .nav-navWrap {
    top: -200px !important;
    // display: none;
  }
  .open {
    display: block;
  }
}
}
@include respond(note) {
  .nav-body {
    width: 100%;
    .nav-hamPosition {
      width: 100%;
      .nav-hamburgerWrap {
        display: inline-block;
      }
    }
  }

  .nav-navBgWrap {
    .nav-navBg {
      > img {
        display: none;
      }
      .nav-logoWrap {
        img {
          display: none;
        }
      }
      .nav-pc {
        display: none;
      }
      .nav-road {
        display: none;
      }
    }
  }

  .nav-navWrap {
    top: -200px !important;
    // display: none;
  }
  .open {
    display: block;
  }
}

@include respond(iphone) {
  .nav-body {
    width: 100%;
    .nav-hamPosition {
      width: 100%;
      .nav-hamburgerWrap {
        display: inline-block;
      }
    }
  }

  .nav-navBgWrap {
    .nav-navBg {
      > img {
        display: none;
      }
      .nav-logoWrap {
        img {
          display: none;
        }
      }
      .nav-pc {
        display: none;
      }
      .nav-road {
        display: none;
      }
    }
  }

  .nav-navWrap {
    top: -200px !important;
    // display: none;
  }
  .open {
    display: block;
  }
}

//登入頁
.signInBg{
  width: 100%;
  height: 100%;
  background-color: rgba(68, 68, 68, 0.99);
  background-size: 10px 10px;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  .signInData {
    padding: 20px;
    width: 550px;
    height: 560px;
    background-image: url("../img/user-setting/setDataletter.png");
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 70;
    h4 {
      text-align: center;
    }
    .closeSignin {
      position: absolute;
      top: 3%;
      right: 4%;
      cursor: pointer;
    }
    .formsignInData {
      width: 100%;
      @include marginAuto;
      p{
        margin-bottom: 0;
      }
      .signInLogo {
        width: 50%;
        display: block;
        @include marginAuto;
      }
      input {
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        font-size: 16px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 5px;
        @include border;
      }
      .showForget,.showRegister{
        // display: inline-block;
        
        cursor: pointer;
      }
      button {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        background: #82afd9;
        background-size: 10px 10px;
        color: aliceblue;
      }
    }
  }
}

//註冊
.registerBg{
  width: 100%;
  height: 100%;
  background-color: rgba(68, 68, 68, 0.99);
  background-size: 10px 10px;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  .registerData {
    padding: 20px;
    width: 550px;
    height: 560px;
    background-image: url("../img/user-setting/setDataletter.png");
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 70;
    h4 {
      text-align: center;
    }
    .closeRegister {
      position: absolute;
      top: 3%;
      right: 4%;
      cursor: pointer;
    }
    .formRegisterData {
      width: 100%;
      p{
        margin-bottom: 0;
      }
      @include marginAuto;
      .registerLogo {
        width: 50%;
        display: block;
        @include marginAuto;
      }
      input {
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        font-size: 16px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 5px;
        @include border;
      }
      button {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        background: #82afd9;
        background-size: 10px 10px;
        color: aliceblue;
      }
    }
  }
  .envelopedown {
    width: 30%;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 69;
  }
  .envelopeup {
    z-index: 71;
    @extend.envelopedown;
  }
}
//忘記密碼
.forgetBg{
  width: 100%;
  height: 100%;
  background-color: rgba(68, 68, 68, 0.99);
  background-size: 10px 10px;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  .forgetBgData {
    padding: 20px;
    width: 550px;
    height: 560px;
    background-image: url("../img/user-setting/setDataletter.png");
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 70;
    h4 {
      text-align: center;
    }
    .closeForget {
      position: absolute;
      top: 3%;
      right: 4%;
      cursor: pointer;
    }
    .formForgetData {
      width: 100%;
      @include marginAuto;
      p{
        margin-bottom: 0;
      }
      .forgetLogo {
        width: 50%;
        display: block;
        @include marginAuto;
      }
      input {
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        font-size: 16px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 5px;
        @include border;
      }
      button {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        background: #82afd9;
        background-size: 10px 10px;
        color: aliceblue;
      }
    }
  }
}

@include respond(mediumSize){
  .signInBg,.registerBg,.forgetBg{
    .signInData,.registerData,.forgetBgData{
        padding: 20px;
        width: 60%;
      }
    }
  }

@include respond(small){
  .signInBg,.registerBg,.forgetBg{
    .signInData,.registerData,.forgetBgData{
        padding: 20px;
        width: 70%;
      }
    }
}
@include respond(note){
  .signInBg,.registerBg,.forgetBg{
    .signInData,.registerData,.forgetBgData{
        padding: 20px;
        width: 80%;
    }
  }
}
@include respond(iphone){
  .signInBg,.registerBg,.forgetBg{
    .signInData,.registerData,.forgetBgData{
        padding: 20px;
        width: 100%;
    }
  }
}