<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>catch-letter</title>
  <link href="./css/main.css" rel="stylesheet" type="text/css">
    <style>
        * {
            box-sizing: border-box;
        }
    </style>
  <script src="./js/three.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r16/Stats.min.js"></script>
  <script src="./js/boid.js"></script>
  <script src="./js/butterfly.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
</head>
<body class="catchletter-body">
  @@include("./layout/nav.html")
  @@include("./layout/header.html")
  @@include("./layout/paper-plane-world.html")
  <main id="catchLetterMain" style="display: none;">
    <div id="viewMore">
      <section class="catch-step-1">
        <div class="box-white catch-letter">
          <div class="letter-wrap">
            <div style="width:35%;height:20%;position:absolute;top:11%;right:-18%;background-position:center;background-size:contain;background-repeat:no-repeat;transform:translate(-50%,-50%) rotate(-15deg);" :style="{backgroundImage:userStamp[0]}"></div>
            <div class="paper-cloud"></div>
            <div class="letter-head">
              <div class="stamp-box" :style="{backgroundImage:letterUploadImg}"></div>
            </div>
            <div class="letter-contant scroll-container">
              <div class="text">
                <p style="font-weight: 800;">
                  {{letteTittle}}
                </p>
                <!-- 蓋章區 -->
                <div id="stampshot">
                  <!-- <div class=""></div> -->
                </div>
                <p>
                  {{letterContant_1}}
                </p>
                <p>
                  {{letterContant_2}}
                </p>
                <p>
                  {{publishedAt}}
                </p>
                <p>
                  {{author}}
                </p>
              </div>
            </div>
            
          </div>
        </div>

        <div class="catchLet-msgBox">
          <div class="dot-box-yellow comment-wrap">
            <span class="share-clip clip-left"></span>
            <div class="box-white top-left-bg">
                <div class="box-white top-left-bg">

                  <div class="dot-box-white comment-outbox scroll-container">
                    <template v-for="(item, index) in levMsg.length">
                      <div class="box-white comment">
                        <div class="comment-contant">
                          <h3 class="user-name">{{ msgUserId[index] }}</h3>
                          <p class="user-text">{{ levMsg[index] }}</p>
                        </div>
                        <!-- btn -->
                        <div class="comment-btn">
                          <!-- 檢舉 -->
                          <div class="circle circleBtn like">
                            <button class="circle button"></button>
                          </div>
                          <div class="circle circleBtn report">
                            <button class="circle button"></button>
                          </div>
                          
                        </div>
                      </div>
                    </template>
                  </div>

                </div>
            </div>
          </div>
          <div class="catchLet-Btn">
            <div class="likeBtn">
              <div class="btn-big-test">
                <div class="back side-way blueBtn"></div>
                <div class="left side-way blueBtn"></div>
                <div class="right side-way blueBtn"></div>
                <div class="top side-way blueBtn"></div>
                <div class="bottom side-way blueBtn_light">
                    <div class='side-way__text'> 打賞此信 </div>
                </div>
                <div class="front side-way blueBtn"></div>
              </div>
            </div>
            <div class="likeBtn">
              <div class="btn-big-test">
                <div class="back side-way redBtn"></div>
                <div class="left side-way redBtn"></div>
                <div class="right side-way redBtn"></div>
                <div class="top side-way redBtn"></div>
                <div class="bottom side-way redBtn_light">
                    <div class='side-way__text'> 檢舉此信 </div>
                </div>
                <div class="front side-way redBtn"></div>
              </div>
            </div>
          </div>
          
          
        </div>
      </section>
      <section class="catch-step-msg">
        <div class="dot-box-red comment-wrap">
        <div class="box-white top-left-bg">
            <div class="box-white top-left-bg">
              <div class="dot-box-white comment-outbox scroll-container">
                <div class="box-white comment invite-msg">留下你的想法！</div>
                  <!-- <input type="text" id="leaveMsg" name="leaveMsg" cols="30" rows="10" class="leaveMsg"> -->
                  <textarea id="leaveMsg" name="leaveMsg" cols="30" rows="10" class="leaveMsg" required>
                  </textarea>
              </div>

            </div>
        </div>
        </div>
        <a href="#" class="goto-shop-btn">
          <div class="paper-cloud"></div>
          <img src="./img/write-letter/goto-shop-btn.svg">
          <div class="dot-box-blue shop-signboard">
              <div class="box-white shop-title">
                  <h3 class="threed-text-red shop-text">邀請聊天</h3>
              </div>
          </div>
          
        </a>
      </section>
      
      <section class="catch-step-2" id="catchStep2">
        <div class="box-white bottom-bg">
            <span class="share-clip clip-left">
            </span>
            <div class="dot-box-yellow top-right top-right-bg">
                <div class="box-white top-right-bg">
                    <div class="box-white top-right-bg">
                        <div class="num-four">
                            <h2>選擇郵戳，進行下一步!</h2>
                        </div>
                        <div class="select-stamp">
                            <span class="arrow-white"></span>
                            <div class="stamp-type">
                              <template v-for="(item,index) in userStamp.length">
                                <button class="type" name="userStamp" :value="stampValue[index]" type="button"
                                @click="clickStamp"
                                @touchstart="clickStamp">
                                    <span :style="{backgroundImage: userStamp[index]}"></span>
                                </button>
                            </template>
                            </div>
                            <span class="arrow-white reverse"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
    </div>
  </main>
  <span id="goBackBtn" style="display: none;">
    <a href="./home.html" class="goBtn">回到首頁</a>
    <a id="catchAgain" class="goBtn">再撈一次</a>
    <a href="./cave.html" class="goBtn">前往倉庫</a>
  </span>
    @@include("./layout/foldthePlane.html")
    @@include("./layout/footer.html")

    <script src="./js/foldThePlane.js"></script>
    <script src="./js/catchLetter.js"></script>
    <script src="./js/randomCatch.js"></script>
  
  <script>
    let vmCatchLet= new Vue({
      el:'#catchLetterMain',
      data:{
        // threeOpen: true,
        viewMoreOpen:true,
        userNo: 0,
        userStamp:[],//存使用者 擁有 的郵戳
        stampValue:[],
        letterStamp: '',
        //串接信件內容
        letteTittle: "",
        letterContant_1: "",
        letterContant_2: "",
        letterUploadImg: "",
        publishedAt: "",
        author: "",
        msgUserId:[], //存留言者的id
        levMsg:[], //存留言
        letNo: 0,//撈出來的信件編號
      },
      methods: {
        clickStamp(e) {
          this.letterStamp = e.target.style.backgroundImage;
        },
      },
      mounted() {
        function onFulfilled(value){
          //登入成功 -> 取用戶彩繪圖案、用戶郵戳
          vmCatchLet.userNo = value;
          console.log(`userNo: ${vmCatchLet.userNo}`);
          
          fetch('./phps/fetchAllUserMat.php')
            .then(res=>res.json()).then(json=>{
              //拆出 stamp
              for(let i=0 ; i<json.data.length ; i++){
                if(json.data[i].stampNo){
                  vmCatchLet.userStamp.push(`url(${json.data[i].stampUrl})`);
                  vmCatchLet.stampValue.push(json.data[i].stampNo);//取 使用者飛機彩繪的編號得值(matPosNo)
                }
              }
              console.log(vmCatchLet.userStamp);
            })
        }
        function onRejected(reason){
          //沒有登入
          console.log(reason.message);
          let singInBox = document.getElementById('signInBg');
          let closeSigin = document.getElementById('closeSigin');
          let closeRegister = document.getElementById('closeRegister');
          let signInCancelBtn = document.getElementById('signInCancelBtn');
          let closeForget = document.getElementById('closeForget');
          let vistiorsBtn = document.createElement('button');
          let singInText = document.createElement('p');
          let vistiorsBtnText = document.createElement('p');
          singInBox.style.display = "block";
          
          closeSigin.style.display = "none";
          closeRegister.style.display = "none";
          closeForget.style.display = "none";
          signInCancelBtn.style.display = "none";
          vistiorsBtnText.innerText = "訪客登入";
          vistiorsBtn.setAttribute('id','vistiorsBtn');
          vistiorsBtn.setAttribute('type','button');
          vistiorsBtn.appendChild(vistiorsBtnText);
          singInText.innerText = reason.message;
          singInText.style="display:inline-block;width:80%;text-align:center;background-size:100% 100%;position:absolute;top:7.5%;left: 50%;transform:translate(-50%, -50%);z-index:999;color:#fff;font-size:2rem;";
          singInBox.appendChild(singInText);
          document.querySelector('.formsignInData').appendChild(vistiorsBtn);

          vistiorsBtn.addEventListener('click',visitorsLogin,false);
          // signInCancelBtn.onclick = visitorsLogin;
        }
        function visitorsLogin(e){
          e.target.preventDefault;
          document.getElementById('signInEmail').value="h750307@ii5g.org.tw";
          document.getElementById('signInPassword').value= "000";
        }
        function getSignInInfo(){
          return new Promise((resolve, reject)=>{
            let xhr = new XMLHttpRequest();
            xhr.onload = function () {
                let member = JSON.parse(xhr.responseText);
                if (member.memNo) {
                  console.log(member.memNo);
                  resolve(member.memNo);
                }else{
                  reject(new Error('請先登入才能撈信'))
                }
            }
            xhr.open("get", "./phps/nav_getSignInInfo.php", true);
            xhr.send(null);
          })
        }
        getSignInInfo()
          .then(onFulfilled)
          .catch(onRejected)
      },
    });
  </script>
</body>
</html>
