<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>catch-letter</title>
  <link href="./css/main.css" rel="stylesheet" type="text/css">
    <style>
        * {
            box-sizing: border-box;
        }
    </style>
  <script src="./js/three.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r16/Stats.min.js"></script>
  <script src="./js/boid.js"></script>
  <script src="./js/butterfly.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
</head>
<body class="catchletter-body">
  @@include("./layout/nav.html")
  @@include("./layout/header.html")
  @@include("./layout/paper-plane-world.html")
  <main id="catchLetterMain" style="display: none;">
    <div id="viewMore">
      <section class="catch-step-1">
        <div class="box-white catch-letter">
          <div class="letter-wrap">
            <div class="paper-cloud"></div>
            <div class="letter-head">
              <div class="stamp-box" :style="{backgroundImage:letterUploadImg}"></div>
            </div>
            <div class="letter-contant scroll-container">
              <div class="text">
                <p style="font-weight: 800;">
                  {{letteTittle}}
                </p>
                <!-- 蓋章區 -->
                <div id="stampshot">
                  <!-- <div class=""></div> -->
                </div>
                <p>
                  {{letterContant_1}}
                </p>
                <p>
                  {{letterContant_2}}
                </p>
                <p>
                  {{publishedAt}}
                </p>
                <p>
                  {{author}}
                </p>
              </div>
            </div>
            
          </div>
        </div>
        <div class="dot-box-yellow comment-wrap">
          <span class="share-clip clip-left"></span>
          <div class="box-white top-left-bg">
              <div class="box-white top-left-bg">

                <div class="dot-box-white comment-outbox scroll-container">
                  <template v-for="(item, index) in 5">
                    <div class="box-white comment">
                      <div class="comment-contant">
                        <h3 class="user-name">XXXXXXX</h3>
                        <p class="user-text">真是太有趣了！真是太有趣了！真是太有趣了！真是太有趣了！真是太有趣了！真是太有趣了！真是太有趣了！真是太有趣了！真是太有趣了！真是太有趣了！真是太有趣了！真是太有趣了！</p>
                      </div>
                      <!-- btn -->
                      <div class="comment-btn">
                        <!-- 檢舉 -->
                        <div class="circle circleBtn like">
                          <button class="circle button"></button>
                        </div>
                        <div class="circle circleBtn report">
                          <button class="circle button"></button>
                        </div>
                        
                      </div>
                    </div>
                  </template>
                </div>

              </div>
          </div>
        </div>
      </section>
      <section class="catch-step-2" id="catchStep2">
        <div class="box-white bottom-bg">
            <span class="share-clip clip-left">
            </span>
            <div class="dot-box-yellow top-right top-right-bg">
                <div class="box-white top-right-bg">
                    <div class="box-white top-right-bg">
                        <div class="num-four">
                            <h2>選擇郵戳，進行下一步!</h2>
                        </div>
                        <div class="select-stamp">
                            <span class="arrow-white"></span>
                            <div class="stamp-type">
                              <template v-for="(item,index) in 3">
                                <button class="type" name="userStamp" :value="index" @click.prevent="clickStamp" @touchstart.prevent="clickStamp">
                                    <span :style="{backgroundImage: userStamp[index]}"></span>
                                </button>
                              </template>
                            </div>
                            <span class="arrow-white reverse"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
    </div>
  </main>
    
    @@include("./layout/foldthePlane.html")
    @@include("./layout/footer.html")

    <script src="./js/foldThePlane.js"></script>
    <script src="./js/catchLetter.js"></script>
    <script src="./js/catchNews.js"></script>
  
  <script>
    let vmCatchLet= new Vue({
      el:'#catchLetterMain',
      data:{
        // threeOpen: true,
        viewMoreOpen:true,
        userStamp:[//存使用者 擁有 的郵戳
          "url(./img/userStamp/user-stamp_1.png)",
          "url(./img/userStamp/user-stamp_2.png)",
          "url(./img/userStamp/user-stamp_3.png)",
        ],
        letterStamp: '',
        //串接信件內容
        letteTittle: "",
        letterContant_1: "",
        letterContant_2: "",
        letterUploadImg: "",
        publishedAt: "",
        author: "",
      },
      methods: {
        clickStamp(e) {
          this.letterStamp = e.target.style.backgroundImage;
          // console.log(this.letterStamp);
        },
      },
    });
  </script>
</body>
</html>
