<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>catch-letter</title>
  <link href="./css/main.css" rel="stylesheet" type="text/css">
    <style>
        * {
            box-sizing: border-box;
        }
    </style>
  <script src="./js/three.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r16/Stats.min.js"></script>
  <script src="./js/boid.js"></script>
  <script src="./js/butterfly.js"></script>
</head>
<body class="catchletter-body">
  @@include("./layout/nav.html")
  @@include("./layout/paper-plane-world.html")
  <!-- @@include("./layout/header.html") -->
  <main id="catchLetter" style="display: none;">
    <div id="viewMore">
      <section class="catch-step-1">
        <div class="box-white catch-letter">
          <div class="letter-wrap">
            <div class="paper-cloud"></div>
            <div class="letter-head">
              <div class="stamp-box"></div>
              <div class="letter-tittle">
                <h3>舍，甲說，這是多麼傷心的事啊！</h3>
              </div>
            </div>
            <div class="letter-contant scroll-container">
              <div class="text">
                <p>籠罩著街上的煙，日頭是自東徂西，凶惡的他們忍相虐待，那時代，日月不相望的什麼新曆法，什麼是麵皮？在新月微光下的街市，看見鮮紅的血，但是他倆竟會自己走到橋上，就再開始。此刻，新年的一日，那時代，我去拿一面鑼來。在這黑暗之中，阻斷爭論，剛纔經市長一說，只有前進，在做頭老的，他不和人家分擔，不知流失多少人類所託命的田
                </p> 
                <div class="letter-upload-img"></div>
                <p>
                  礙步的石頭，互相提攜，和狺狺的狗吠，又產生有可供消費的勢力，農民播種犁田，現在不是糴不到半斗米？
                </p> 
              </div>
            </div>
            
          </div>
        </div>
        <div class="dot-box-yellow comment-wrap">
          <span class="share-clip clip-left"></span>
          <div class="box-white top-left-bg">
              <div class="box-white top-left-bg">

                <div class="dot-box-white comment-outbox scroll-container">
                  <template v-for="(item, index) in 5">
                    <div class="box-white comment">
                      <div class="comment-contant">
                        <h3 class="user-name">XXXXXXX</h3>
                        <p class="user-text">真是太有趣了！真是太有趣了！真是太有趣了！真是太有趣了！真是太有趣了！真是太有趣了！真是太有趣了！真是太有趣了！真是太有趣了！真是太有趣了！真是太有趣了！真是太有趣了！</p>
                      </div>
                      <!-- btn -->
                      <div class="comment-btn">
                        <!-- 檢舉 -->
                        <div class="circle" id="threed">
                          <button class="circle button"></button>
                        </div>
                        
                      </div>
                    </div>
                  </template>
                </div>

              </div>
          </div>
        </div>
      </section>
      <section class="catch-step-2" id="catchStep2">
        <div class="box-white bottom-bg">
            <span class="share-clip clip-left">
            </span>
            <div class="dot-box-yellow top-right top-right-bg">
                <div class="box-white top-right-bg">
                    <div class="box-white top-right-bg">
                        <div class="num-four">
                            <h2>選擇郵戳，進行下一步!</h2>
                        </div>
                        <div class="select-stamp">
                            <span class="arrow-white"></span>
                            <div class="stamp-type">
                                <template v-for="item in 3">
                                    <div class="type"></div>
                                </template>
                            </div>
                            <span class="arrow-white reverse"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
    </div>
  </main>
    
    @@include("./layout/foldthePlane.html");
    <!-- @@include("./layout/footer.html") -->

  <script src="./js/catchLetter.js"></script>
  <!-- <script src="./js/foldThePlane.js"></script> -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
  
  <script>
    const foldThePlane = {
            template: `
            <div id="imgWrap">
              <span id="pointer" class="pointerAll" draggable="true"></span>
              <div id="img"></div>
              <div id="imgLeftTriangle"></div>
              <div id="imgLeftTriangle2"></div>
              <div id="imgRightTriangle"></div>
              <div id="imgRightTriangle2"></div>
              <div id="imgFinalStep"></div>
              <div id="planeBody"></div>
              <div id="planeWing"></div>
            </div>
            `
        }

    new Vue({
      el:'#catchLetter',
      data:{
        // threeOpen: true,
        viewMoreOpen:true,
      },
    });
  </script>
</body>
</html>