<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>客製化商城</title>
  <link rel="stylesheet" href="./css/main.css">

</head>

<body class="shop-body">
  @@include("./layout/nav.html")
  @@include("./layout/header.html")
  <main class="shop-main">
    <section id="section1">
      <div class="container">
        <div class="row">
          <div id="conectionLine" class="col-12">
            <img src="./img/product/decorate/pinkclip.svg" alt="" class="iron_clip1">
            <img src="./img/product/decorate/pinkclip.svg" alt="" class="iron_clip2">
          </div>
        </div>
      </div>
      <div id="shopOutsideBox">
        <div class="shopItemContainer">
          <div class="itemPage1">
            <div class="itemPage2">
              <div class="itemPage0"></div>
            </div>
          </div>
        </div>

        <div id="app">
          <div class="col-12 col-sm-12  col-md-12 col-lg-12 itemCardBox ">
            <div class="itemCardAside">
              <div class="itemCardAsideBox">
                <div class="threed_text_box">
                  <h5 class="threed-text-red-endWhite" style="font-size: 2.5vw;letter-spacing:1vw;">選購商品</h5>
                </div>
                <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                          aria-expanded="true" aria-controls="collapseOne">
                          <h3>郵戳</h3>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        <h5 @click="visibility='countries'">地球村</h5>
                        <h5 @click="visibility='frame'">外框</h5>
                        <h5 @click="visibility='simple'">線條</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <h3>圖案</h3>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
                        <h5 @click="visibility='animal'">動物</h5>
                        <h5 @click="visibility='handpattern'">手繪</h5>
                        <h5 @click="visibility='vector'">向量</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <h3>工具</h3>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        <h5 @click="visibility='tool'">DIY工具</h5>
                        <h5 @click="visibility='tool'">信紙</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" itemCardContainer">
              <div class="cardFilter">
                <img src="./img/product/decorate/lineTop.png" alt="" class="line_top">
                <img src="./img/product/decorate/lineButtom.png" alt="" class="line_bottom">
                <div @click="changeIndex($event)" v-for="(item,index) in pagedListdata" v-if="change(index)"
                  :style="{backgroundImage:`url(${item.url})`}" :id=item.id :class=item.class>
                  <img src="./img/product/decorate/clip-04.svg" alt="">
                </div>
              </div>
              <div id="emptyBtn">
                <div class="switchBtnBox" @click="page = 1">
                  <div class="switchBtn">page1</div>
                </div>
                <div class="switchBtnBox" @click="page = 2">
                  <div class="switchBtn">page2</div>
                </div>
                <div class="switchBtnBox" @click="page = 3">
                  <div class="switchBtn">page3</div>
                </div>
              </div>
            </div>
          </div>
          <div class="filter_forSamll">
            <div class="filter_forSamllBox">
              <div class="threed_text_box">
                <h5 class="threed-text-red-endWhite" style="font-size: 2.5vw;letter-spacing:1vw;">選購商品</h5>
              </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  郵戳
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div class="dropdown-item" @click="visibility='countries'">地球村</div>
                  <div class="dropdown-item" @click="visibility='frame'">外框</div>
                  <div class="dropdown-item" @click="visibility='simple'">線條</div>
                </div>
              </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  圖案
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div class="dropdown-item" @click="visibility='animal'">動物</div>
                  <div class="dropdown-item" @click="visibility='handpattern'">手繪</div>
                  <div class="dropdown-item" @click="visibility='vector'">向量</div>
                </div>
              </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  工具
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div class="dropdown-item" @click="visibility='tool'">DIY工具</div>
                  <div class="dropdown-item" @click="visibility='tool'">信紙</div>
                </div>
              </div>
            </div>
          </div>
          <div id="outshadow"></div>
          <div id="medal">
            <div class="cross"></div>
            <div id="textBox">
              <div class="titleBox">
                <h4 id="titleInner"></h4>
              </div>
              <div class="textBox">
                <h6 id="infoInner"></h6>
              </div>
              <div class="chance_priceBox">
                <h5>信件被撈機率加乘 : <span id="chanceInner"></span>
                </h5>
                <h5>商品價格 :<span id="priceInner">50</span>
                </h5>
              </div>
            </div>
            <div class="product_display">
              <div class="model_material"><img src="./img/product/decorate/model_material.png" alt=""></div>
              <div class="model_arrow"><img src="./img/product/decorate/model_arrow-04.svg" alt=""></div>
              <div class="model_product"><img src="./img/product/decorate/model_product_1.png" alt=""></div>
            </div>
            <div class="orderBtnBoxGroup">
              <div @click="customerOrder($event)" class="orderBtnBox">
                <div class="orderBtn">
                  <!-- <div class="orderText">購買</div> -->
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <div id="pile">
      <div class="pilePaper"><span>xxxxxxxx xxxxxxx xxxxxx</span>
        <div class="innerBox"></div>
      </div>
      <div class="pile">
        <div class="clock"><img src="" alt=""></div>
        <div class="redWheel"><img src="" alt=""></div>
        <div class="perpul"><img src="" alt=""></div>
      </div>
    </div>
    <div class="container">
      <div class="row customize">
        <div class="customizeTitle">
          <div class="threed-text-red-endWhite"
            style="font-size: 2.5vw;letter-spacing:1vw;text-align: left;line-height:4vw ;">NEXT <br>客製圖樣</div>
        </div>
        <div class="manual">
          <div class="manualTitle">
            <h3>工具使用提示框</h3>
          </div>
          <div class="manualinnerText">
            <h6>滑鼠移入會提示您工具的使用方法喔</h6>
          </div>
        </div>
      </div>
    </div>
    <section id="section2">
      <div class="customizeArea">
        <div class="controlTool">
          <div class="controlToolTopFlex">
            <div class="controlToolTop">
              <div id="mode" class="controlBox1">
                <div class="controlBox1_button clicked">
                  <div class="controlBtn1 clicked"><img src="./img/product/toolcontrolbar/cannotWrite.png" alt=""
                      id="modeImg">
                  </div>
                </div>
              </div>
              <div id="clear" class="controlBox2">
                <div class="controlBox2_button">
                  <div class="controlBtn2 "><img src="./img/product/toolcontrolbar/control_reset.svg" alt=""></div>
                </div>
              </div>
              <div id="eraser" class="controlBox3">
                <div class="controlBox3_button">
                  <div class="controlBtn3 "><img src="./img/product/toolcontrolbar/control_eraser.svg" alt=""></div>
                </div>
              </div>
              <div id="group" class="controlBox4">
                <div class="controlBox4_button">
                  <div class="controlBtn4"><img src="./img/product/toolcontrolbar/merged.svg" alt=""></div>
                </div>
              </div>
              <div id="ungroup" class="controlBox5">
                <div class="controlBox5_button">
                  <div class="controlBtn5"><img src="./img/product/toolcontrolbar/split.svg" alt=""></div>
                </div>
              </div>
              <div id="text" class="controlBox6">
                <div class="controlBox6_button clicked">
                  <div class="controlBtn6 clicked"><img src="./img/product/toolcontrolbar/text-symbol.svg" alt=""></div>
                </div>
              </div>
              <div id="filter_Grayscale" class="controlBox8">
                <div class="controlBox8_button">
                  <div class="controlBtn8"><img src="./img/product/toolcontrolbar/filter.svg" alt=""></div>
                </div>
              </div>
              <div class="controlBox9">
                <button id="imageUploader" class="controlBox9_button clicked">
                  <input type="file" id="file">
                  <div class="controlBtn9 clicked"><img src="./img/product/toolcontrolbar/photo.svg" alt=""></div>
                </button>
              </div>
              <div id="outputPngBtn" class="controlBox10">
                <div class="controlBox10_button clicked">
                  <div class="controlBtn10 clicked"><img src="./img/product/toolcontrolbar/control_download.svg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="controlBoxBottom">
            <div class="brushType">
              <label class="brushlabel">
                <h5>畫筆種類</h5>
              </label>
              <div class="box">
                <select class="brushSelect">
                  <option value="Pencil">Pencil</option>
                  <option value="Circle">Circle</option>
                  <option value="Spray">Spray</option>
                  <option value="Square">Square</option>
                </select>
              </div>
            </div>
            <div class="lineColor">
              <label class="lineColorlabel">
                <h5> 畫筆顏色</h5>
              </label>
              <input type="color" min="0" max="150" class="lineColorInput">
            </div>
            <div class="shadowColor">
              <label class="shadowColorlabel">
                <h5> 陰影顏色</h5>
              </label>
              <input type="color" min="0" max="150" class="shadowColorInput">
            </div>
            <div class="lineWidth">
              <label class="lineWidthlabel">
                <h5> 畫筆大小</h5>
              </label>
              <input type="range" min="0" max="150" class="lineWidthInput" value="1">
              <span class="lineWidthValue">1</span>
            </div>
            <div class="shadowBlur">
              <label class="shadowBlurlabel">
                <h5> 陰影模糊</h5>
              </label>
              <input type="range" min="0" max="30" class="shadowBlurInput" value="1">
              <span class="shadowBlurValue">1</span>
            </div>
            <div class="shadowOffsetX">
              <label class="shadowOffsetXlabel">
                <h5> 陰影X軸</h5>
              </label>
              <input type="range" min="0" max="50" class="shadowOffsetXInput" value="1">
              <span class="shadowOffsetXValue">1</span>
            </div>
            <div class="shadowOffsetY">
              <label class="shadowOffsetYlabel">
                <h5> 陰影Y軸</h5>
              </label>
              <input type="range" min="0" max="50" class="shadowOffsetYInput" value="1">
              <span class="shadowOffsetYValue">1</span>
            </div>
          </div>
        </div>
        <div class="controlBoxRight">
          <div class="brushType">
            <label class="brushlabel">
              <h5>畫筆種類</h5>
            </label>
            <div class="box">
              <select class="brushSelect">
                <option value="Pencil">Pencil</option>
                <option value="Circle">Circle</option>
                <option value="Spray">Spray</option>
                <option value="Square">Square</option>
              </select>
            </div>
          </div>
          <div class="lineColor">
            <label class="lineColorlabel">
              <h5> 畫筆顏色</h5>
            </label>
            <input type="color" min="0" max="150" class="lineColorInput">
          </div>
          <div class="shadowColor">
            <label class="shadowColorlabel">
              <h5> 陰影顏色</h5>
            </label>
            <input type="color" min="0" max="150" class="shadowColorInput">
          </div>
          <div class="lineWidth">
            <label class="lineWidthlabel">
              <h5> 畫筆大小</h5>
            </label>
            <input type="range" min="0" max="150" class="lineWidthInput" value="1">
            <span class="lineWidthValue">1</span>
          </div>
          <div class="shadowBlur">
            <label class="shadowBlurlabel">
              <h5> 陰影模糊</h5>
            </label>
            <input type="range" min="0" max="30" class="shadowBlurInput" value="1">
            <span class="shadowBlurValue">1</span>
          </div>
          <div class="shadowOffsetX">
            <label class="shadowOffsetXlabel">
              <h5> 陰影X軸</h5>
            </label>
            <input type="range" min="0" max="50" class="shadowOffsetXInput" value="1">
            <span class="shadowOffsetXValue">1</span>
          </div>
          <div class="shadowOffsetY">
            <label class="shadowOffsetYlabel">
              <h5> 陰影Y軸</h5>
            </label>
            <input type="range" min="0" max="50" class="shadowOffsetYInput" value="1">
            <span class="shadowOffsetYValue">1</span>
          </div>
        </div>
        <div class="drawingBoardBox">
          <div id="canvasBox">
            <canvas id="canvas">
              <div class="drawingPanel" id="drawingOptionArea"></div>
            </canvas>
          </div>
          <div id="btns" class="btns">
            <div class="orderBtnBoxGroup ">
              <div class="orderBtnBox ">
                <div id="boardSwitchBtn" class="orderBtn">
                  <div class="orderText">
                    <h6>切換郵戳畫板</h6>
                  </div>
                </div>
                <div class="orderBtnBottom"></div>
              </div>
            </div>
            <div class="patNameInput">
              <label class="patternName" for="patternName">
                <h5>為您製作的圖案取個名字吧</h5>
              </label>
              <input type="text" name="patternName" id="patternName">
            </div>
            <!-- <div>
              <canvas id="pngCanvas">
              </canvas>
            </div> -->
          </div>
        </div>
      </div>
    </section>
    <section id="section3">
      <div class="owl-carousel owl-theme owl-loaded owl-drag">
        <div class="owl-stage-outer">
          <div class="owl-stage">
            <div class="owl-item">
              <div class="owl_img"><img src="" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="" alt="" class="figure"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>

  <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/2.4.0/fabric.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script> -->
  <script src="./js/fastclick.js"></script>
  <script src="./js/jquery.nice-select.min.js"></script>
  <script src="./js/shop_carousel.js"></script>
  <script src="./js/shop_draw.js"></script>
  <script>
    $('#myCollapsible').on('hidden.bs.collapse', function () {
      // bootstrap手風琴用
    })
  </script>
  <script>
    //  ================這是商品Filter用=========================
    // const PAGE_SIZE = 10;
    new Vue({
      el: '#app',
      data: {
        visibility: 'all',
        items: [{
            style: 'countries',
            id: 'itemCard1',
            url: '',
            class: "1"
          },
          {
            style: 'countries',
            id: 'itemCard2',
            url: '',
            class: "2"
          },
          {
            style: 'countries',
            id: 'itemCard3',
            url: '',
            class: "3"
          },
          {
            style: 'countries',
            id: 'itemCard4',
            url: '',
            class: "4"
          },
          {
            style: 'countries',
            id: 'itemCard5',
            url: '',
            class: "5"
          },
          {
            style: 'countries',
            id: 'itemCard6',
            url: '',
            class: "6"
          },
          {
            style: 'countries',
            id: 'itemCard7',
            url: '',
            class: "7"
          },
          {
            style: 'countries',
            id: 'itemCard8',
            url: '',
            class: "8"
          },
          {
            style: 'countries',
            id: 'itemCard9',
            url: '',
            class: "9"
          },
          {
            style: 'countries',
            id: 'itemCard10',
            url: '',
            class: "10"
          },
          {
            style: 'countries',
            id: 'itemCard11',
            url: '',
            class: "11"
          },
          {
            style: 'countries',
            id: 'itemCard12',
            url: '',
            class: "12"
          },
          {
            style: 'countries',
            id: 'itemCard13',
            url: '',
            class: "13"
          },
          {
            style: 'countries',
            id: 'itemCard14',
            url: '',
            class: "14"
          },
          {
            style: 'countries',
            id: 'itemCard15',
            url: '',
            class: "15"
          },
          {
            style: 'frame',
            id: 'itemCard16',
            url: '',
            class: "16"
          },
          {
            style: 'frame',
            id: 'itemCard17',
            url: '',
            class: "17"
          },
          {
            style: 'frame',
            id: 'itemCard18',
            url: '',
            class: "18"
          },
          {
            style: 'frame',
            id: 'itemCard19',
            url: '',
            class: "19"
          },
          {
            style: 'frame',
            id: 'itemCard20',
            url: '',
            class: "20"
          },
          {
            style: 'frame',
            id: 'itemCard21',
            url: '',
            class: "21"
          },
          {
            style: 'frame',
            id: 'itemCard22',
            url: '',
            class: "22"
          },
          {
            style: 'frame',
            id: 'itemCard23',
            url: '',
            class: "23"
          },
          {
            style: 'frame',
            id: 'itemCard24',
            url: '',
            class: "24"
          },
          {
            style: 'simple',
            id: 'itemCard25',
            url: '',
            class: "25"
          },
          {
            style: 'simple',
            id: 'itemCard26',
            url: '',
            class: "26"
          },
          {
            style: 'simple',
            id: 'itemCard27',
            url: '',
            class: "27"
          },
          {
            style: 'simple',
            id: 'itemCard28',
            url: '',
            class: "28"
          },
          {
            style: 'simple',
            id: 'itemCard29',
            url: '',
            class: "29"
          },
          {
            style: 'simple',
            id: 'itemCard30',
            url: '',
            class: "30"
          },
          {
            style: 'simple',
            id: 'itemCard31',
            url: '',
            class: "31"
          },
          {
            style: 'animal',
            id: 'itemCard32',
            url: '',
            class: "32"
          },
          {
            style: 'animal',
            id: 'itemCard33',
            url: '',
            class: "33"
          },
          {
            style: 'animal',
            id: 'itemCard34',
            url: '',
            class: "34"
          },
          {
            style: 'animal',
            id: 'itemCard35',
            url: '',
            class: "35"
          },
          {
            style: 'animal',
            id: 'itemCard36',
            url: '',
            class: "36"
          },
          {
            style: 'animal',
            id: 'itemCard37',
            url: '',
            class: "37"
          },
          {
            style: 'animal',
            id: 'itemCard38',
            url: '',
            class: "38"
          },
          {
            style: 'animal',
            id: 'itemCard39',
            url: '',
            class: "39"
          },
          {
            style: 'handpattern',
            id: 'itemCard40',
            url: '',
            class: "40"
          },
          {
            style: 'handpattern',
            id: 'itemCard41',
            url: '',
            class: "41"
          },
          {
            style: 'handpattern',
            id: 'itemCard42',
            url: '',
            class: "42"
          },
          {
            style: 'handpattern',
            id: 'itemCard43',
            url: '',
            class: "43"
          },
          {
            style: 'handpattern',
            id: 'itemCard44',
            url: '',
            class: "44"
          },
          {
            style: 'handpattern',
            id: 'itemCard45',
            url: '',
            class: "45"
          },
          {
            style: 'handpattern',
            id: 'itemCard46',
            url: '',
            class: "46"
          },
          {
            style: 'vector',
            id: 'itemCard47',
            url: '',
            class: "47"
          },
          {
            style: 'vector',
            id: 'itemCard48',
            url: '',
            class: "48"
          },
          {
            style: 'vector',
            id: 'itemCard49',
            url: '',
            class: "49"
          },
          {
            style: 'vector',
            id: 'itemCard50',
            url: '',
            class: "50"
          },
          {
            style: 'vector',
            id: 'itemCard51',
            url: '',
            class: "51"
          },
          {
            style: 'vector',
            id: 'itemCard52',
            url: '',
            class: "52"
          },
          {
            style: 'vector',
            id: 'itemCard53',
            url: '',
            class: "53"
          },
          {
            style: 'tool',
            id: 'itemCard54',
            url: '',
            class: "54"
          },
          {
            style: 'tool',
            id: 'itemCard55',
            url: '',
            class: "55"
          },
          {
            style: 'tool',
            id: 'itemCard56',
            url: '',
            class: "56"
          },
          {
            style: 'tool',
            id: 'itemCard57',
            url: '',
            class: "57"
          },
          {
            style: 'tool',
            id: 'itemCard58',
            url: '',
            class: "58"
          },
          {
            style: 'tool',
            id: 'itemCard59',
            url: '',
            class: "59"
          },
          {
            style: 'tool',
            id: 'itemCard60',
            url: '',
            class: "60"
          },
          {
            style: 'tool',
            id: 'itemCard61',
            url: '',
            class: "61"
          },
          {
            style: 'tool',
            id: 'itemCard62',
            url: '',
            class: "62"
          },
          {
            style: 'tool',
            id: 'itemCard63',
            url: '',
            class: "63"
          },
          {
            style: 'tool',
            id: 'itemCard64',
            url: '',
            class: "64"
          },

        ],
        page: 1,
        windowWidth: 0,
        theIndex: 0,
        item: {},
      },
      computed: {
        //==================ES6寫法==============================
        pagedListdata: function () {
          var vm = this;
          if (vm.visibility == 'all') {
            return vm.items
          }
          return vm.items.filter(
            item => item.style == vm.visibility
          );
        }
      },
      //==================陣列寫法==============================
      // filteredItems() {
      //   // var newitems = [];
      //   var vm = this;
      //   if (vm.visibility == 'all') {
      //     return vm.items
      //   } else {
      //     vm.items.filter(function (item) {
      //       return vm.visibility === item.style
      //     })
      //     console.log(item.style)
      //     // return newitems
      //     return [];
      //   }
      // },

      watch: {
        page() {
          this.change();
        },
      },
      methods: {
        // changeIndex() {
        //   arr = [];
        //   for (i = 0; i < this.items.length; i++) {
        //     theIndex = this.items[i].id;
        //     arr.push(theIndex)
        //   }
        //   console.log(arr);
        customerOrder(e) {
          e.stopPropagation;
          ownMatName = e.target.parentNode.parentNode.parentNode.children[1].children[0].children[0].innerHTML;
          console.log(theIndex);
          ownMatURL = this.items[theIndex - 1].url;
          $.ajax({
            type: "POST",
            url: "http://localhost/dev/js/saveImg.php",
            data: {
              matName: ownMatName,
              image: ownMatURL,
              matLSort: "素材",
            }
          })

        },

        changeIndex(e) {
          theIndex = e.target.className;
          // console.log(theIndex);
          var xhr = new XMLHttpRequest();
          xhr.onload = function () {
            if (xhr.status == 200) {
              // showProduct();
              let product = JSON.parse(xhr.responseText);
              // console.log(product) 
              i = theIndex - 1;
              // console.log(i);
              $('#titleInner').html(product[i].matNameCH);
              $('#infoInner').html(product[i].matInfo);
              $('#chanceInner').html(product[i].matChance);
              $('#priceInner').html(product[i].prodPrice);
              // console.log(xhr.responseText)
            } else {
              alert(xhr.status);
            }
          }

          var url = "http://localhost/dd104g2_test/js/modelGetInfo.php?";
          xhr.open("Get", url, true);
          xhr.send(null);

          $('#outshadow').css('opacity', '0.7');
          $('#outshadow').css('visibility', 'visible');
          $('#outshadow').css('zIndex', '99');
          $('#medal').css('display', 'block');
          $('#medal').css('zIndex', '100');

        },

        getWindowWidth(event) {
          this.windowWidth = document.documentElement.clientWidth;
          console.log(this.windowWidth)

        },

        change(index) {

          if (this.windowWidth < 576) {
            if (this.page == 1) {
              if (index < 6) return true;
            } else if (this.page == 2) {
              if (index < 12 && index >= 6) return true;
            } else if (this.page == 3) {
              if (index < 18 && index >= 12) return true;
            }
          } else if (this.windowWidth < 767) {
            if (this.page == 1) {
              if (index < 8) return true;
            } else if (this.page == 2) {
              if (index < 17 && index >= 8) return true;
            } else if (this.page == 3) {
              if (index < 25 && index >= 17) return true;
            }
          } else if (this.page == 1) {
            document.getElementsByClassName("line_top")[0].style.display = "block";
            document.getElementsByClassName("line_bottom")[0].style.display = "block";
            if (index < 10) return true;
          } else if (this.page == 2) {
            document.getElementsByClassName("line_top")[0].style.display = "block";
            document.getElementsByClassName("line_bottom")[0].style.display = "none";
            if (index < 20 && index >= 10) return true;
          } else if (this.page == 3) {
            document.getElementsByClassName("line_bottom")[0].style.display = "none";
            document.getElementsByClassName("line_top")[0].style.display = "none";
            if (index < 30 && index >= 20) return true;
          }
        },
      },

      mounted() {

        this.$nextTick(function () {
          window.addEventListener('resize', this.getWindowWidth);
          this.getWindowWidth()

        })

        axios
          .get('./js/axios_post.php')
          .then((res) => {
            var arr = res.data;
            for (var i = 0; i < arr.length; i++) {
              this.items[i].url = arr[i].prodUrl
            }
          })
          .catch((error) => {
            console.log(error)
          })
      },
      beforeDestroy() {
        window.removeEventListener('resize', this.getWindowWidth);
      },

    })
  </script>
  <script>
    //  ================這是3D按鈕用=========================
    $('.switchBtn').mousedown(function () {
      $(this).addClass('clicked');
    });
    $('.switchBtn').mouseup(function () {
      $(this).removeClass('clicked');
    });
    $('.orderBtn').mousedown(function () {
      $(this).addClass('clicked');
    });
    $('.orderBtn').mouseup(function () {
      $(this).removeClass('clicked');
    });

    //  ================這是跳窗用 單純JQ版=========================

    // $('.itemCard').click(function (e) {
    // theIndex = $(this).index();
    // var xhr = new XMLHttpRequest();
    // xhr.onload = function () {
    //   if (xhr.status == 200) {
    //     //modify here
    //     // showProduct();
    //     let product = JSON.parse(xhr.responseText);
    //     // console.log(product) 

    //     i = theIndex - 2;
    //     $('#titleInner').html(product[i].matNameCH);
    //     $('#infoInner').html(product[i].matInfo);
    //     $('#chanceInner').html(product[i].matChance);
    //     $('#priceInner').html(product[i].prodPrice);

    //     // console.log(xhr.responseText)
    //   } else {
    //     alert(xhr.status);
    //   }
    // }

    // var url = "http://localhost/dd104g2_test/js/modelGetInfo.php?";
    // xhr.open("Get", url, true);
    // xhr.send(null);



    // $('#outshadow').css('opacity', '0.7');
    // $('#outshadow').css('visibility', 'visible');
    // $('#outshadow').css('zIndex', '99');
    // $('#medal').css('display', 'block');
    // $('#medal').css('zIndex', '100');
    // e ? e.stopPropagation() : event.cancelBubble = true;
    // })
    $('.cross').click(function (e) {
      $('#outshadow').css('visibility', 'hidden');
      $('#outshadow').css('zIndex', '-99');
      $('#medal').css('display', 'none');
      e ? e.stopPropagation() : event.cancelBubble = true;
    })
  </script>

  <script>
    // =====================這是美化下拉式選單=======================
    $(document).ready(function () {
      $('select:not(.ignore)').niceSelect();
      FastClick.attach(document.body);
    });
  </script>

  <script>
    // =====================這是輪播圖片(資料庫抓入已購買素材)=======================
    function showMaterial(jsonStr) {

      let material = JSON.parse(jsonStr);
      console.log(material)
      let html;
      if (material.matName) {
        for (i = 0; i < material.length; i++) {
          if ($('.owl_img img').attr('src') !== "") {
            $('.owl_img img').next().attr('src', `${material[i].matURL}`)
          }
        }
      } else {
        alert("無任何素材");
      }
    }



    var xhr = new XMLHttpRequest();
    xhr.onload = function () {
      if (xhr.status == 200) {
        //modify here
        showMaterial(xhr.responseText);
        console.log(xhr.responseText)
      } else {
        alert(xhr.status);
      }
    }

    xhr.open("post", "http://localhost/dd104g2_test/js/getImg.php", true);
    xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
    let data_info = `memNo=5`;
    xhr.send(data_info);
  </script>
</body>

</html>