<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>客製化商城</title>
  <link rel="stylesheet" href="./css/main.css">

</head>

<body class="shop-body">
  @@include("./layout/nav.html")
  @@include("./layout/header.html")
  <main class="shop-main">
    <div id="coinBox">
      <div id="coinArea">
        <div class="coinBox">
          <span class="airCoinTxt">–</span>
          <span id="coinInnerCount"></span>
          <div class="airCoinSingle"><img src="./img/product/decorate/airCoinSingle.png" alt=""></div>
          <div class="airCoin"><img src="./img/product/decorate/airCoin.png" alt=""></div>

        </div>
        <h6 id="coinTextArea"><span id="coin"></span> air幣</h6>
      </div>

    </div>
    <section id="section1">
      <div class="container">
        <div class="row">
          <div id="conectionLine" class="col-12">
            <img src="./img/product/decorate/pinkclip.svg" alt="" class="iron_clip1">
            <img src="./img/product/decorate/pinkclip.svg" alt="" class="iron_clip2">
          </div>
        </div>
      </div>
      <div id="shopOutsideBox">
        <div class="shopItemContainer">
          <div class="itemPage1">
            <div class="itemPage2">
              <div class="itemPage0"></div>
            </div>
          </div>
        </div>

        <div id="app">
          <div class="col-12 col-sm-12  col-md-12 col-lg-12 itemCardBox ">
            <div class="itemCardAside">
              <div class="itemCardAsideBox">
                <div class="threed_text_box">
                  <h5 class="threed-text-red-endWhite" style="font-size: 2.5vw;letter-spacing:1vw;">選購商品</h5>
                </div>
                <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                          aria-expanded="true" aria-controls="collapseOne">
                          <h3>郵戳</h3>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        <h5 @click="visibility='countries'">地球村</h5>
                        <h5 @click="visibility='frame'">外框</h5>
                        <h5 @click="visibility='simple'">線條</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <h3>圖案</h3>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
                        <h5 @click="visibility='animal'">動物</h5>
                        <h5 @click="visibility='handpattern'">手繪</h5>
                        <h5 @click="visibility='vector'">向量</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <h3>工具</h3>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        <h5 @click="visibility='tool'">DIY工具</h5>
                        <h5 @click="visibility='letter'">信紙</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" itemCardContainer">
              <div class="cardFilter">
                <img src="./img/product/decorate/lineTop.png" alt="" class="line_top">
                <img src="./img/product/decorate/lineButtom.png" alt="" class="line_bottom">
                <div @click="changeIndex($event)" v-for="(item,index) in pagedListdata" v-if="change(index)"
                  :style="{backgroundImage:`url(${item.url})`}" :id=item.id :class=item.class>
                  <img src="./img/product/decorate/clip-04.svg" alt="">
                </div>
              </div>
              <div id="emptyBtn">
                <div class="switchBtnBox" @click="page = 1">
                  <div class="switchBtn">page1</div>
                </div>
                <div class="switchBtnBox" @click="page = 2">
                  <div class="switchBtn">page2</div>
                </div>
                <div class="switchBtnBox" @click="page = 3">
                  <div class="switchBtn">page3</div>
                </div>
              </div>
            </div>
          </div>
          <div class="filter_forSamll">
            <div class="filter_forSamllBox">
              <div class="threed_text_box">
                <h5 class="threed-text-red-endWhite" style="font-size: 2.5vw;letter-spacing:1vw;">選購商品</h5>
              </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  郵戳
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div class="dropdown-item" @click="visibility='countries'">地球村</div>
                  <div class="dropdown-item" @click="visibility='frame'">外框</div>
                  <div class="dropdown-item" @click="visibility='simple'">線條</div>
                </div>
              </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  圖案
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div class="dropdown-item" @click="visibility='animal'">動物</div>
                  <div class="dropdown-item" @click="visibility='handpattern'">手繪</div>
                  <div class="dropdown-item" @click="visibility='vector'">向量</div>
                </div>
              </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  工具
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div class="dropdown-item" @click="visibility='tool'">DIY工具</div>
                  <div class="dropdown-item" @click="visibility='tool'">信紙</div>
                </div>
              </div>
            </div>
          </div>
          <div id="outshadow"></div>
          <div id="medal">
            <div @click="closeModel" class="cross"></div>
            <div id="textBox">
              <div class="titleBox">
                <h4 id="titleInner"></h4>
              </div>
              <div class="textBox">
                <h6 id="infoInner"></h6>
              </div>
              <div class="chance_priceBox">
                <h5>信件被撈機率加乘 : <span id="chanceInner"></span>
                </h5>
                <h5>商品價格 :<span id="priceInner">50</span>
                </h5>
              </div>
            </div>
            <div class="product_display">
              <div class="model_material"><img src="./img/product/decorate/model_material.png" alt=""></div>
              <div class="model_arrow"><img src="./img/product/decorate/model_arrow-04.svg" alt=""></div>
              <div class="model_product"><img src="./img/product/decorate/model_product_1.png" alt=""></div>
            </div>
            <div class="orderBtnBoxGroup">
              <div class="orderBtnBox">
                <div class="orderBtn">
                  <div @click="customerOrder($event)" class="orderText">購買</div>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <div id="pile">
      <div class="pilePaper"><span>彩繪飛機用的圖案素材</span>
        <div class="innerBox"></div>
      </div>
      <div class="cover"></div>
      <div class="pile">
      </div>
    </div>
    <div class="container">
      <div class="row customize">
        <div class="customizeTitle">
          <div class="threed-text-red-endWhite"
            style="font-size: 2.5vw;letter-spacing:1vw;text-align: left;line-height:4vw ;">NEXT <br>客製圖樣</div>
        </div>
        <div class="manual">
          <div class="manualTitle">
            <h3>工具使用提示框</h3>
          </div>
          <div class="manualinnerText">
            <h6>滑鼠移入會提示您工具的使用方法喔</h6>
          </div>
        </div>
      </div>
    </div>
    <section id="section2">
      <div class="customizeArea">
        <div class="controlTool">
          <div class="controlToolTopFlex">
            <div class="controlToolTop">
              <div id="mode" class="controlBox1">
                <div id="controlBox1" class="controlBox1_button clicked">
                  <div class="controlBtn1 clicked 1"><img src="./img/product/toolcontrolbar/cannotWrite.png" alt=""
                      id="modeImg">
                  </div>
                </div>
              </div>
              <div id="clear" class="controlBox2">
                <div id="controlBox2" class="controlBox2_button clicked">
                  <div class="controlBtn2 clicked "><img src="./img/product/toolcontrolbar/control_reset.svg" alt="">
                  </div>
                </div>
              </div>
              <div id="eraser" class="controlBox3">
                <div id="controlBox3" class="controlBox3_button clicked">
                  <div class="controlBtn3 clicked"><img src="./img/product/toolcontrolbar/control_eraser.svg" alt="">
                  </div>
                </div>
              </div>
              <div id="group" class="controlBox4">
                <div id="controlBox4" class="controlBox4_button clicked">
                  <div class="controlBtn4 clicked"><img src="./img/product/toolcontrolbar/merged.svg" alt=""></div>
                </div>
              </div>
              <div id="ungroup" class="controlBox5">
                <div id="controlBox5" class="controlBox5_button clicked">
                  <div class="controlBtn5 clicked"><img src="./img/product/toolcontrolbar/split.svg" alt=""></div>
                </div>
              </div>
              <div id="text" class="controlBox6">
                <div id="controlBox6" class="controlBox6_button clicked">
                  <div class="controlBtn6 clicked"><img src="./img/product/toolcontrolbar/text-symbol.svg" alt=""></div>
                </div>
              </div>
              <div id="filter_Grayscale" class="controlBox7">
                <div id="controlBox7" class="controlBox7_button clicked">
                  <div class="controlBtn7 clicked"><img src="./img/product/toolcontrolbar/filter.svg" alt=""></div>
                </div>
              </div>
              <div class="controlBox8">
                <button id="controlBox8" class="controlBox8_button clicked">
                  <input type="file" id="file">
                  <div class="controlBtn8 clicked"><img src="./img/product/toolcontrolbar/photo.svg" alt=""></div>
                </button>
              </div>
              <div id="outputPngBtn" class="controlBox9">
                <div class="controlBox9_button">
                  <div class="controlBtn9"><img src="./img/product/toolcontrolbar/control_download.svg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="controlBoxBottom">
            <div class="brushType">
              <label class="brushlabel">
                <h6>畫筆種類</h6>
              </label>
              <div class="box">
                <select class="brushSelect">
                  <option value="Pencil">Pencil</option>
                  <option value="Circle">Circle</option>
                  <option value="Spray">Spray</option>
                  <option value="Square">Square</option>
                </select>
              </div>
            </div>
            <div class="lineColor">
              <label class="lineColorlabel">
                <h6> 畫筆顏色</h6>
              </label>
              <input type="color" min="0" max="150" class="lineColorInput">
            </div>
            <div class="shadowColor">
              <label class="shadowColorlabel">
                <h6> 陰影顏色</h6>
              </label>
              <input type="color" min="0" max="150" class="shadowColorInput">
            </div>
            <div class="lineWidth">
              <label class="lineWidthlabel">
                <h6> 畫筆大小</h6>
              </label>
              <input type="range" min="0" max="150" class="lineWidthInput" value="1">
              <span class="lineWidthValue">1</span>
            </div>
            <div class="shadowBlur">
              <label class="shadowBlurlabel">
                <h6> 陰影模糊</h6>
              </label>
              <input type="range" min="0" max="30" class="shadowBlurInput" value="1">
              <span class="shadowBlurValue">1</span>
            </div>
            <div class="shadowOffsetX">
              <label class="shadowOffsetXlabel">
                <h6> 陰影X軸</h6>
              </label>
              <input type="range" min="0" max="50" class="shadowOffsetXInput" value="1">
              <span class="shadowOffsetXValue">1</span>
            </div>
            <div class="shadowOffsetY">
              <label class="shadowOffsetYlabel">
                <h6> 陰影Y軸</h6>
              </label>
              <input type="range" min="0" max="50" class="shadowOffsetYInput" value="1">
              <span class="shadowOffsetYValue">1</span>
            </div>
          </div>

          <div class="controlBoxRight">
            <div class="brushType">
              <label class="brushlabel">
                <h6>畫筆種類</h6>
              </label>
              <div class="box">
                <select class="brushSelect">
                  <option value="Pencil">Pencil</option>
                  <option value="Circle">Circle</option>
                  <option value="Spray">Spray</option>
                  <option value="Square">Square</option>
                </select>
              </div>
            </div>
            <div class="lineColor">
              <label class="lineColorlabel">
                <h6> 畫筆顏色</h6>
              </label>
              <input type="color" min="0" max="150" class="lineColorInput">
            </div>
            <div class="shadowColor">
              <label class="shadowColorlabel">
                <h6> 陰影顏色</h6>
              </label>
              <input type="color" min="0" max="150" class="shadowColorInput">
            </div>
            <div class="lineWidth">
              <label class="lineWidthlabel">
                <h6> 畫筆大小</h6>
              </label>
              <input type="range" min="0" max="150" class="lineWidthInput" value="1">
              <span class="lineWidthValue">1</span>
            </div>
            <div class="shadowBlur">
              <label class="shadowBlurlabel">
                <h6> 陰影模糊</h6>
              </label>
              <input type="range" min="0" max="30" class="shadowBlurInput" value="1">
              <span class="shadowBlurValue">1</span>
            </div>
            <div class="shadowOffsetX">
              <label class="shadowOffsetXlabel">
                <h6> 陰影X軸</h6>
              </label>
              <input type="range" min="0" max="50" class="shadowOffsetXInput" value="1">
              <span class="shadowOffsetXValue">1</span>
            </div>
            <div class="shadowOffsetY">
              <label class="shadowOffsetYlabel">
                <h6> 陰影Y軸</h6>
              </label>
              <input type="range" min="0" max="50" class="shadowOffsetYInput" value="1">
              <span class="shadowOffsetYValue">1</span>
            </div>
          </div>
        </div>
        <div class="drawingBoardBox">
          <div class="canvasWindowBox">
            <div id="canvasBox">
              <canvas id="canvas">
                <div class="drawingPanel" id="drawingOptionArea"></div>
              </canvas>
              <!-- <canvas id="canvas2">
              </canvas> -->
            </div>
          </div>
          <div id="btns" class="btns">
            <div class="orderBtnBoxGroup">
              <div class="orderBtnBox">
                <div id="boardSwitchBtn" class="orderBtn">
                  <div class="orderText">
                    <h6>切換郵戳畫板</h6>
                  </div>
                </div>
                <div class="orderBtnBottom"></div>
              </div>
            </div>
            <div class="patNameInput">
              <label class="patternName" for="patternName">
                <h6>為您製作的圖案取個名字吧!</h6>
              </label>
              <input type="text" name="patternName" id="patternName">
            </div>
            <!-- <div>
              <canvas id="pngCanvas">
              </canvas>
            </div> -->
          </div>
        </div>
      </div>
    </section>
    <section id="section3">
      <div id="hand">
        <img class="hand1" src="./img/product/decorate/hand-01.svg" alt="">
        <img class="hand2" src="./img/product/decorate/handCatch-01.svg" alt="">
      </div>
      <div class="owl-carousel owl-theme owl-loaded owl-drag">
        <div class="owl-stage-outer">
          <div class="owl-stage">
            <div class="owl-item figure1"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure2"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure3"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure4"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure5"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure6"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure7"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure8"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure9"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure10"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure11"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure12"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure13"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure14"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure15"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure16"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure17"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure18"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure19"><img src="" alt="" class="figure"></div>
            <div class="owl-item figure20"><img src="" alt="" class="figure"></div>
          </div>
        </div>
    </section>
  </main>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>

  <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.0/TweenMax.min.js'></script>
  <script src="./js/ScrollToPlugin.min.js"></script>
  <script src="./js/ScrollMagic.min.js"></script>
  <script src="./js/animation.gsap.min.js"></script>
  <script src="./js/debug.addIndicators.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/2.4.0/fabric.js"></script>
  <script src="./js/fastclick.js"></script>
  <script src="./js/jquery.nice-select.min.js"></script>
  <script src="./js/shop_carousel.js"></script>
  <script src="./js/shop_draw.js"></script>
  <script src="./js/animate.js"></script>
  <script>
    $('#myCollapsible').on('hidden.bs.collapse', function () {
      // bootstrap手風琴用
    })
  </script>

  <script>
    //  ================Vue  這是商城區======================================================
    new Vue({
      el: '#app',
      data: {
        visibility: 'countries',
        items: [{
            style: 'countries',
            id: 'itemCard1',
            url: '',
            class: ""
          },
          {
            style: 'countries',
            id: 'itemCard2',
            url: '',
            class: ""
          },
          {
            style: 'countries',
            id: 'itemCard3',
            url: '',
            class: ""
          },
          {
            style: 'countries',
            id: 'itemCard4',
            url: '',
            class: ""
          },
          {
            style: 'countries',
            id: 'itemCard5',
            url: '',
            class: ""
          },
          {
            style: 'countries',
            id: 'itemCard6',
            url: '',
            class: ""
          },
          {
            style: 'countries',
            id: 'itemCard7',
            url: '',
            class: ""
          },
          {
            style: 'countries',
            id: 'itemCard8',
            url: '',
            class: ""
          },
          {
            style: 'countries',
            id: 'itemCard9',
            url: '',
            class: ""
          },
          {
            style: 'countries',
            id: 'itemCard10',
            url: '',
            class: ""
          },
          {
            style: 'countries',
            id: 'itemCard11',
            url: '',
            class: ""
          },
          {
            style: 'countries',
            id: 'itemCard12',
            url: '',
            class: ""
          },
          {
            style: 'countries',
            id: 'itemCard13',
            url: '',
            class: ""
          },
          {
            style: 'countries',
            id: 'itemCard14',
            url: '',
            class: ""
          },
          {
            style: 'countries',
            id: 'itemCard15',
            url: '',
            class: ""
          },
          {
            style: 'frame',
            id: 'itemCard16',
            url: '',
            class: ""
          },
          {
            style: 'frame',
            id: 'itemCard17',
            url: '',
            class: ""
          },
          {
            style: 'frame',
            id: 'itemCard18',
            url: '',
            class: ""
          },
          {
            style: 'frame',
            id: 'itemCard19',
            url: '',
            class: ""
          },
          {
            style: 'frame',
            id: 'itemCard20',
            url: '',
            class: ""
          },
          {
            style: 'frame',
            id: 'itemCard21',
            url: '',
            class: ""
          },
          {
            style: 'frame',
            id: 'itemCard22',
            url: '',
            class: ""
          },
          {
            style: 'frame',
            id: 'itemCard23',
            url: '',
            class: ""
          },
          {
            style: 'frame',
            id: 'itemCard24',
            url: '',
            class: ""
          },
          {
            style: 'simple',
            id: 'itemCard25',
            url: '',
            class: ""
          },
          {
            style: 'simple',
            id: 'itemCard26',
            url: '',
            class: ""
          },
          {
            style: 'simple',
            id: 'itemCard27',
            url: '',
            class: ""
          },
          {
            style: 'simple',
            id: 'itemCard28',
            url: '',
            class: ""
          },
          {
            style: 'simple',
            id: 'itemCard29',
            url: '',
            class: ""
          },
          {
            style: 'simple',
            id: 'itemCard30',
            url: '',
            class: ""
          },
          {
            style: 'simple',
            id: 'itemCard31',
            url: '',
            class: ""
          },
          {
            style: 'animal',
            id: 'itemCard32',
            url: '',
            class: ""
          },
          {
            style: 'animal',
            id: 'itemCard33',
            url: '',
            class: ""
          },
          {
            style: 'animal',
            id: 'itemCard34',
            url: '',
            class: ""
          },
          {
            style: 'animal',
            id: 'itemCard35',
            url: '',
            class: ""
          },
          {
            style: 'animal',
            id: 'itemCard36',
            url: '',
            class: ""
          },
          {
            style: 'animal',
            id: 'itemCard37',
            url: '',
            class: ""
          },
          {
            style: 'animal',
            id: 'itemCard38',
            url: '',
            class: ""
          },
          {
            style: 'animal',
            id: 'itemCard39',
            url: '',
            class: ""
          },
          {
            style: 'handpattern',
            id: 'itemCard40',
            url: '',
            class: ""
          },
          {
            style: 'handpattern',
            id: 'itemCard41',
            url: '',
            class: ""
          },
          {
            style: 'handpattern',
            id: 'itemCard42',
            url: '',
            class: ""
          },
          {
            style: 'handpattern',
            id: 'itemCard43',
            url: '',
            class: ""
          },
          {
            style: 'handpattern',
            id: 'itemCard44',
            url: '',
            class: ""
          },
          {
            style: 'handpattern',
            id: 'itemCard45',
            url: '',
            class: ""
          },
          {
            style: 'handpattern',
            id: 'itemCard46',
            url: '',
            class: ""
          },
          {
            style: 'vector',
            id: 'itemCard47',
            url: '',
            class: ""
          },
          {
            style: 'vector',
            id: 'itemCard48',
            url: '',
            class: ""
          },
          {
            style: 'vector',
            id: 'itemCard49',
            url: '',
            class: ""
          },
          {
            style: 'vector',
            id: 'itemCard50',
            url: '',
            class: ""
          },
          {
            style: 'vector',
            id: 'itemCard51',
            url: '',
            class: ""
          },
          {
            style: 'vector',
            id: 'itemCard52',
            url: '',
            class: ""
          },
          {
            style: 'vector',
            id: 'itemCard53',
            url: '',
            class: ""
          },
          {
            style: 'tool',
            id: 'itemCard54',
            url: '',
            class: ""
          },
          {
            style: 'tool',
            id: 'itemCard55',
            url: '',
            class: ""
          },
          {
            style: 'tool',
            id: 'itemCard56',
            url: '',
            class: ""
          },
          {
            style: 'tool',
            id: 'itemCard57',
            url: '',
            class: ""
          },
          {
            style: 'tool',
            id: 'itemCard58',
            url: '',
            class: ""
          },
          {
            style: 'tool',
            id: 'itemCard59',
            url: '',
            class: ""
          },
          {
            style: 'tool',
            id: 'itemCard60',
            url: '',
            class: ""
          },
          {
            style: 'tool',
            id: 'itemCard61',
            url: '',
            class: ""
          },
          {
            style: 'tool',
            id: 'itemCard62',
            url: '',
            class: ""
          },
          {
            style: 'tool',
            id: 'itemCard63',
            url: '',
            class: ""
          },
          {
            style: 'letter',
            id: 'itemCard64',
            url: '',
            class: ""
          },

        ],
        page: 1,
        windowWidth: 0,
        theIndex: 0,
        item: {},
      },
      computed: {
        //==================filter ES6寫法============================================================
        pagedListdata: function () {
          var vm = this;
          // if (vm.visibility == 'all') {
          //   return vm.items
          // }
          return vm.items.filter(
            item => item.style == vm.visibility
          );

        },
      },
      watch: {
        page() {
          this.change();
        },
      },
      methods: {
        //==============跳窗的購買btn點按後將已購素材傳回資料庫的material表格 目前會員編號寫死======================================

        customerOrder(e) {
          e.stopPropagation()
          // console.log(e.target);
          ownMatName = e.target.parentNode.parentNode.parentNode.parentNode.children[1].children[0].children[0]
            .innerHTML;
          ownMatPrice = e.target.parentNode.parentNode.parentNode.parentNode.children[1].children[2].children[1]
            .children[0].innerHTML;
          // console.log(ownMatPrice);
          materialMatSort = "material";
          toolMatSort = "tool";

          var msg = `您確定要購買【 ${ownMatName} 】這項商品嗎，它須花費【 ${ownMatPrice} 】元!!\n確定要購買請按『確定』，否則請按『取消』返回。`;

          if (confirm(msg) == true) {
            cavMemberH = document.getElementById('cavMemberH').innerHTML;
            cavMemberH = cavMemberH.toString().substring(6);

            //==============如果跳窗抓到的URL值不是soldOut才可以購買(否則是重複購買)======================================
            // ===========這是從資料庫抓已購素材中的url來對比並把卡片改成soldOut ================================================
            axios
              .get('./phps/shop_getmaterial.php?memNo=' + cavMemberH)
              .then((res) => {

                var matObject = res.data;
                // console.log(matObject)
                arr = [];
                for (var j = 0; j < matObject.length; j++) {
                  arr.push(matObject[j].matName)
                }
                // console.log(arr)
                // console.log(arr.indexOf(ownMatName))
                if (arr.indexOf(ownMatName) != -1) {

                  alert("你已經買過此商品囉");
                  // break;
                } else {
                  // alert("aa")
                  ownMatURL = this.items[theIndex - 1].url;
                  itemIndex = this.items[theIndex - 1].id.substring(8);
                  if (0 < itemIndex && itemIndex < 54) {
                    cavMemberH = document.getElementById('cavMemberH').innerHTML;
                    cavMemberH = cavMemberH.toString().substring(6);
                    console.log(cavMemberH)
                    // cavMemberH.innerHTML = 5;
                    $.ajax({
                      type: "POST",
                      url: "./phps/shop_saveImg.php",
                      data: {
                        memNo: cavMemberH,
                        matName: ownMatName,
                        image: ownMatURL,
                        matLSort: materialMatSort,
                      },
                    })
                  } else if (54 <= itemIndex && itemIndex < 65) {
                    $.ajax({
                      type: "POST",
                      url: "./phps/shop_saveImg.php",
                      data: {
                        memNo: cavMemberH,
                        matName: ownMatName,
                        image: ownMatURL,
                        matLSort: toolMatSort,
                      },
                    })
                  }

                  coin = document.getElementById('coin');
                  ownMatPriceNum = parseInt(ownMatPrice);
                  coinInnerCount = document.getElementById('coinInnerCount');
                  coinInnerCount.innerHTML = ownMatPriceNum;
                  console.log(coinInnerCount)
                  var xhr2 = new XMLHttpRequest();
                  xhr2.onload = function () {
                    if (xhr2.status == 200) {

                      cavMemberH = document.getElementById('cavMemberH').innerHTML;
                      cavMemberH = cavMemberH.toString().substring(6);
                      // cavMemberH.innerHTML = 5;
                      let nowCoin = JSON.parse(xhr2.responseText);

                      uesrCoinNum = parseInt(nowCoin[0].airCoin);
                      if (uesrCoinNum >= ownMatPriceNum) {
                        boughtProd();
                        remainCoin = uesrCoinNum - ownMatPriceNum;
                        remainCoinInnerCount = document.getElementById('coin');
                        remainCoinInnerCount.innerHTML = remainCoin;
                        // console.log(remainCoin) 


                        $.ajax({
                          type: "POST",
                          url: "./phps/shop_saveCoin.php",
                          data: {
                            remainCoin: remainCoin,
                            memNo: cavMemberH,
                          },
                        });
                      } else {

                        alert("抱歉你的剩餘air幣不足無法購買此商品!!!")
                      }
                      // location.reload();
                    } else {
                      alert(xhr2.status);
                    }

                  }
                  var url = './phps/shop_getMemberCoin.php?memNo=' + cavMemberH;
                  xhr2.open("Get", url, true);
                  xhr2.send(null);
                }

              })
              .catch((error) => {
                console.log(error)
              })

          } else {
            return false;
          }

        },
        //====================資料庫data寫入跳窗內資料==========================================
        carddark() {
          cavMemberH = document.getElementById('cavMemberH').innerHTML;
          cavMemberH = cavMemberH.toString().substring(6);
          console.log(cavMemberH)
          // var vm = this;
          axios
            .get('./phps/shop_getmaterial.php?memNo=' + cavMemberH)
            .then((res) => {
              var itemArr = res.data;
              // console.log(this.items)
              // console.log(itemArr)
              for (var i = 0; i < this.items.length; i++) {
                // console.log(vm.items[i].url)
                // console.log(itemArr[0].matURL);
                for (var j = 0; j < itemArr.length; j++) {
                  if (this.items[i].url == itemArr[j].matURL) {
                    this.items[i].url = "./img/product/decorate/sold.png";
                    this.items[i].class = "bought"
                  }
                }
              }
            })
            .catch((error) => {
              console.log(error)
            })
        },


        //  ================這是關閉跳窗用===========================================================
        closeModel() {
          this.showToolInfo();
          this.showMaterial();
          this.carddark()
          $('#outshadow').css('visibility', 'hidden');
          $('#outshadow').css('zIndex', '-99');
          $('#medal').css('display', 'none');

          // e ? e.stopPropagation() : event.cancelBubble = true;

        },

        changeIndex(e) {
          console.log(e.target.style.backgroundImage)
          var text = 'url("./img/product/decorate/sold.png")';
          text = text.toString();
          console.log(text);
          if (`${e.target.style.backgroundImage}` != text) {
            theIndex = e.target.id.substring(8);
            // console.log(theIndex);
            var xhr = new XMLHttpRequest();
            xhr.onload = function () {
              if (xhr.status == 200) {
                // showProduct();
                let product = JSON.parse(xhr.responseText);
                // console.log(product) 
                i = theIndex - 1;
                // console.log(i);
                $('#titleInner').html(product[i].matNameCH);
                $('#infoInner').html(product[i].matInfo);
                $('#chanceInner').html(product[i].matChance);
                $('#priceInner').html(product[i].prodPrice);
                // console.log(xhr.responseText)
              } else {
                // alert(xhr.status);
              }
            }

            var url = "./phps/shop_prodItemGetInfo.php?";
            xhr.open("Get", url, true);
            xhr.send(null);

            $('#outshadow').css('opacity', '0.7');
            $('#outshadow').css('visibility', 'visible');
            $('#outshadow').css('zIndex', '99');
            $('#medal').css('display', 'block');
            $('#medal').css('zIndex', '100');

          } else {
            alert("你已經買過此商品囉")
          }

        },
        //====================Vue響應式========================================================
        getWindowWidth(event) {
          this.windowWidth = document.documentElement.clientWidth;
          // console.log(this.windowWidth)

        },
        //====================分頁按鈕==========================================================
        change(index) {

          if (this.windowWidth < 576) {
            if (this.page == 1) {
              document.getElementsByClassName("line_bottom")[0].style.display = "none";
              document.getElementsByClassName("line_top")[0].style.display = "none";
              if (index < 6) return true;
            } else if (this.page == 2) {
              document.getElementsByClassName("line_bottom")[0].style.display = "none";
              document.getElementsByClassName("line_top")[0].style.display = "none";
              if (index < 12 && index >= 6) return true;
            } else if (this.page == 3) {
              if (index < 18 && index >= 12) return t
              document.getElementsByClassName("line_bottom")[0].style.display = "none";
              document.getElementsByClassName("line_top")[0].style.display = "none";
              rue;
            }
          } else if (this.windowWidth < 767) {
            if (this.page == 1) {
              document.getElementsByClassName("line_bottom")[0].style.display = "none";
              document.getElementsByClassName("line_top")[0].style.display = "none";
              if (index < 8) return true;
            } else if (this.page == 2) {
              document.getElementsByClassName("line_bottom")[0].style.display = "none";
              document.getElementsByClassName("line_top")[0].style.display = "none";
              if (index < 17 && index >= 8) return true;
            } else if (this.page == 3) {
              document.getElementsByClassName("line_bottom")[0].style.display = "none";
              document.getElementsByClassName("line_top")[0].style.display = "none";
              if (index < 25 && index >= 17) return true;
            }
          } else if (this.page == 1) {
            document.getElementsByClassName("line_top")[0].style.display = "block";
            document.getElementsByClassName("line_bottom")[0].style.display = "block";
            if (index < 10) return true;
          } else if (this.page == 2) {
            document.getElementsByClassName("line_top")[0].style.display = "block";
            document.getElementsByClassName("line_bottom")[0].style.display = "none";
            if (index < 20 && index >= 10) return true;
          } else if (this.page == 3) {
            document.getElementsByClassName("line_bottom")[0].style.display = "none";
            document.getElementsByClassName("line_top")[0].style.display = "none";
            if (index < 30 && index >= 20) return true;
          }
        },

        showToolInfo() {
          cavMemberH = document.getElementById('cavMemberH').innerHTML;
          cavMemberH = cavMemberH.toString().substring(6);
          // ===================這是左邊功能頁(資料庫抓入已購買工具) =======================
          console.log(cavMemberH)
          axios
            .get('./phps/shop_getonlyTool.php?memNo=' + cavMemberH)
            .then((res) => {
              var toolInfo = res.data;
              console.log(toolInfo)
              arr1 = ['controlBox1', 'controlBox2', 'controlBox3', 'controlBox4', 'controlBox5', 'controlBox6',
                'controlBox7',
                'controlBox8', 'controlBox9'
              ]
              arr2 = ['controlBtn1', 'controlBtn2', 'controlBtn3', 'controlBtn4', 'controlBtn5', 'controlBtn6',
                'controlBtn7',
                'controlBtn8', 'controlBtn9'
              ]
              for (i = 0; i < toolInfo.length; i++) {

                if (toolInfo[i].matURL) {

                  indexStr = toolInfo[i].matURL.toString();
                  index = indexStr.substring(26, indexStr.length - 4) - 1;
                  console.log(index)

                  for (j = 0; j < arr1.length; j++) {
                    if (index == j) {
                      document.getElementById(arr1[j]).classList.remove('clicked');
                      document.getElementsByClassName(arr2[j])[0].classList.remove('clicked');
                    }
                  }

                }
              }
            })
            .catch((error) => {
              console.log(error)
            })
        },

        showMaterial() {
          cavMemberH = document.getElementById('cavMemberH').innerHTML;
          cavMemberH = cavMemberH.toString().substring(6);
          // cavMemberH.innerHTML = 5;
          console.log(cavMemberH)
          // =====================這是輪播圖片(資料庫抓入已購買素材)   =======================
          axios
            .get('./phps/shop_getOnlyMaterial.php?memNo=' + cavMemberH)
            .then((res) => {
              var gotMaterial = res.data;
              console.log(gotMaterial)
              console.log(gotMaterial[0])
              if (gotMaterial.length > 0) {

                for (var i = 0; i < gotMaterial.length; i++) {
                  owl_item = document.getElementsByClassName('owl-item')[0].firstChild;
                  console.log(owl_item.src)
                  owl_imgcloned = document.getElementsByClassName('cloned')[i].firstChild;
                  owl_imgactive = document.querySelectorAll('.owl-stage .active')[i].firstChild;
                  if (owl_item.src == location.href) {
                    // alert("")
                    owl_item.src = gotMaterial[i].matURL
                    owl_imgcloned.src = gotMaterial[i].matURL
                    owl_imgactive.src = gotMaterial[i].matURL
                    // console.log(owl_item)
                    // console.log(owl_imgcloned)
                  }
                  if (owl_imgactive.src == location.href) {
                    owl_imgactive.src = gotMaterial[i].matURL
                  }
                  // console.log(owl_imgactive)
                }
              } else {
                alert("無任何素材");
              }
            })
            .catch((error) => {
              console.log(error)
            })
        },
      },

      mounted() {
        var vm = this;
        window.addEventListener('load', function () {
          setTimeout(vm.carddark, 500);
        });
        window.addEventListener('load', function () {
          setTimeout(vm.showToolInfo, 500);
        });
        window.addEventListener('load', function () {
          setTimeout(vm.showMaterial, 500);
        });
        //====================Vue響應式==========================================================================
        this.$nextTick(function () {
          window.addEventListener('resize', this.getWindowWidth);
          this.getWindowWidth()

        });
        //====================頁面onload後直接抓回64筆商城卡片資料給vue data=>items======================================
        axios
          .get('./phps/shop_axios_post.php')
          .then((res) => {
            var arr = res.data;
            for (var i = 0; i < arr.length; i++) {
              this.items[i].url = arr[i].prodUrl
            }
          })
          .catch((error) => {
            console.log(error)
          });

      },
      beforeDestroy() {
        window.removeEventListener('resize', this.getWindowWidth);
      },

    })
  </script>
  <script>
    //  ================這是3D按鈕用===================================================================
    $('.switchBtn').mousedown(function () {
      $(this).addClass('clicked');
    });
    $('.switchBtn').mouseup(function () {
      $(this).removeClass('clicked');
    });
    $('.orderBtn').mousedown(function () {
      $(this).addClass('clicked');
    });
    $('.orderBtn').mouseup(function () {
      $(this).removeClass('clicked');
    });
  </script>

  <script>
    // =====================這是美化下拉式選單===================================================
    $(document).ready(function () {
      $('select:not(.ignore)').niceSelect();
      FastClick.attach(document.body);
    });
  </script>
  <script>
    // ===================這是現有air幣從資料庫抓數字到網頁 =======================
    function showMemberInfo(jsonStr) {

      coin = document.getElementById('coin');
      let MemberInfo = JSON.parse(jsonStr);
      // console.log(MemberInfo[0].airCoin)
      // console.log(coin)
      if (MemberInfo[0].memName) {
        coin.innerHTML = MemberInfo[0].airCoin;
      }
    }

    function getMemberInfo() {


      var xhr3 = new XMLHttpRequest();
      xhr3.onload = function () {
        if (xhr3.status == 200) {
          //modify here
          showMemberInfo(xhr3.responseText);
          // console.log(xhr.responseText)
        } else {
          // alert(xhr.status);
        }
      }
      cavMemberH = document.getElementById('cavMemberH').innerHTML;
      cavMemberH = cavMemberH.toString().substring(6);
      console.log("========2", cavMemberH)
      // cavMemberH.innerHTML = 5;
      var url = "./phps/shop_getMemberCoin.php?memNo=" + cavMemberH;
      xhr3.open("Get", url, true);
      xhr3.send(null);
    }
  </script>


  <script>

  </script>
  <script>
    function boughtProd() {

      TweenMax.fromTo('.airCoinSingle', 5, {
        y: 0,
        opacity: 1,

      }, {
        y: -100,
        opacity: 0,
      })

      TweenMax.fromTo('.airCoinTxt', 5, {
        y: 0,
        opacity: 1,

      }, {
        y: -100,
        opacity: 0,
      })
      TweenMax.fromTo('#coinInnerCount', 5, {
        y: 0,
        opacity: 1,

      }, {
        y: -100,
        opacity: 0,
      });

    }
  </script>
  <script>
    window.addEventListener('load', function () {
      setTimeout(getMemberInfo, 500);
    }, false);
  </script>
</body>

</html>