<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>客製化商城</title>
  <link rel="stylesheet" href="./css/main.css">

</head>

<body class="shop-body">
  @@include("./layout/nav.html")
  @@include("./layout/header.html")
  <main class="shop-main">
    <section id="section1">
      <div class="container">
        <div class="row">
          <div id="conectionLine" class="col-12">
            <img src="./img/product/decorate/pinkclip.svg" alt="" class="iron_clip1">
            <img src="./img/product/decorate/pinkclip.svg" alt="" class="iron_clip2">
          </div>
        </div>
      </div>
      <div id="shopOutsideBox">
        <div class="shopItemContainer">
          <div class="itemPage1">
            <div class="itemPage2">
              <div class="itemPage0"></div>
            </div>
          </div>
        </div>




        <div id="app">
          <div class="col-12 col-sm-12  col-md-12 col-lg-12 itemCardBox ">
            <div class="itemCardAside">
              <div class="itemCardAsideBox">
                <div class="itemCardAsideh3 .threed-text-black-endWhite">
                  <h3>商品項目</h3>
                </div>
                <div>
                  <h3 class="itemCardAsideh4" @click="visibility='all'">全部</h3>
                </div>
                <div class="itemCardAsideh4">
                  <h4>信紙</h4>
                </div>
                <div class="itemCardAsideh4">
                  <h4></h4>
                </div>
                <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div @click="visibility='pattern'" class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                          aria-expanded="true" aria-controls="collapseOne">
                          <h4>圖案</h4>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        <h5>向量素材</h5>
                        <h5>壁紙素材</h5>
                        <h5>動物素材</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div @click="visibility='postmark'" class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <h4>郵戳</h4>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
                        <h5>外框素材</h5>
                        <h5>內容圖案</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div @click="visibility='tool'" class="card-header" id="headingThree">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <h4>DIY工具</h4>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        <h5>繪畫相關</h5>
                        <h5>其他</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" itemCardContainer">
              <div class="cardFilter">
                <!-- <img src="./img/product/decorate/line_top.png" alt="" class="line_top">
                <img src="./img/product/decorate/line_bottom.png" alt="" class="line_bottom"> -->

                <!-- v-if="change(index)" -->
                <div class="itemCard" v-for="item in filteredItems" :style="{backgroundImage:`url(${item.url})`}"
                  :id=item.id :class=item.class>
                  <img src="./img/product/decorate/clip-04.svg" alt="">
                </div>
              </div>
              <div id="emptyBtn">
                <div @click=changePage1 class="switchBtnBox">
                  <div class="switchBtn">page1</div>
                </div>
                <div @click=change(2) class="switchBtnBox">
                  <div class="switchBtn">page2</div>
                </div>
                <div @click=change(3) class="switchBtnBox">
                  <div class="switchBtn">page</div>
                </div>
              </div>
            </div>
          </div>
          <div class="filter_forSamll">
            <div class="filter_forSamllBox">
              <div class="filter_forSamllh3">
                <h3>商品項目</h3>
              </div>
              <div class="filter_forSamllh4">
                <h5>信紙</h5>
              </div>
              <div class="filter_forSamllh4">
                <h5>DIY工具</h5>
              </div>
              <div class="filter_forSamllh4">
                <h5>郵戳</h5>
              </div>
              <div class="filter_forSamllh4">
                <h5>圖案</h5>
              </div>
              <div class="filter_forSamllh4">
                <h5>費用</h5>
              </div>
            </div>
          </div>
        </div>
    </section>
    <div id="outshadow"></div>
    <div id="medal">
      <div class="cross"></div>
      <div id="textBox">
        <div class="textBox">
          <h2>商品名稱:飛往巴黎</h2>
        </div>
        <div class="textBox">
          <h>跟著紙飛機一起來場浪漫的旅行吧</h6>
        </div>
        <div class="textBox">
          <h5>信件被撈機率加乘 : 2%</h5>
          <h5>商品價格 : 50air幣</h5>
        </div>
      </div>
      <div class="product_display">
        <div class="model_material"><img src="./img/product/decorate/model_material.png" alt=""></div>
        <div class="model_arrow"><img src="./img/product/decorate/model_arrow-04.svg" alt=""></div>
        <div class="model_product"><img src="./img/product/decorate/model_product_1.png" alt=""></div>
      </div>
      <div class="orderBtnBoxGroup">
        <div class="orderBtnBox">
          <div class="orderBtn">
            <div class="orderText">購買</div>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <div id="pile">
      <div class="pilePaper"><span>xxxxxxxx xxxxxxx xxxxxx</span>
        <div class="innerBox"></div>
      </div>
      <div class="pile">
        <div class="clock"><img src="" alt=""></div>
        <div class="redWheel"><img src="" alt=""></div>
        <div class="perpul"><img src="" alt=""></div>
      </div>
    </div>
    <div class="container">
      <div class="row customize">
        <div class="customizeTitle">
          <div class="customizeTitleText">NEXT</div>
        </div>
        <div class="manual">
          <div class="manualTitle">
            <h3>工具使用提示框</h3>
          </div>
          <div class="manualinnerText">
            <h6>滑鼠移入會提示您工具的使用方法喔</h6>
          </div>
        </div>
      </div>
    </div>
    <section id="section2">
      <div class="customizeArea">
        <div class="controlTool">
          <div class="controlToolTopFlex">
            <div class="controlToolTop">
              <div id="mode" class="controlBox1">
                <div class="controlBox1_button clicked">
                  <div class="controlBtn1 clicked"><img src="./img/product/toolcontrolbar/cannotWrite.png" alt="" id="modeImg">
                  </div>
                </div>
              </div>
              <div id="clear" class="controlBox2">
                <div class="controlBox2_button">
                  <div class="controlBtn2 "><img src="./img/product/toolcontrolbar/control_reset.svg" alt=""></div>
                </div>
              </div>
              <div id="eraser" class="controlBox3">
                <div class="controlBox3_button">
                  <div class="controlBtn3 "><img src="./img/product/toolcontrolbar/control_eraser.svg" alt=""></div>
                </div>
              </div>
              <div id="group" class="controlBox4">
                <div class="controlBox4_button">
                  <div class="controlBtn4"><img src="./img/product/toolcontrolbar/merged.svg" alt=""></div>
                </div>
              </div>
              <div id="ungroup" class="controlBox5">
                <div class="controlBox5_button">
                  <div class="controlBtn5"><img src="./img/product/toolcontrolbar/split.svg" alt=""></div>
                </div>
              </div>
              <div id="text" class="controlBox6">
                <div class="controlBox6_button clicked">
                  <div class="controlBtn6 clicked"><img src="./img/product/toolcontrolbar/text-symbol.svg" alt=""></div>
                </div>
              </div>
              <!-- <div id="filter_Sepia" class="controlBox7">
              <div class="controlBox7_button clicked">
                <div class="controlBtn7 clicked"><img src="./img/product/tool/archives.svg" alt=""></div>
              </div>
            </div> -->
              <div id="filter_Grayscale" class="controlBox8">
                <div class="controlBox8_button">
                  <div class="controlBtn8"><img src="./img/product/toolcontrolbar/filter.svg" alt=""></div>
                </div>
              </div>
              <div class="controlBox9">
                <button id="imageUploader" class="controlBox9_button clicked">
                  <input type="file" id="file">
                  <div class="controlBtn9 clicked"><img src="./img/product/toolcontrolbar/photo.svg" alt=""></div>
                </button>
              </div>
              <div id="outputPngBtn" class="controlBox10">
                <div class="controlBox10_button clicked">
                  <div class="controlBtn10 clicked"><img src="./img/product/toolcontrolbar/control_download.svg" alt=""></div>
                </div>
              </div>
            </div>
          </div>
          <div class="controlBoxBottom">
            <div class="brushType">
              <label class="brushlabel">
                <h5>畫筆種類</h5>
              </label>
              <div class="box">
                <select class="brushSelect">
                  <option value="Pencil">Pencil</option>
                  <option value="Circle">Circle</option>
                  <option value="Spray">Spray</option>
                  <option value="Square">Square</option>
                </select>
              </div>
            </div>
            <div class="lineColor">
              <label class="lineColorlabel">
                <h5> 畫筆顏色</h5>
              </label>
              <input type="color" min="0" max="150" class="lineColorInput">
            </div>
            <div class="shadowColor">
              <label class="shadowColorlabel">
                <h5> 陰影顏色</h5>
              </label>
              <input type="color" min="0" max="150" class="shadowColorInput">
            </div>
            <div class="lineWidth">
              <label class="lineWidthlabel">
                <h5> 畫筆大小</h5>
              </label>
              <input type="range" min="0" max="150" class="lineWidthInput" value="1">
              <span class="lineWidthValue">1</span>
            </div>
            <div class="shadowBlur">
              <label class="shadowBlurlabel">
                <h5> 陰影模糊</h5>
              </label>
              <input type="range" min="0" max="30" class="shadowBlurInput" value="1">
              <span class="shadowBlurValue">1</span>
            </div>
            <div class="shadowOffsetX">
              <label class="shadowOffsetXlabel">
                <h5> 陰影X軸</h5>
              </label>
              <input type="range" min="0" max="50" class="shadowOffsetXInput" value="1">
              <span class="shadowOffsetXValue">1</span>
            </div>
            <div class="shadowOffsetY">
              <label class="shadowOffsetYlabel">
                <h5> 陰影Y軸</h5>
              </label>
              <input type="range" min="0" max="50" class="shadowOffsetYInput" value="1">
              <span class="shadowOffsetYValue">1</span>
            </div>
          </div>
        </div>
        <div class="controlBoxRight">
          <div class="brushType">
            <label class="brushlabel">
              <h5>畫筆種類</h5>
            </label>
            <div class="box">
              <select class="brushSelect">
                <option value="Pencil">Pencil</option>
                <option value="Circle">Circle</option>
                <option value="Spray">Spray</option>
                <option value="Square">Square</option>
              </select>
            </div>
          </div>
          <div class="lineColor">
            <label class="lineColorlabel">
              <h5> 畫筆顏色</h5>
            </label>
            <input type="color" min="0" max="150" class="lineColorInput">
          </div>
          <div class="shadowColor">
            <label class="shadowColorlabel">
              <h5> 陰影顏色</h5>
            </label>
            <input type="color" min="0" max="150" class="shadowColorInput">
          </div>
          <div class="lineWidth">
            <label class="lineWidthlabel">
              <h5> 畫筆大小</h5>
            </label>
            <input type="range" min="0" max="150" class="lineWidthInput" value="1">
            <span class="lineWidthValue">1</span>
          </div>
          <div class="shadowBlur">
            <label class="shadowBlurlabel">
              <h5> 陰影模糊</h5>
            </label>
            <input type="range" min="0" max="30" class="shadowBlurInput" value="1">
            <span class="shadowBlurValue">1</span>
          </div>
          <div class="shadowOffsetX">
            <label class="shadowOffsetXlabel">
              <h5> 陰影X軸</h5>
            </label>
            <input type="range" min="0" max="50" class="shadowOffsetXInput" value="1">
            <span class="shadowOffsetXValue">1</span>
          </div>
          <div class="shadowOffsetY">
            <label class="shadowOffsetYlabel">
              <h5> 陰影Y軸</h5>
            </label>
            <input type="range" min="0" max="50" class="shadowOffsetYInput" value="1">
            <span class="shadowOffsetYValue">1</span>
          </div>
        </div>
        <div class="drawingBoardBox">
          <div id="canvasBox">
            <canvas id="canvas">
              <div class="drawingPanel" id="drawingOptionArea"></div>
            </canvas>
          </div>
          <div id="btns" class="btns">
            <div class="orderBtnBoxGroup ">
              <div class="orderBtnBox ">
                <div id="boardSwitchBtn" class="orderBtn">
                  <div class="orderText">
                    <h6>切換郵戳畫板</h6>
                  </div>
                </div>
                <div class="orderBtnBottom"></div>
              </div>
            </div>
            <input type="text" name="patternName" id="patternName">
          </div>
        </div>
      </div>
    </section>
    <section id="section3">
      <div class="owl-carousel owl-theme owl-loaded owl-drag">
        <div class="owl-stage-outer">
          <div class="owl-stage">
            <div class="owl-item">
              <div class="owl_img"><img src="./img/product/figure/figure_animal_1.svg" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="./img/product/postmark/postmark_countries_1.svg" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="./img/product/postmark/postmark_countries_10.svg" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="./img/product/DIY/DIYtool_2.svg" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="./img/product/figure/figure_vector_8.svg" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="" alt="" class="figure"></div>
            </div>
            <div class="owl-item">
              <div class="owl_img"><img src="" alt="" class="figure"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/2.4.0/fabric.js"></script>
  <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
  <script src="./js/fastclick.js"></script>
  <script src="./js/jquery.nice-select.min.js"></script>
  <script src="./js/shop_carousel.js"></script>
  <script src="./js/shop_draw.js"></script>
  <script>
    $('#myCollapsible').on('hidden.bs.collapse', function () {
      // do something…
    })
  </script>
  <script>
    //  ================這是商品Filter用=========================

    new Vue({
      el: '#app',
      data: {
        visibility: 'all',
        items: [{
            style: 'postmark',
            id: 'itemCard1',
            url: './img/product/postmark/postmark_3.png'
          },
          {
            style: 'pattern',
            id: 'itemCard2',
            url: './img/product/postmark/postmark_1.png'
          },
          {
            style: 'postmark',
            id: 'itemCard3',
            url: './img/product/postmark/postmark_2.png'
          },
          {
            style: 'tool',
            id: 'itemCard4',
            url: './img/product/postmark/postmark_2.png'
          },
          {
            style: 'tool',
            id: 'itemCard5',
            url: './img/product/postmark/postmark_3.png'
          },
          {
            style: 'postmark',
            id: 'itemCard6',
            url: './img/product/postmark/postmark_3.png'
          },
          {
            style: 'tool',
            id: 'itemCard7',
            url: './img/product/postmark/postmark_2.png'
          },
          {
            style: 'tool',
            id: 'itemCard8',
            url: './img/product/postmark/postmark_1.png'
          },
          {
            style: 'tool',
            id: 'itemCard9',
            url: './img/product/postmark/postmark_3.png'
          },
          {
            style: 'pattern',
            id: 'itemCard10',
            url: './img/product/postmark/postmark_1.png'
          },
          {
            style: 'tool',
            id: 'itemCard11',
            url: './img/product/postmark/postmark_1.png'
          },
          {
            style: 'pattern',
            id: 'itemCard12',
            url: './img/product/postmark/postmark_3.png'
          },
          {
            style: 'pattern',
            id: 'itemCard13',
            url: './img/product/postmark/postmark_3.png'
          },
          {
            style: 'tool',
            id: 'itemCard14',
            url: './img/product/postmark/postmark_2.png'
          },
          {
            style: 'postmark',
            id: 'itemCard15',
            url: './img/product/postmark/postmark_2.png'
          },
        ],

      },
      page: 1,
      computed: {
        // filteredItems() {
        //   const vm = this;
        //   if (vm.visibility == 'all') {
        //     return vm.items
        //   } else {
        //     return vm.items.filter(
        //       item => item.style == vm.visibility
        //     );
        //   }
        // },

        filteredItems() {
          var newitems = [];
          const vm = this;
          if (vm.visibility == 'all') {
            return vm.items
          } else {
            vm.items.filter(function (item) {
              if (vm.visibility == item.style) {
                newitems.push(item)
              }
            })
            console.log(newitems)
            return newitems
          }
        },

      },
      methods: {
        // changePage1() {

        //     if (newitems[index] < 5 && newitems[index] >= 0)
        //       return newitems

        //   }
        // }
      },
      watch: {
        // page() {
        //   this.change();
        // }
      },

    })
  </script>

  <script>
    //  ================這是3D按鈕用=========================
    $('.switchBtn').mousedown(function () {
      $(this).addClass('clicked');
    });
    $('.switchBtn').mouseup(function () {
      $(this).removeClass('clicked');
    });

    $('.orderBtn').mousedown(function () {
      $(this).addClass('clicked');
    });
    $('.orderBtn').mouseup(function () {
      $(this).removeClass('clicked');
    });

    //  ================這是跳窗用=========================

    $('.itemCard').click(function () {
      $('#outshadow').css('opacity', '0.7');
      $('#outshadow').css('visibility', 'visible');
      $('#outshadow').css('zIndex', '99');
      $('#medal').css('display', 'block');
      $('#medal').css('zIndex', '100');
      e ? e.stopPropagation() : event.cancelBubble = true;
    })

    $('.cross').click(function () {
      $('#outshadow').css('visibility', 'hidden');
      $('#outshadow').css('zIndex', '-99');
      $('#medal').css('display', 'none');
      e ? e.stopPropagation() : event.cancelBubble = true;
    })
  </script>

  <script>
    // =====================這是美化下拉式選單=======================
    $(document).ready(function () {
      $('select:not(.ignore)').niceSelect();
      FastClick.attach(document.body);
    });
  </script>
</body>

</html>