<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>write-letter</title>
    <link href="./css/main.css" rel="stylesheet" type="text/css">
    <style>
        * {
            box-sizing: border-box;
        }
    </style>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
    <script>
        window.onload = function() {
            FastClick.attach(document.body);     
        }
    </script> -->
</head>

<body class="wrletter-body">
    @@include("./layout/nav.html")
    @@include("./layout/header.html")
    <main id="writeLetterMain">
        <form action="./js/writeLetter.php" method="POST" enctype="multipart/form-data" name="theForm" id="wrtLetForm">
        <section class="writ-step-1" id="writStep1">
            <img class="dress-up" src="./img/share/blue-paint-bigline.svg"></img>
            <div class="box-white select-category">
                <img src="./img/share/blue-tape.svg" class="blue-tape">
                <div class="num-one">
                    <h2>選擇分類</h2>
                </div>
                <div class="tv-category">
                    <div class="change-category-btn">
                        <label 
                            class="btn" 
                            @click="setCategoryName"
                        >
                            <input 
                                type="radio" 
                                name="letSort" 
                                v-model="letterCategory" 
                                value="newsCat" 
                            >爆料
                        </label>
                        <label 
                            class="btn" 
                            @click="setCategoryName"
                        >
                            <input 
                                type="radio"
                                name="letSort"
                                v-model="letterCategory"
                                value="moodCat"
                            >心情
                        </label>
                        <label 
                            class="btn" 
                            @click="setCategoryName"
                        >
                            <input
                                type="radio"
                                name="letSort"
                                v-model="letterCategory"
                                value="funCat"
                            >娛樂
                        </label>
                    </div>
                    <div class="tv-machine"></div>
                    <div id="tvShow" class="tv-show" :class="{active: tvStart === true}">
                        @@include("./layout/tv-category.html")
                    </div>
                </div>
            </div>
            <div class="category-note">
                <div class="note-pad">
                    <div class="paper-cloud"></div>
                    <div class="note-text">
                        <component :is='catIllustrate'/>
                    </div>
                </div>
            </div>
        </section>
        <section class="writ-step-2" id="writStep2">
            <img class="dress-up" src="./img/share/yellow-paint-bigline.svg"></img>
            <img class="dress-up2" src="./img/share/yellow-paint-bigline.svg"></img>
            <div class="box-white write-content">
                <div class="upload-img">
                    <div class="paper-cloud"></div>
                    <label class="hookimg" id="hookimg">
                        <input 
                            type="file" 
                            name="userUploadImage"
                            accept="image/gif, image/jpeg, image/png"
                            @change="fileSelected">
                        <span 
                            id="letterImg" 
                            :style= "{backgroundImage: showUploadImg}">
                            <span class="add-circle"></span>
                        </span>
                    </label>
                    <div class="printer">
                        <h3>上傳圖片</h3>
                    </div>
                </div>
                <div class="input-contant">
                    <div class="num-two">
                        <h2>寫下內容</h2>
                    </div>
                    <div class="box-white input-contant-box">
                        <div class="letter-title">
                            <input type="text" name="letterTitle" id="letterTitle" placeholder="請輸入信件標題" required>
                            <label>信件標題</label>
                        </div>
                        <textarea id="letterContant" name="letterContant" cols="30" rows="10" class="letterContant" required></textarea>
                    </div>
                </div>
                <img src="./img/share/blue-tape-rough.svg" class="blue-tape-rough">
            </div>
        </section>
        <section class="writ-step-3" id="writStep3">
            <img class="dress-up" src="./img/share/blue-paint-bigline.svg"></img>

            <div class="top-paintes-part">

                <a href="./shop.html" class="goto-shop-btn">
                    <div class="paper-cloud"></div>
                    <img src="./img/write-letter/goto-shop-btn.svg">
                    <div class="dot-box-blue shop-signboard">
                        <div class="box-white shop-title">
                            <h3 class="threed-text-red shop-text">客製彩繪</h3>
                        </div>
                    </div>
                    <div class="discription">
                        <p>彩繪圖案不夠嗎？</p>
                    </div>
                </a>
                <div class="box-white painting-plan">
                    <div class="num-three">
                        <h2>漆上彩繪</h2>
                    </div>
                    <img src="./img/share/pipe.png" class="pipe">
                    <img src="./img/share/water-drop.png" class="water-drop">
                    <div class="preview-plan"> 
                        <span :style="{backgroundImage: previewPattern}"></span> 
                    </div>
                    
                    <img src="./img/share/blue-tape-rough.svg" class="blue-tape-rough-tl">
                    <img src="./img/share/blue-tape-rough.svg" class="blue-tape-rough-tr">
                    <img src="./img/share/blue-tape-rough.svg" class="blue-tape-rough-bl">
                    <img src="./img/share/blue-tape-rough.svg" class="blue-tape-rough-br">
                </div>
            </div>
      
            <div class="select-paintes">
                <span class="arrow-white"></span>
                    <div id="painteType" class="painte-type">
                        
                        <template v-for="(item, index) in 3"><!-- 3要改成 用戶的素材長度 -->
                            <label class="type" :class="{active: index === openIndex}"
                                @click.prevent="clickPattern($event,index)" 
                                @touchstart.prevent="clickPattern($event,index)">
                                <input type="radio" name="userPattern" :value="index" required>
                                <span class="box-white preview-paper" :class="{active: index === openIndex}" :style="{backgroundImage: userPattern[index]}"></span>
                                <span class="print-type-pattern" ref='bg' :style="{backgroundImage: userPattern[index]}">
                                </span>
                                <span class="printScraper" :class="{active: index === openIndex}"></span>
                            </label>
                        </template>
                        
                    </div>
                <span class="arrow-white reverse"></span>
            </div>

        </section>
        <section class="writ-step-4" id="vmUserStamp">
            <img src="./img/share/paper-plane.png" class="dress-up-plane">
            <div class="box-white bottom-bg">
                <a href="./shop.html" class="goto-shop-btn rightshopBtn">
                    <div class="paper-cloud"></div>
                    <img src="./img/write-letter/goto-shop-btn.svg">
                    <div class="dot-box-blue shop-signboard">
                        <div class="box-white shop-title">
                            <h3 class="threed-text-red shop-text">客製郵戳</h3>
                        </div>
                    </div>
                    <div id="shopDisc" class="discription"><p>想要客製化郵戳嗎？</p></div>
                </a>
                <span class="share-clip clip-left">
                </span>
                <div class="dot-box-yellow top-right top-right-bg">
                    <div class="box-white top-right-bg">
                        <div class="box-white top-right-bg">
                            <div class="num-four">
                                <h2>選擇郵戳，進行下一步!</h2>
                            </div>
                            <div class="select-stamp">
                                <span class="arrow-white"></span>
                                <div class="stamp-type">
                                    <template v-for="(item,index) in 3">
                                        <button class="type" name="userStamp" :value="index"
                                        @click="clickStamp"
                                        @touchstart="clickStamp">
                                            <span :style="{backgroundImage: userStamp[index]}"></span>
                                        </button>
                                    </template>
                                </div>
                                <span class="arrow-white reverse"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </form>
    </main>
    @@include("./layout/foldthePlane.html")
    @@include("./layout/footer.html")
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
    <script src="./js/foldThePlane.js"></script>
    <script src="./js/writeLetter.js"></script>
</body>

</html>