header{
    width: 100vw;
    height: 25vw;
    font-size: 0;
    #myClouds{
        width: 100vw;
    };
    .view{
    };
    .white-space-bg{
        width: 100vw;
        height: 150px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 1)25%, rgba(235, 255, 255, 0)100%);
    };
}