header{
    // width: 100vw;
    height: 14vw;
    font-size: 0;
    #myClouds{
        width: 100vw;
    };
    .white-space-bg{
        // width: 100vw;
        height: 300px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 1)60%, rgba(235, 255, 255, 0)100%);
        position: relative;
        z-index: 99;
        .head-box{
            width: 60vw;
            height: auto;
            margin: 0 auto;
            border: 1px solid red;
            text-align: center;
            
            .bottom-bg{
                width: auto;
                height: 20vw;
                // animation: shad-anim 10s linear infinite;
                .clip-left{
                    top: -65%;
                    left: 18%;
                };
                .clip-right{
                    top: -65%;
                    right: 18%;
                }
                .top-left-bg{
                    position: relative;
                    top: 10px;
                    left: -15px;
                    height: 15vw;
                    .headpg-name{

                    };
                };
            };        
        };
        .clouds{
            
        };
    };
}