<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>write-letter</title>
    <link href="./css/main.css" rel="stylesheet" type="text/css">
    <style>
        * {
            box-sizing: border-box;
        }
    </style>
</head>

<body class="wrletter-body">
    @@include("./html/nav.html")
    @@include("./html/header.html")
    <main>
        <section class="writ-step-1" id="writStep1">

            <div class="box-white select-category">
                <img src="./img/share/blue-tape.svg" class="blue-tape">
                <div class="num-one">
                    <h2>選擇分類</h2>
                </div>
                <form class="tv-category">
                    <div class="change-category-btn">
                        <label 
                            class="btn" 
                            @click="setCategoryName" 
                            for="爆料"
                        >
                            <input 
                                type="radio" 
                                name="爆料" 
                                v-model="letterCategory" 
                                value="爆料" 
                                
                            >爆料
                        </label>
                        <label 
                            class="btn" 
                            @click="setCategoryName" 
                            for="心情"
                        >
                            <input 
                                type="radio"
                                name="心情"
                                v-model="letterCategory"
                                value="心情"
                                
                            >心情
                        </label>
                        <label 
                            class="btn" 
                            @click="setCategoryName"
                            for="娛樂"
                        >
                            <input
                                type="radio"
                                name="娛樂"
                                v-model="letterCategory"
                                value="娛樂"
                                
                            >娛樂
                        </label>
                    </div>
                    <div class="tv-machine"></div>
                    <div class="tv-show" :class="{active: tvStart === true}">
                        @@include("./html/tv-category.html")
                    </div>
                </form>
            </div>
            <div class="category-note">
                <div class="note-pad">
                    <div class="paper-cloud"></div>
                    <div class="note-text">
                        <h3>爆料版說明:</h3>
                        <p>獨樂樂不如眾樂樂，有什麼大家必須知道的事情，最勁爆的踢爆、直擊與新聞，在此盡覽無遺。</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="writ-step-2">
            <div class="box-white write-content">
                <div class="upload-img">
                    <div class="paper-cloud"></div>
                    <div class="hookimg"></div>
                    <div class="printer">
                        <h3>上傳圖片</h3>
                    </div>
                </div>
                <div class="input-contant">
                    <div class="num-two">
                        <h2>寫下內容</h2>
                    </div>
                    <form action="#" class="box-white input-contant-box">
                        <div class="letter-title">
                            <input type="text" name="letterTitle" id="input1" placeholder="請輸入信件標題">
                            <label>信件標題</label>
                        </div>
                        <textarea name="letterContant" cols="30" rows="10" class="letterContant"></textarea>
                    </form>
                </div>
                <img src="./img/share/blue-tape-rough.svg" class="blue-tape-rough">
            </div>
        </section>
        <section class="writ-step-3" id="writStep3">
            <div class="top-paintes-part">
                <div class="goto-shop-btn">
                    <img src="./img/write-letter/goto-shop-btn.svg">
                    <div class="dot-box-blue shop-signboard">
                        <div class="box-white shop-title">
                            <h3 class="threed-text-red shop-text">
                                前往<br>商城
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="box-white painting-plan">
                    <div class="num-three">
                        <h2>漆上彩繪</h2>
                    </div>
                    <img src="./img/share/pipe.png" class="pipe">
                    <img src="./img/share/water-drop.png" class="water-drop">
                    <div class="preview-plan"></div>
                    <img src="./img/share/blue-tape-rough.svg" class="blue-tape-rough-tl">
                    <img src="./img/share/blue-tape-rough.svg" class="blue-tape-rough-tr">
                    <img src="./img/share/blue-tape-rough.svg" class="blue-tape-rough-bl">
                    <img src="./img/share/blue-tape-rough.svg" class="blue-tape-rough-br">
                </div>
            </div>
            <div class="select-paintes">
                <span class="arrow-white"></span>
                <div class="painte-type">
                    <template v-for="(item, index) in 3">
                        <div class="type" :class="{active: index === openIndex}" @click="openIndex = index">
                            <span class="box-white preview-paper" :class="{active: index === openIndex}"></span>
                            <span class="print-type-pattern">
                                <span class="printScraper" :class="{active: index === openIndex}"></span>
                            </span>

                        </div>
                    </template>
                </div>
                <span class="arrow-white reverse"></span>
            </div>
        </section>
        <section class="writ-step-4" id="writStep4">
            <div class="box-white bottom-bg">
                <span class="share-clip clip-left">
                </span>
                <div class="dot-box-yellow top-right top-right-bg">
                    <div class="box-white top-right-bg">
                        <div class="box-white top-right-bg">
                            <div class="num-four">
                                <h2>選擇郵戳，進行下一步!</h2>
                            </div>
                            <div class="select-stamp">
                                <span class="arrow-white"></span>
                                <div class="stamp-type">
                                    <template v-for="item in 3">
                                        <div class="type"></div>
                                    </template>
                                </div>
                                <span class="arrow-white reverse"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="test-area"></div>

        <!-- <div class="btn-big-test" id="bigBtn">
            <div class="back side-way"></div>
            <div class="left side-way"></div>
            <div class="right side-way"></div>
            <div class="top side-way"></div>
            <div class="bottom side-way">
                <div class='side-way__text'> 購買 </div>
            </div>
            <div class="front side-way"></div>
        </div> -->
        <!-- <div class="btn-wrapper-center">
            <a href="#" class="btn3d btn-basic-yellow">Click</a>
        </div> -->



    </main>
    @@include("./html/footer.html")

    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
    <script>
        let nm1 = new Vue({
            el:"#writStep1",
            data:{
                tvStart: false,
                letterCategory:'',
            },
            methods:{
                setCategoryName(e){
                    // console.log(e.target.parentNode.childNodes);
                    this.tvStart = true;
                    let catLabel = e.target.parentNode.childNodes;
                    for(let i = 0 ; i < catLabel.length ; i++){
                        catLabel[i].classList = "btn";
                    }
                    e.target.parentNode.childNodes
                    e.target.classList.add("click");
                    this.letterCategory = e.target.firstChild.value;
                },
            },
        });

        let vm3 = new Vue({
            el: '#writStep3',
            data: {
                openIndex: null,
            },
            methods: {},
            computed: {

            },
        });

        let vm4 = new Vue({
            el: '#writStep4',
            data: {},

        });
    </script>
</body>

</html>