/* 
 *  3D按鈕: 基本款
 */
//  說明:外面要包一層<div>去控制按鈕的位置
//  e.g.<div class="btn-wrapper-center">
//      <div class="btn btn-COLOR">按鈕文字</div>
//      </div>
//author: Rhan0
.btn-wrapper-center {
    position: absolute;
    width: 120px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.btn-wrapper-right {
    position: absolute;
    width: 120px;
    height: 40px;
    top: 20%;
    left: 20%;
    transform: translate(-50%);
}

.btn-wrapper-left {
    position: absolute;
    width: 120px;
    height: 40px;
    top: 80%;
    left: 80%;
    transform: translate(-50%);
}

@mixin btn_basic_module($btn-module) {

    @each $title,
    $color in $btn-module {
        .btn-basic-#{$title} {
            font-family: '微軟正黑體', Roboto Mono;
            letter-spacing: 0.4em;
            position: absolute;
            border: none;
            outline: none;
            width: 120px;
            height: 40px;
            background-color: $color;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
            color: white;
            // border: 1px solid black;
            text-decoration: none !important;
            z-index: 1;

            &:before {
                content: '';
                position: absolute;
                width: 40px;
                height: 10px;
                left: -25px;
                bottom: 10px;
                background-color: $color + #111;
                transform: rotate(90deg) skew(45deg);

                background: linear-gradient(45deg, $color + #111 45%, black 45%, black 55%, $color + #111 10%);
                background-size: 7px 7px;
                // border: 1px solid black;
                // border: 1px solid black;
                // animation: shad-anim 5s linear infinite;
                z-index: -1;
            }

            &:after {
                content: '';
                position: absolute;
                width: 120px;
                height: 10px;
                bottom: -10px;
                left: -5px;
                background-color: $color - #111;
                transform: skew(-45deg) rotate(0deg);
                // border: 1px solid black;
                background: linear-gradient(80deg, $color - #111 40%, black 40%, black 55%, $color - #111 20%);
                background-size: 7px 7px;
                // animation: shad-anim 10s linear infinite;
                // border: 1px solid black;

                z-index: -1;
            }

            &.clicked {
                left: -5px;
                bottom: -5px;

                &:before {
                    height: 5px;
                    left: -22px;
                    bottom: 15px;
                }

                &:after {
                    height: 5px;
                    bottom: -5px;
                    left: -2px;
                }
            }
        }
    }

}

/* 
 *  3D按鈕: 重要按鈕(打賞、留言、購買)
 */
//  說明:照著下面的結構去使用就好...不用改
//  e.g.<div class="btn-big-test">
//          <div class="back side-way"></div>
//          <div class="left side-way"></div>
//          <div class="right side-way"></div>
//          <div class="top side-way"></div>
//          <div class="bottom side-way">
//              <div class='side-way__text'> 要用的文字 </div>
//          </div>
//          <div class="front side-way"></div>
//      </div>
//author: Rhan0
@mixin btn_big_module() {

    //CSS Variables
    .btn-big-test {
        --color: #f3de6b;
        --color-dark: #e7cc56;
        --color-dark-side-way: #e7cc56;
        --box-height: 200%;
        --box-width: 452%;
        --box-deep: 3vw;
        --light: #212121;
        --light-2: #e7cc56;
    }

    .side-way,
    .btn-big-test {
        width: 100%;
        height: 100%;
        border: .2vw solid $main-black;
        pointer-events: none;
    }


    .side-way {
        position: absolute;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
    }

    .btn-big-test {
        perspective: 1000px;
        transition: transform .5s linear;
        transform-style: preserve-3d;
        transform: rotateX(30deg) rotateZ(-180deg) rotateY(180deg);
        perspective-origin: 50% 0rem;
        pointer-events: none;

        // animation: rotate 10s ease-out infinite;
        .back {
            transform: translateY(calc(var(--box-height) - (var(--box-deep) * (0.5)))) translateZ(calc(var(--box-deep) * (-0.5))) rotateX(90deg);
            background: var(--color-dark);
            height: var(--box-deep);
            pointer-events: none;
        }

        .left {
            transform: translateX(calc(var(--box-deep) * (-0.5))) translateZ(calc(var(--box-deep) * (-0.5))) rotateY(90deg);
            background: var(--color-dark-side-way);
            width: var(--box-deep);
            pointer-events: none;
        }

        .right {
            transform: translateX(calc(var(--box-width) - var(--box-deep) * (0.5))) translateZ(calc(var(--box-deep) * (-0.5))) rotateY(90deg);
            background: var(--color-dark-side-way);
            width: var(--box-deep);
            pointer-events: none;
        }

        .top {
            background: var(color-dark);
            width: 100%;
            height: 100%;
            box-shadow: 0 -3px 5px 0 black;
            pointer-events: none;
        }

        .bottom {
            transform: translateZ(calc(var(--box-deep) * (-1)));
            background: var(--color);
            width: 100%;
            height: 100%;
            border-radius: 2px;
            box-sizing: comtainer;
            pointer-events: none;

            .side-way__text {
                transform: rotateX(30deg) rotateZ(-180deg) rotateY(180deg);
                font: bold 3vw "Noto Sans TC";
                color: white;
                text-align: center;
            }
        }

        .front {
            transform: translateY(calc(var(--box-deep) * (-0.5))) translateZ(calc(var(--box-deep) * (-0.5))) rotateX(90deg);
            background: var(--color-dark);
            height: var(--box-deep);
        }
    }

    // .btn-big-active{
    //     --box-deep: 1rem !important;
    // }
    .bigBtnActive {
        --box-deep: 1rem !important;
    }

    .btn-big-test:active {
        --box-deep: 1rem !important;
        .redBtn_light,
        .blueBtn_light {
            background: #aaa !important;
        }
        .redBtn,
        .blueBtn {
            background: #878787 !important;
        }

        .back{
            transform: translateY(450%) translateZ(calc(var(--box-deep) * (-0.5))) rotateX(90deg);
        }
        .right{
            transform: translateX(1070%) translateZ(calc(var(--box-deep) * (-0.5))) rotateY(90deg);
        }
    }

    .btn-big-test.active {
        --box-deep: 1rem !important;

        .redBtn_light,
        .blueBtn_light {
            background: #aaa !important;
        }

        .redBtn,
        .blueBtn {
            background: #878787 !important;
        }

        .back{
            transform: translateY(450%) translateZ(calc(var(--box-deep) * (-0.5))) rotateX(90deg);
        }
        .right{
            transform: translateX(1070%) translateZ(calc(var(--box-deep) * (-0.5))) rotateY(90deg);
        }
        
    }

    .btn-big-test:active .top {
        box-shadow: 0 -3px 5px 0 var(--light), 0 -5px 10px 0 var(--light-2);
    }

    @include respond(note) {
        .btn-big-test {
            --color: #f3de6b;
            --color-dark: #e7cc56;
            --color-dark-side-way: #e7cc56;
            --box-height: 200%;
            --box-width: 305%;
            --box-deep: 11vw;
            --light: #212121;
            --light-2: #f08b8c;
        }
    }

    @include respond(iphone) {
        .btn-big-test {
            --color: #f3de6b;
            --color-dark: #e7cc56;
            --color-dark-side-way: #e7cc56;
            --box-height: 200%;
            --box-width: 305%;
            --box-deep: 11vw;
            --light: #212121;
            --light-2: #f08b8c;
        }
    }

    @keyframes rotate {
        100% {
            transform: rotateX(360deg) rotateY(360deg);
        }
    }
}

/* 
 *  3D按鈕: 重要按鈕(打賞、留言、購買)
 */
//  說明:

//author: Rhan0
@mixin btn_3d_module() {
    $color__black: #231F20;
    $color__blue--light: #00D3D6;
    $color__blue--normal: #00BDBF;
    $color__blue--darkish: #009193;
    $color__blue--dark: #002A32;

    //-----------------------
    $btn-front-colour: $color__blue--light;
    $btn-side-colour: $color__blue--normal;
    $btn-side-colour-pressed: $color__blue--darkish;

    $btn-padding: 1vw;
    $btn-depth: 20px;
    $btn-press-depth: 10px;

    $btn-animation-duration: 0.175s;

    $btn-text-colour: $color__black;

    $border-color: $color__black;
    $border-weight: 2px;
    // $border-weight-double: $border-weight * 2;
    // $border-weight-half: $border-weight / 2;


    .btn {
        /*
        button,
        input[type="submit"] 
        */

        transition:
            transform $btn-animation-duration,
            background-color $btn-animation-duration;


        transform-origin: top left;


        display: inline-block;

        background-color: $btn-front-colour;
        border: 3px solid $border-color;
        padding: $btn-padding;
        position: relative;
        margin-right: calc(#{$btn-depth * .3});



        text-decoration: none;
        font-size: 22px;
        font-weight: bold;
        color: $btn-text-colour;

        &:before,
        &:after {
            content: "";
            display: inline-block;
            width: $btn-depth;
            height: $btn-depth;
            background-color: $btn-side-colour;

            position: absolute;
            bottom: calc(100% + #{$border-weight});
            left: calc(0px - #{$border-weight});

            border: 3px solid $border-color;
            border-bottom: 0;

            transition:
                width $btn-animation-duration,
                background-color $btn-animation-duration,
                height $btn-animation-duration;
        }

        &:before {
            //top of button

            width: calc(100% + 6px);
            transform-origin: bottom left;
            transform: skewX(-45deg);

            border-right-width: 1.5px;



        }

        &:after {
            //side of button

            content: "";
            height: calc(100% + 4px);
            top: unset;
            left: unset;

            left: calc(100% + #{$border-weight});
            bottom: calc(0px - #{$border-weight});

            border: 3px solid $border-color;
            border-top-width: 3px;
            border-left: 0;

            transform-origin: bottom left;
            transform: skewY(-45deg);
        }

        &:hover,
        &:active,
        &:focus {
            transform: translate($btn-press-depth, -$btn-press-depth);
            background: $btn-side-colour;
            outline: none;

            &:before,
            &:after {
                background: $btn-side-colour-pressed;
            }

            &:before {
                height: $btn-press-depth;
            }

            &:after {
                width: $btn-press-depth;
            }

        }

        &:active,
        &:focus {
            outline: none;
            transform: translate($btn-press-depth, -$btn-press-depth);
            background: $main-dark-red;
            color: #fff;

            &:before,
            &:after {
                background: $main-dark-red;
            }

            &:before {
                height: $btn-press-depth;
            }

            &:after {
                width: $btn-press-depth;
            }

        }

        &.click {
            outline: none;
            transform: translate($btn-press-depth, -$btn-press-depth);
            background: $main-dark-red;
            color: #fff;

            &:before,
            &:after {
                background: $main-dark-red;
            }

            &:before {
                height: $btn-press-depth;
            }

            &:after {
                width: $btn-press-depth;
            }
        }
    }
}


@mixin goBackBtn() {
    .goBackBtn {
        position: absolute;
        top: 50%;
        left: 80%;
        // display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translate(-50%, -50%);
        z-index: 9;
        width: 15%;

        .goBtn {
            background-color: $main-dark-red;
            cursor: pointer;
            text-decoration: none;
            color: #fff;
            padding: 15px 20px;
            text-align: center;
            margin: 3% 3%;
            font-size: 1.5rem;
            border-radius: $main-borderRadius;

            &:hover {
                background-color: $main-yellow;
                color: $main-dark-red;
            }
        }
    }

    .goBackBtn_2 {
        position: absolute;
        display: flex;
        width: 85%;
        top: unset;
        bottom: 0;
        left: 50%;
        flex-direction: row;
        justify-content: center;
        transform: translate(-50%, -50%);
        z-index: 999;

        .goBtn {
            cursor: pointer;
            text-decoration: none;
            background-color: $main-dark-red;
            color: #fff;
            border-radius: $main-borderRadius;
            padding: 15px 20px;
            text-align: center;
            margin: 3% 3%;
            font-size: 1.5rem;

            &:hover {
                background-color: $main-yellow;
                color: $main-dark-red;
            }
        }
    }

    @include respond(note) {
        #goBackBtn {
            width: 85%;
            top: unset;
            bottom: 0;
            left: 50%;
            flex-direction: row;
            justify-content: center;
            transform: translate(-50%, 0%);

            .goBtn {
                padding: 10px 8px;
                text-align: center;
                margin: 3% 3%;
                font-size: 1.2rem;
            }
        }
    }

    @include respond(iphone) {
        #goBackBtn {
            width: 85%;
            top: unset;
            bottom: 0;
            left: 50%;
            flex-direction: row;
            justify-content: center;
            transform: translate(-50%, 0%);

            .goBtn {
                padding: 10px 8px;
                text-align: center;
                margin: 3% 3%;
                font-size: 1.2rem;
            }
        }
    }
}