@mixin itemCardRow1($sum) {
  @for $i from 2 through $sum {

    //從1跑到5
    #itemCard#{$i} {
      width: 8vw;
      height: 8vw;
      margin: 0 2% 10% 2%;
      border: $border;
      background-size: contain;
      background-position: center;
      background-color: #fff;
      background-repeat: no-repeat;
    }
  }
}



@mixin itemCardRow1_md($sum) {
  @for $i from 2 through $sum {

    //從1跑到5
    #itemCard#{$i} {
      width: 10vw;
      height: 10vw;
      margin: 0 2% 10% 2%;
      border: $border;
      background-size: contain;
      background-position: center;
      background-color: #fff;
      background-repeat: no-repeat;
    }
  }
}



@mixin itemCardRow1_sm($sum) {
  @for $i from 2 through $sum {

    //從1跑到3
    #itemCard#{$i} {
      transform: translate(0, 0) rotate(0deg);
      width: 15vw;
      height: 15vw;
      margin: 2%;
      border: $border;
      background-size: contain;
      background-position: center;
      background-color: #fff;
      background-repeat: no-repeat;

      img {
        display: none;
      }
    }
  }
}

@mixin itemCardRow1_note($sum) {
  @for $i from 2 through $sum {

    //從1跑到3
    #itemCard#{$i} {
      transform: translate(0, 0) rotate(0deg);
      width: 20vw;
      height: 20vw;
      margin: 2%;
      border: $border;
      background-size: contain;
      background-position: center;
      background-color: #fff;
      background-repeat: no-repeat;

      img {
        display: none;
      }
    }
  }
}