@keyframes paperPlane {
    0% {
        bottom: 10%;
        left: 15%;
    }
    50%{
        bottom: 30%;
    }
    100% {                        
        bottom: 10%;
        left: 110%;
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(30px);
      filter: saturate(0%);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
      filter: saturate(100%);
    }
}

@keyframes sliceIn {
    0% {
      transform: translateX(-30px);
    }
    100% {
      transform: translateX(0px);
    }
}