@keyframes box {
  0% {
      bottom: 20%;
      left: 22.8%;
      transform: rotate(0deg);
  }
  10% {
      bottom: 16%;
      left: 22.8%;
  }
  60%{
      bottom: 16%;
      left: 75%;
      transform: rotate(0deg);
  }
  70%{
      bottom: -5%;
      left: 86%;
      transform: rotate(90deg);
  }
  78% {                        
      bottom: -30%;
      left: 86%;
      transform: rotate(90deg);
  }
  100% {                        
      bottom: -100%;
      left: 86%;
      transform: rotate(90deg);
  }
}

@keyframes paper {
  0% {
      bottom: 19%;
      right: 22%;
      transform: rotate(0deg);
  }
  60%{
      bottom: 19%;
      right: 75%;
      transform: rotate(0deg);
  }
  70%{
      bottom: 10%;
      right: 78%;
      transform: rotate(-90deg);
  }
  78% {                        
      bottom: -40%;
      right: 83%;
      transform: rotate(-90deg);
  }
  100% {                        
      bottom: -93%;
      right: 83%;
      transform: rotate(-90deg);
  }
}

@keyframes paperPlane {
    0% {
        bottom: 10%;
        left: 15%;
    }
    50%{
        bottom: 30%;
    }
    100% {                        
        bottom: 10%;
        left: 110%;
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(30px);
      filter: saturate(0%);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
      filter: saturate(100%);
    }
}

@keyframes sliceIn {
    0% {
      transform: translateX(-30px);
    }
    100% {
      transform: translateX(0px);
    }
}