@mixin userSetting_mem {
    width: 50%;
    min-width: 530px;
    max-width: 770px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%,5%);
    @include border;
}

@mixin userSetting_space {
    width: 22%;
    height: 80px;
    background: radial-gradient($main-red 30%, rgb(248, 230, 228) 20%);
    background-size: 8px 8px;
    position: absolute;
    bottom: -80px;
}

@mixin userSetting_title{
    padding: 10px;
    width: 450px;
    height: 100px;
    // background-image: url("../img/user-setting/signboard.jpg");
    background-color: rgb(255, 255, 255);
    font-size: 4.5rem;
    letter-spacing: 1.25rem;
    position: absolute;
    top: -10%;
    z-index: 6;
    @include border;
}

@mixin userSetting_title_note{
    width: 100%;
    height: 100px;
    left: 50%;
    transform: translate(-50%,10%);
    font-size: 3.75rem;
}

@mixin userSetting_title_iphone{
    width: 100%;
    height: 85px;
    left: 50%;
    transform: translate(-50%,10%);
    font-size: 3rem;
}

@mixin kanbanSize{
    width: 100%;
    min-width: 350px;
}


//hover
@mixin hoverDeg{
    cursor: pointer;
    transform: rotate(5deg);
}

@mixin hoverFontsize{
    cursor: pointer;
    font-size: 2rem;
}

@mixin hoverWidth{
    cursor: pointer;
    width: 2rem;
}
