@mixin userSetting_adm{
    width: 100%;
    background-size: 8px 8px;
    z-index: 10;
    position: relative;
    @include marginAuto;
    // @include border;
    .userSetting_wrap {
        padding-top: 10px;
        width: 50%;
        height: 420px;
        opacity: .8;
        .userSetting_Name{
            margin: 0 10%;
            padding: 5px;
        }
        .userSetting_work{
            @extend.userSetting_Name;
        }
        .userSetting_portfolio{
            @extend.userSetting_Name;
        }
    }
    .userSetting_picture{
        width: 38%;
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: .8;
    }
}


@mixin userSetting_admTag {
    margin:  0 1.5% 5% ;
    width: 120px;
    height: 215px;
    display: inline-block;
    background-repeat: no-repeat;
}
@mixin userSetting_admTagName{
    margin-top: 130px;
    text-align: center;
}

@mixin lighting{
    width: 100px;
    height: 300px;
    display: block;
    position: absolute;
    background-size: 10px 20px;
    z-index: -1;
}

@keyframes leftLight {
    0% {
        background-position: 0 0;
    }
    100% {                        
        background-position: 100% 100%;
    }
}
@keyframes downLight {
    0% {
        background-position: 0 0;
    }
    100% {                        
        background-position: 0 100%;
    }
}
@keyframes rightLight {
    0% {
        background-position: 0 0;
    }
    100% {                        
        background-position: -100% 100%;
    }
}
@keyframes paperPlane {
    0% {
        bottom: 10%;
        left: 15%;
    }
    50%{
        bottom: 30%;
    }
    100% {                        
        bottom: 10%;
        left: 110%;
    }
}