<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>write-letter</title>
    <link href="./css/main.css" rel="stylesheet" type="text/css">
    <style>
        * {
            box-sizing: border-box;
        }
    </style>
</head>

<body class="wrletter-body">
    <div class="nav-body">
    <div id="navHead" class="nav-navBgWrap">
        <div class="nav-navBg">
            <img src="./img/share/nav_lightBox.svg" alt="">
            <nav class="nav-navWrap">
                <!-- <div class="nav-topBlock">
                登入和設定 
            </div> -->
                <div class="nav-logoWrap">
                    <a href="./home.html"><img src="./img/share/LOGO.png"></a>
                </div>
                <div class="nav-navPageWrap hbg">
                    <ul class="nav-list" id="list">
                        <a class="nav-logo" href="./home.html"><img src="./img/share/LOGO.png"></a>
                        <li><a href="./write-letter.html">
                                <p class="nav-pageName">寫信</p> <span class="nav-circle-1 nav-now"></span>
                            </a> </li>
                        <li><a href="./catch-letter.html">
                                <p class="nav-pageName">撈信</p> <span class="nav-circle-2"></span>
                            </a> </li>
                        <li><a href="./shop.html">
                                <p class="nav-pageName">商城</p> <span class="nav-circle-3"></span>
                            </a> </li>
                        <li><a href="./cave.html">
                                <p class="nav-pageName">我的倉庫</p> <span class="nav-circle-4"></span>
                            </a> </li>
                        <li><a href="./chatroom.html">
                                <p class="nav-pageName">聊天室</p> <span class="nav-circle-5"></span>
                            </a> </li>
                        <li><a href="./classic.html">
                                <p class="nav-pageName">精華區</p> <span class="nav-circle-6"></span>
                            </a> </li>
                        <div class="hbg-pc">
                            <div class="cav-paper">信紙:999</div>
                            <div class="cav-coin">Air幣:777</div>
                        </div>
                    </ul>
                    <div class="nav-road">
                        <div></div>
                    </div>
                </div>
            </nav>
            <div class="nav-littleNav">
                <a onclick="showSigin()" href="#"><i class="fas fa-user-circle"></i></a>
                <a href="./user-setting.html"><i class="fas fa-cog"></i></a>
            </div>
            <div class="nav-pc">
                <div class="cav-paper">信紙:999</div>
                <div class="cav-coin">Air幣:777</div>
            </div>
        </div>
    </div>

    <div class="nav-hamPosition">
        <div class="nav-hamburgerWrap">
            <div class="hambuger" id="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="signInBg" id="signInBg">
        <div class="signInData">
            <h4>Sign In</h4>
            <p class="signInClose" onclick="closeSigin()">X</p>
            <form class="formsignInData">
                <img class="signInLogo" src="./img/share/LOGO.png" alt="Logo">

                <label for="signInEmail">
                    <P>Email:</P>
                </label>
                <input class="signInEmail" input type="email" id="signInEmail" placeholder="請輸入Email" required
                    autofocus>

                <label for="signInPassword">
                    <P>Password:</P>
                </label>
                <input class="signInPassword" type="password" id="signInPassword" placeholder="請輸入密碼" required>

                <a class="forger" href="">
                    <p>忘記密碼</p>
                </a>
                <a class="" href="">
                    <p>註冊</p>
                </a>
                <br>
                <button class="signInBtn" type="submit"><p>Sign in</p></button>
            </form>
        </div>
        <!-- <img class="envelopeup" src="./img/user-setting/envelopeup.png" alt="">
    <img class="envelopedown" src="./img/user-setting/envelopedown.png" alt=""> -->
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- 控制navbar上移 -->
    <script>
        var navBar_active = function () {
            var scroll_top = $(window).scrollTop();

            $("posision").html(scroll_top);

            if (scroll_top >= 560) {
                $("div.nav-navBgWrap").addClass("-on");
            } else {
                $("div.nav-navBgWrap").removeClass("-on");
            }
        };

        $(function () {
            $(window).scroll(function () {
                navBar_active();
            });

        });
    </script>
    <script>
        const hambuger = document.querySelector('.hambuger');

        hambuger.addEventListener('click', () => {
            hambuger.classList.toggle('change');
        })
    </script>
    <script>
        // hamburger icon 的切換
        $(function () {

            $("div.hambuger").on("click", function () {
                $('#list').toggleClass('open');
            });

        });
        // let navStatus = document.getElementsByClassName(".nav-navPageWrap")[0];
        // if ("navStatus.style.display = none") {
        //     $(".nav-navPageWrap").toggle();
        // };

        // hamburger.addEventListener('click', function () {
        //     list.classList.toggle('open');
        //     console.log($(".nav-navPageWrap").css("display"));

        //     if ($(".hambuger").attr("class") == "hambuger change") {
        //         $(".nav-navPageWrap").css("display", "block");
        //         console.log("666");
        //     } else if ($(window).width() > 991) {
        //         $(".nav-navPageWrap").css("display", "block");
        //         console.log("991");
        //     } else {
        //         $(".nav-navPageWrap").css("display", "none");
        //     };


        // })
    </script>
    <!-- 會員登入燈箱 -->
    <script>
        var signInBg = document.querySelector(".signInBg");
        function showSigin() {
            signInBg.style.display = "block";
        };
        function closeSigin() {
            signInBg.style.display = "none";
        };
    </script>
    <!-- <link href="./css/main.css" rel="stylesheet" type="text/css"> -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src="./js/kloud.min.js"></script>

<header>
    <div style="width: 100%; height: 18vw;">
        <canvas id="myClouds" style="width: 100%; height: 40%;"></canvas>
    </div>
    <!-- 漂浮的雲 -->
    <div class="white-space-bg">
        <div class="head-box">
            <div class="dot-box-blue bottom-bg">
                <span class="share-clip clip-left"></span>
                <span class="share-clip clip-right"></span>
                <div class="box-white top-left-bg">
                    <div class="box-white top-left-bg" id='headerVue'>
                        <!-- 這裡會自動判斷頁面產生 -->
                    </div>
                </div>
            </div>
        </div>
        
        <div class="clouds" id="clouds">
            <div class="cloud_1"></div>
            <template  v-for="(cloud, index) in 15">
                <div :class=`cloud_${index}` :style="{left: `${Math.random() * innerWidth}px`}"></div>
            </template>
            
        </div>
    </div>


    
    <script>
        $('#myClouds').Klouds({
            speed: 1,
            layerCount: 4,
            cloudColor1: '#82afd9',
            cloudColor2: '#F7FAFD',
            // bgColor1: '#82afd9',
            bgColor: '#ffffff',
        })
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
    <script>
        /*
         * header Contant Change
         */
        const writeLetter = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                <div style="border: 1px solid red;">
                寫
                </div>
                <br>
                <div style="display:flex;flex-direction:column;justify-content:center;border: 1px solid red;">
                    <img src="./img/share/line-paperPlane.svg" style="width:30%;">
                    <span>
                    一封信
                    </span>
                </div>
            </h1>
            `
        }
        const catchLetter = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                <div style="border: 1px solid red;">
                撈
                </div>
                <br>
                <div style="display:flex;flex-direction:column;justify-content:center;border: 1px solid red;">
                    <img src="./img/share/line-paperPlane.svg" style="width:30%;">
                    <span>
                    信
                    </span>
                </div>
            </h1>
            `
        }
        const chatroom = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                聊天室
            </h1>
            `
        }
        const cave = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                    我的倉庫
                <div>
                    <img style="height:100px; width:100px; position:absolute; right: 0;bottom: 0;"
                        src="./img/cave/cavheaderImg.png">
                </div>
            </h1>
            `
        }
        const shop = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                客製化商城
            </h1>
            `
        }
        const userSetting = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                <div style="display:flex;flex-direction:column;justify-content:center;">
                    用戶
                <img src="./img/userSetting/wrench.svg" style="width:8%; transform: rotate(110deg); position:absolute; left: 10%; top: -25%;">
                </div>
                <br>
                <img src="./img/userSetting/gear.svg" alt="gear" style="width: 18%; text-align: center;">
                <div style="display:flex;flex-direction:column;justify-content:center;">
                    <img src="./img/userSetting/hammer.svg" style="width: 10%; transform: rotate(-45deg); position:absolute; right: 1%; top: 0;">
                    設定
                </div>
                </h1>
            `
        }
        const classic = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                精華區
            </h1>
            `
        }
        new Vue({
            el: '#headerVue',
            template: `
                <div class="box-white top-left-bg">
                    <component :is='pageTitle'/>
                </div>
            `,
            components: {
                writeLetter,
                catchLetter,
                chatroom,
                cave,
                shop,
                userSetting,
                classic,
            },
            data: {
                pageTitle: null
            },
            mounted(){
                console.log(location.href.split('/').reverse()[0].split('.')[0]);
                this.pageTitle = location.href.split('/').reverse()[0].split('.')[0];
                
            }
        })
        
        /*
         * header Clouds
         */
        let vm = new Vue({
            el:'#clouds',
        });
    </script>
</header>
    <main>
        <section class="writ-step-1" id="writStep1">

            <div class="box-white select-category">
                <img src="./img/share/blue-tape.svg" class="blue-tape">
                <div class="num-one">
                    <h2>選擇分類</h2>
                </div>
                <form class="tv-category">
                    <div class="change-category-btn">
                        <label 
                            class="btn" 
                            @click="setCategoryName" 
                            for="爆料"
                        >
                            <input 
                                type="radio" 
                                name="爆料" 
                                v-model="letterCategory" 
                                value="爆料" 
                                
                            >爆料
                        </label>
                        <label 
                            class="btn" 
                            @click="setCategoryName" 
                            for="心情"
                        >
                            <input 
                                type="radio"
                                name="心情"
                                v-model="letterCategory"
                                value="心情"
                                
                            >心情
                        </label>
                        <label 
                            class="btn" 
                            @click="setCategoryName"
                            for="娛樂"
                        >
                            <input
                                type="radio"
                                name="娛樂"
                                v-model="letterCategory"
                                value="娛樂"
                                
                            >娛樂
                        </label>
                    </div>
                    <div class="tv-machine"></div>
                    <div class="tv-show" :class="{active: tvStart === true}">
                        <div class="tv">
    <div class="mask"></div>
    <div class="frame">
      
      <div class="area">
        <div class="title">
          <br>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;**** PLEASE SELECT a TYPE <br>****</p>
          <!-- <br> -->
          
          <p>&nbsp;HELLO WORLD</p>
          <!-- <br> -->
          <div class="cursor">
            <p>|</p>
          </div>
          <p>READY.</p>
        </div>
        <!-- <div class="scroll">
  
          <p class="l1">E</p>
          <p class="l2">R</p>
          <p class="l3">R</p>
          <p class="l4">O</p>
          <p class="l5">R</p>
          <p class="l6">&nbsp;</p>
          <p class="l7">#</p>
          <p class="l8">4</p>
          <p class="l9">0</p>
          <p class="l10">4</p>
          <p class="l11">&nbsp;</p>
          <p class="l12">P</p>
          <p class="l13">A</p>
          <p class="l14">G</p>
          <p class="l15">E</p>
          <p class="l16">&nbsp;</p>
          <p class="l17">C</p>
          <p class="l18">A</p>
          <p class="l19">N</p>
          <p class="l20">N</p>
          <p class="l21">O</p>
          <p class="l22">T</p>
          <p class="l23">&nbsp;</p>
          <p class="l24">B</p>
          <p class="l25">E</p>
          <p class="l26">&nbsp;</p>
          <p class="l27">F</p>
          <p class="l28">O</p>
          <p class="l29">U</p>
          <p class="l30">N</p>
          <p class="l31">D</p>
  
        </div> -->
      </div>
    </div>
  </div>


<svg width="100%" height="100%" class="filterwrapper">
  <!-- 定義filter -->
  <defs>
      <svg id="glitchmask-r" width="100%" height="100%" viewbox="0 0 100 100" preserveAspectRatio="none">
          <line class="top-r" x1="0" y1="0" x2="100%" y2="0"> </line>
          <line class="bot-r" x1="0" y1="100%" x2="100%" y2="100%"></line>
      </svg>
      <svg id="glitchmask-g" width="100%" height="100%" viewbox="0 0 100 100" preserveAspectRatio="none">
          <line class="top-g" x1="0" y1="0" x2="100%" y2="0"></line>
          <line class="bot-g" x1="0" y1="100%" x2="100%" y2="100%"></line>
      </svg>

      <filter color-interpolation-filters="sRGB" id="filter" width="100%" heigth="100%" x="0" y="0">
          <feFlood flood-color="black" result="black" />

          <!-- red text start -->
          <feFlood flood-color="red" result="REDTXT_FLOOD_10" />
          <feComposite operator="in" in="REDTXT_FLOOD_10" in2="SourceAlpha" result="REDTXT_COMP_20" />
          <feOffset in="SourceGraphic" dx="-2" dy="0" result="REDTXT_OFFSET_30" />
          <feMerge result="REDTXT_MERGE_40">
              <feMergeNode in="black" />
              <feMergeNode in="REDTXT_COMP_20" />
              <feMergeNode in="REDTXT_OFFSET_30" />
          </feMerge>
          <feImage preserveAspectRatio="none" id="mask-r" result="REDTXT_IMG_50" xlink:href="#glitchmask-r" />
          <feComposite in2="REDTXT_IMG_50" in="REDTXT_MERGE_40" operator="out" result="REDTXT_COMP_60" />
          <!-- red text end -->

          <!-- green text start -->
          <feFlood flood-color="limegreen" result="GREENTXT_FLOOD_10" />
          <feComposite operator="in" in="GREENTXT_FLOOD_10" in2="SourceAlpha" result="GREENTXT_COMP_20" />
          <feOffset in="SourceGraphic" dx="2" dy="0" result="GREENTXT_OFFSET_30" />
          <feMerge result="GREENTXT_MERGE_40">
              <feMergeNode in="black" />
              <feMergeNode in="GREENTXT_COMP_20" />
              <feMergeNode in="GREENTXT_OFFSET_30" />
          </feMerge>
          <feImage preserveAspectRatio="none" id="mask-g" result="GREENTXT_IMG_50" xlink:href="#glitchmask-g" />
          <feComposite in2="GREENTXT_IMG_50" in="GREENTXT_MERGE_40" operator="out" result="GREENTXT_COMP_60" />
          <!-- green text end -->

          <feMerge result="MERGE_10">
              <feMergeNode in="SourceGraphic" />
              <feMergeNode in="REDTXT_COMP_60" />
              <feMergeNode in="GREENTXT_COMP_60" />
          </feMerge>
      </filter>
  </defs>
</svg>
<figure class="glitch-filter">
<svg width="100%" height="100%">
  <text class="glitch-filter-text" y="50%" text-anchor="middle" x="50%">{{letterCategory}}</text>
</svg>
</figure>
                    </div>
                </form>
            </div>
            <div class="category-note">
                <div class="note-pad">
                    <div class="paper-cloud"></div>
                    <div class="note-text">
                        <h3>爆料版說明:</h3>
                        <p>獨樂樂不如眾樂樂，有什麼大家必須知道的事情，最勁爆的踢爆、直擊與新聞，在此盡覽無遺。</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="writ-step-2">
            <div class="box-white write-content">
                <div class="upload-img">
                    <div class="paper-cloud"></div>
                    <div class="hookimg"></div>
                    <div class="printer">
                        <h3>上傳圖片</h3>
                    </div>
                </div>
                <div class="input-contant">
                    <div class="num-two">
                        <h2>寫下內容</h2>
                    </div>
                    <form action="#" class="box-white input-contant-box">
                        <div class="letter-title">
                            <input type="text" name="letterTitle" id="input1" placeholder="請輸入信件標題">
                            <label>信件標題</label>
                        </div>
                        <textarea name="letterContant" cols="30" rows="10" class="letterContant"></textarea>
                    </form>
                </div>
                <img src="./img/share/blue-tape-rough.svg" class="blue-tape-rough">
            </div>
        </section>
        <section class="writ-step-3" id="writStep3">
            <div class="top-paintes-part">
                <div class="goto-shop-btn">
                    <img src="./img/write-letter/goto-shop-btn.svg">
                    <div class="dot-box-blue shop-signboard">
                        <div class="box-white shop-title">
                            <h3 class="threed-text-red shop-text">
                                前往<br>商城
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="box-white painting-plan">
                    <div class="num-three">
                        <h2>漆上彩繪</h2>
                    </div>
                    <img src="./img/share/pipe.png" class="pipe">
                    <img src="./img/share/water-drop.png" class="water-drop">
                    <div class="preview-plan"></div>
                    <img src="./img/share/blue-tape-rough.svg" class="blue-tape-rough-tl">
                    <img src="./img/share/blue-tape-rough.svg" class="blue-tape-rough-tr">
                    <img src="./img/share/blue-tape-rough.svg" class="blue-tape-rough-bl">
                    <img src="./img/share/blue-tape-rough.svg" class="blue-tape-rough-br">
                </div>
            </div>
            <div class="select-paintes">
                <span class="arrow-white"></span>
                <div class="painte-type">
                    <template v-for="(item, index) in 3">
                        <div class="type" :class="{active: index === openIndex}" @click="openIndex = index">
                            <span class="box-white preview-paper" :class="{active: index === openIndex}"></span>
                            <span class="print-type-pattern">
                                <span class="printScraper" :class="{active: index === openIndex}"></span>
                            </span>

                        </div>
                    </template>
                </div>
                <span class="arrow-white reverse"></span>
            </div>
        </section>
        <section class="writ-step-4" id="writStep4">
            <div class="box-white bottom-bg">
                <span class="share-clip clip-left">
                </span>
                <div class="dot-box-yellow top-right top-right-bg">
                    <div class="box-white top-right-bg">
                        <div class="box-white top-right-bg">
                            <div class="num-four">
                                <h2>選擇郵戳，進行下一步!</h2>
                            </div>
                            <div class="select-stamp">
                                <span class="arrow-white"></span>
                                <div class="stamp-type">
                                    <template v-for="item in 3">
                                        <div class="type"></div>
                                    </template>
                                </div>
                                <span class="arrow-white reverse"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="test-area"></div>

        <!-- <div class="btn-big-test" id="bigBtn">
            <div class="back side-way"></div>
            <div class="left side-way"></div>
            <div class="right side-way"></div>
            <div class="top side-way"></div>
            <div class="bottom side-way">
                <div class='side-way__text'> 購買 </div>
            </div>
            <div class="front side-way"></div>
        </div> -->
        <!-- <div class="btn-wrapper-center">
            <a href="#" class="btn3d btn-basic-yellow">Click</a>
        </div> -->



    </main>
    <div class="footer-bottom"><p> Copyright © Air Plan All rights reserved.</p></div>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
    <script>
        let nm1 = new Vue({
            el:"#writStep1",
            data:{
                tvStart: false,
                letterCategory:'',
            },
            methods:{
                setCategoryName(e){
                    // console.log(e.target.parentNode.childNodes);
                    this.tvStart = true;
                    let catLabel = e.target.parentNode.childNodes;
                    for(let i = 0 ; i < catLabel.length ; i++){
                        catLabel[i].classList = "btn";
                    }
                    e.target.parentNode.childNodes
                    e.target.classList.add("click");
                    this.letterCategory = e.target.firstChild.value;
                },
            },
        });

        let vm3 = new Vue({
            el: '#writStep3',
            data: {
                openIndex: null,
            },
            methods: {},
            computed: {

            },
        });

        let vm4 = new Vue({
            el: '#writStep4',
            data: {},

        });
    </script>
</body>

</html>