.catchletter-body {
  background: radial-gradient(#000000 10%, #fff 20%);
  background-size: 8px 8px;
  height: auto;

  main {
    margin-top: 10vw;
    font-family: 'Noto Sans TC', sans-serif;
  }

  .catch-step-1 {
    font-size: 0;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    position: relative;
    .catch-letter {
      width: 38vw;
      max-width: 545px;
      height: 55vw;
      max-height: 788px;
      margin: 0 40% 0 0;
      background-image: url(../../img/share/postCard-vertical.svg);
      background-position: center;
      background-size: cover;
      display: flex;
      position: relative;
      font-size: 1.5vw;
      @include paper_cloud();

      .paper-cloud {
        height: 15vw;
        top: -8.1vw;
        left: -36%;
        transform: scaleX(-1);
      }

      .letter-wrap {
        height: 100%;
        width: 100%;
        // background-color: pink;
        padding: 3%;

        // display: flex;
        .letter-head {
          border: 1px solid green;
          height: 30%;
          width: 100%;
          display: flex;
        }

        .stamp-box {
          height: 100%;
          width: 60%;
          border: 1px solid red;
          background-image: url(../../img/catch-letter/post-mark-test.png);
          background-size: 85%;
          background-position: center;
          background-repeat: no-repeat;
        }

        .letter-tittle {
          height: 100%;
          width: 40%;
          border: 1px solid blue;
          padding: 2.5%;
          display: flex;
          justify-content: center;
          align-items: center;

          h3 {
            font-size: 1.8vw;
            text-align-last: left;
          }
        }

        .letter-contant {
          height: 70%;
          width: 100%;
          border: 1px solid pink;
          padding: 2.5%;
          overflow-y: auto;
          
          // display: flex;
          // justify-content: center;
          // align-items: center;
          .text {
            font-size: 1.5vw;
            line-height: 2.5vw;
          }

          .letter-upload-img {
            margin: 0 1rem;
            float: right;
            width: 16vw;
            height: 12vw;
            // border: 1px solid slateblue;
            background-image: url(../../img/catch-letter/tenor.gif);
            background-size: 180%;
            background-position: 40% 50%;
            background-repeat: no-repeat;
          }
        }
        
      }

    }

    .comment-wrap {
      margin: 0;
      // background: palevioletred;
      height: 30vw;
      width: 40vw;
      // max-width: 545px;
      max-height: 788px;
      position: absolute;
      top: 6vw;
      right: 3vw;
      .clip-left {
        top: -62%;
        left: 18%;
      }

      .clip-right {
        top: -65%;
        right: 18%;
      }

      .top-left-bg {
        width: 100%;
        height: 100%;
        position: relative;
        top: 10px;
        left: -15px;

        .headpg-name {
          width: 100%;
          height: 100%;
          text-align: left;
          padding: 0 2vw;
          display: flex;
          justify-content: space-between;
          // flex-wrap: wrap;
        }

        ;
      }
      .comment-outbox{
        width: 80%; 
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    @include scroller();
  }
}