/* 我的倉庫CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cav-main {
  border: 1px solid royalblue;
  width:100%;
  max-width: 1200px;
  margin: 0 auto;
}
.cav-readLetterWrap {
  border: 1px solid red;
  width: 100%;

  .cav-boxImg {
    background-image: url(../../img/cave/letterBox.svg);
    background-repeat: no-repeat;
    width: 100%;
    // height: 40vw;
    height: 800px;
    min-height: 800px;
    position: relative;
    border: 1px solid palevioletred;

    .cav-boxFront {
      border: 5px solid $main-black;
      width: 93.5%;
      height: 89%;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      position: absolute;
      top: 42px;
      left: 40px;

      .cav-boxFrontLeft {
        border: 1px solid green;
        display: inline-block;
        width: 40%;
        height: 100%;
        padding: 10px;

        .cav-whoLetter {
          border: 1px solid fuchsia;
          display: flex;
          justify-content: space-around;
          // .cav-myLetter {
          // }
          // .cav-otherLetter {
          // }
        }
        .cav-histLetter1 {
          border: 5px solid $main-black;
          background-color: #ddd;
          padding: 5px;
          // height: calc(100%-10px);
          height: 97.7%;

          .cav-histLetter2 {
            border: 5px solid $main-black;
            background-color: rgb(74, 117, 112);
            padding: 10px;
            height: 100%;
            > .cav-letters {
              border: 5px solid $main-black;
              height: 100px;
              margin: 0 auto 10px;
              padding: 3%;
              border-radius: 20px;
              background-color: $main-yellow;
              overflow: hidden;
              display: flex;

              .cav-letWord {
                border: 1px solid blue;
                width: 80%;

                .cav-letTitle {
                  margin: 0;
                }
                .cav-letTime {
                  margin: 0;
                }
              }
              .cav-letSetting {
                border: 1px solid blueviolet;
                width: 20%;

                > div {
                  position: relative;
                  height: 100%;
                  img {
                    border: 1px solid red;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 30px;
                  }
                }
              }
            }
          }
        }
      }
      .cav-boxFrontRight {
        border: 5px solid $main-black;
        display: inline-block;
        width: 57%;
        background-color: #ddd;
        padding: 5px;

        .cav-showLetterBack {
          border: 5px solid $main-black;
          height: 100%;
          background-color: rgb(74, 117, 112);
        }
      }
    }
  }
}

//我的裝備
.cav-myItem {
  display: flex;
  .cav-leftWrap {
    border: 1px solid black;
    display: inline-block;
    width: 40%;

    .cav-topBlock {
      border: 1px solid green;
      display: inline-block;
    }

    .cav-prodWrap {
      border: 1px solid firebrick;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  .cav-prod {
    border: 1px solid darkcyan;
    display: inline-block;
    width: 150px;
    height: 150px;  
    overflow: hidden;
  }
  .btn-basic-red {
  }
  .cav-rightWrap {
    border: 1px solid black;
    display: inline-block;
    width: 55%;
    margin-left: 5%;
    > ul {
      border: 1px solid black;
      list-style: none;
      display: flex;
      justify-content: space-between;
      > li {
        border: 1px solid black;
        width: 33.33%;
        text-align: center;

        > a {
          cursor: pointer;
        }
      }
    }
    .cav-tabWrap {
      border: 2px solid black;

      .cav-prodWrap {
        border: 1px solid red;
        width: 100%;
        height: 580px;
        overflow: scroll;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .tab {
        display: none;
      }
      .tab.-on {
        display: inline-block;
      }
    }
    .cav-pc {
      border: 2px solid black;
      width: 80%;
      margin: 0 auto;
      display: flex;

      .cav-paper {
        width: 50%;
      }
      .cav-coin {
        width: 50%;
      }
    }
  }
}


// @include respond(iphone){
//   .cav-main {
//     width: 100px;
//   }
// }

// @include respond(mediumSize){

// }