/* 我的倉庫CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cav-main {
  border: 1px solid royalblue;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.cav-readLetterWrap {
  // border: 1px solid red;
  width: 100%;
  margin-bottom: 150px;

  .cav-boxImg {
    // background-image: url(../../img/cave/letterBox.svg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: -97px 0;
    width: 100%;
    // height: 800px;
    // height: 30vw;
    // min-height: 800px;
    position: relative;
    // border: 1px solid palevioletred;
    > img {
      border: 1px solid firebrick;
      width: 100%;
      height: 800px;
      object-fit: cover;
      // padding-left: 10px;
    }

    .cav-boxFront {
      border: 5px solid $main-black;
      width: 93.5%;
      height: 90%;
      display: flex;
      justify-content: space-between;
      // padding: 10px;
      padding: 1%;
      position: absolute;
      // top: 42px;
      // left: 40px;
      top: 5%;
      left: 3%;

      .cav-boxFrontLeft {
        border: 1px solid green;
        display: inline-block;
        width: 40%;
        height: 100%;
        padding: 10px;

        .cav-whoLetter {
          border: 1px solid fuchsia;
          display: flex;
          justify-content: space-around;
          // .cav-myLetter {
          // }
          // .cav-otherLetter {
          // }
        }
        .cav-histLetter1 {
          border: 5px solid $main-black;
          background-color: #ddd;
          padding: 5px;
          // height: calc(100%-10px);
          height: 97.7%;

          .cav-histLetter2 {
            border: 5px solid $main-black;
            background-color: rgb(74, 117, 112);
            padding: 10px;
            height: 100%;
            overflow-y: scroll;
            &::-webkit-scrollbar {
              // border:1px solid firebrick;
              // width: 9px;
              width: 0;
              background-color: #ccc;
              border-radius: 2px;
            }

            &::-webkit-scrollbar-thumb {
              width: 5px;
              background-color: slategrey;
              border-radius: 10px;
            }
            > .cav-letters {
              border: 5px solid $main-black;
              height: 100px;
              margin: 0 auto 10px;
              padding: 3%;
              border-radius: 20px;
              background-color: $main-yellow;
              overflow: hidden;
              display: flex;
              cursor: pointer;
              &.cav-looking {
                background-color: $main-red;
              }

              .cav-letWord {
                border: 1px solid blue;
                width: 80%;

                .cav-letTitle {
                  margin: 0;
                }
                .cav-letTime {
                  margin: 0;
                }
              }
              .cav-letSetting {
                border: 1px solid blueviolet;
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;

                > div {
                  margin: 0 auto;
                  height: 50%;

                  i {
                    font-size: 30px;

                    &:hover {
                      color: red;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .cav-boxFrontRight {
        border: 5px solid $main-black;
        display: inline-block;
        width: 57%;
        background-color: #ddd;
        padding: 5px;

        .cav-showLetterBack {
          border: 5px solid $main-black;
          height: 100%;
          background-color: rgb(74, 117, 112);

          .cav-showLetter {
            border: 1px solid red;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            &::-webkit-scrollbar {
              // border:1px solid firebrick;
              // width: 9px;
              width: 0;
              background-color: #ccc;
              border-radius: 2px;
            }

            &::-webkit-scrollbar-thumb {
              width: 5px;
              background-color: slategrey;
              border-radius: 10px;
            }
            .cav-letterBg {
              border: 50px solid transparent;
              border-image: url("../../img/cave/cav-postCard_b.svg") 50 50 round;
              background-color: #fff;
              width: 82.5%;
              // height: 45vw;
              margin: 20px auto;
              &_content {
                // width: 100%;
                // height: 100%;
                // overflow: auto;
              }
              .cav-letImg {
                // border: 5px solid $main-black;
                // width: 90%;
                // margin: 0 auto;
                width: 100%;
                overflow: hidden;

                img {
                  width: 100%;
                }
              }
              hr {
                border: 1px solid #ccc;
                margin: 15px auto;
              }
              .cav-letNavbar {
                display: flex;
                justify-content: flex-end;
                // border: 1px solid #ccc;

                .cav-letNavOption {
                  // border: 1px solid tomato;
                  width: 35px;
                  height: 35px;
                  margin-left: 5px;
                  vertical-align: middle;
                  img {
                    width: 100%;
                    cursor: pointer;
                  }
                }
                // .btn-big-test {
                //   @include btn_big_module();
                // }
              }

              .cav-h3 {
                margin: 15px 0;
                padding-bottom: 5px;
                border-bottom: 1px solid #ccc;
              }
              .cav-letComment {
                // border: 1px solid rosybrown;
                border-bottom: 1px solid #ccc;
                display: flex;
                .cav-commMain {
                  // border-bottom: 1px solid #ccc;
                  width: 80%;
                  .cav-commHead {
                    // display: flex;
                    margin-bottom: 5px;
                    .cav-commId {
                      font-weight: bold;
                      font-size: 14px;
                      margin-right: 5px;
                    }
                    .cav-commTime {
                      color: #777;
                      font-size: 10px;
                      text-align: initial;
                    }
                  }
                }
                .cav-commOption {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;
                  margin: 0 auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

//我的裝備
.cav-myItem {
  border: 2px dashed greenyellow;
  display: flex;
  max-height: 850px;
  height: 100vw;
  margin-bottom: 150px;
  .cav-leftWrap {
    border: 5px solid $main-black;
    display: inline-block;
    width: 40%;
    // height: 800px;
    // margin-top: 60px;

    .cav-topBlock {
      border-bottom: 5px solid $main-black;
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .cav-leftBlockBM {
      border: 1px solid rebeccapurple;
      list-style: none;
      margin: 0;
      display: flex;
      justify-content: space-between;
      > li {
        border: 5px solid black;
        width: 50%;
        text-align: center;
        background-color: rgb(68, 83, 148);
        color: #fff;
        font-weight: 700;
        overflow: hidden;
        > a {
          cursor: pointer;
          display: block;
          padding: 0.8em;
        }
        > a.-on {
          background-color: $main-blue;
        }
      }
    }
    .cav-tabWrap {
      // border: 5px solid $main-black;
      border-top: 5px solid $main-black;
      border-bottom: 5px solid $main-black;
      background-color: #ddd;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      // overflow: scroll;
      width: 100%;
      max-height: 450px;
      padding: 10px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        // border:1px solid firebrick;
        // width: 9px;
        width: 0;
        background-color: #ccc;
        border-radius: 2px;
      }

      &::-webkit-scrollbar-thumb {
        width: 5px;
        background-color: slategrey;
        border-radius: 10px;
      }
      .cav-prodWrap {
        border: 5px solid $main-black;
        width: 100%;
        // height: 100%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        background-color: #777;
      }
      .tab1 {
        display: none;
      }
      .tab1.-on {
        display: inline-block;
        width: 100%;
      }
    }

    .cav-botBlock {
      // border: 5px solid fuchsia;
      position: relative;
      /* 按鈕 */
      .btn-wrapper-center {
        position: absolute;
        width: 120px;
        height: 40px;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        //   //   // .btn{
        //   //   //   @include btn_basic_module(red)
        //   //   // }
      }
    }
  }
  .cav-prod {
    border: 5px solid $main-black;
    margin: 2.9%;
    display: inline-block;
    width: 170px;
    height: 170px;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      border: 5px solid rgb(235, 38, 38);
    }
    > img {
      width: 100%;
      height: 100%;
    }
  }

  .cav-addProd {
    border: 5px solid $main-black;
    margin: 2.9%;
    display: inline-block;
    width: 170px;
    height: 170px;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;

    > a {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      > img {
        width: 80%;
        height: 80%;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .cav-rightWrap {
    // border: 5px solid $main-black;
    display: inline-block;
    width: 55%;
    // max-height: 800px;
    margin-left: 5%;
    // background-color: rgb(138, 88, 23);

    > .cav-rightBlockBM {
      border: 1px solid black;
      list-style: none;
      margin: 0;
      display: flex;
      justify-content: space-between;
      > li {
        border: 5px solid black;
        // border-radius: 1em 1em 0 0;
        width: 50%;
        text-align: center;
        // padding: 0.8em;
        background-color: #2b8156;
        color: #fff;
        font-weight: 700;
        overflow: hidden;
        > a {
          cursor: pointer;
          display: block;
          // border: 1px solid red;
          padding: 0.8em;
        }
        > a.-on {
          background-color: $main-green;
          // background-color: rebeccapurple;
        }
      }
    }
    .cav-tabWrap {
      border: 5px solid $main-black;
      height: 85%;
      // background-color: rgb(138, 88, 23);

      // overflow: scroll;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        // border:1px solid firebrick;
        // width: 9px;
        width: 0;
        background-color: #ccc;
        border-radius: 2px;
      }

      &::-webkit-scrollbar-thumb {
        width: 5px;
        background-color: slategrey;
        border-radius: 10px;
      }

      .cav-prodWrap {
        // border: 1px solid red;
        width: 100%;
        // height: 100%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        background-image: url(../../img/cave/bookshelf.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -13px;
        // background-attachment: fixed;
        width: 100%;
        min-height: 716px;
      }
      .tab2 {
        display: none;
        width: 100%;
      }
      .tab2.-on {
        display: inline-block;
        width: 100%;
      }
    }
    .cav-pc {
      // border: 2px solid black;
      width: 80%;
      // height: 7.5%;
      margin: 0 auto;
      display: flex;
      align-self: middle;

      .cav-paper {
        width: 50%;
        color: $main-blue;
        font-weight: 900;
        font-size: 32px;
      }
      .cav-coin {
        width: 50%;
        color: $main-blue;
        font-weight: 900;
        font-size: 32px;
      }
    }
  }
}

@include respond(desktop) {
  .cav-main {
    width: 100%;

    .cav-boxImg {
     

      > img {
        height:100% ;
      }
    }
  }
}
@include respond(mediumSize) {
  .cav-main {
    width: 100%;

    .cav-boxImg {
     

      > img {
        height:100% ;
      }
    }
  }
}
@include respond(small) {
  .cav-main {
    width: 100%;

    .cav-boxImg {
     

      > img {
        height:100% ;
      }
    }
  }
}
@include respond(note) {
  .cav-main {
    width: 100%;

    .cav-boxImg {
     

      > img {
        height:100% ;
      }
    }
  }
}
@include respond(iphone) {
  .cav-main {
    width: 100%;

    .cav-boxImg {
     

      > img {
        height:100% ;
      }
    }
  }
}
