h1,td{
    font-size: 24px;
}

//以上測試

.userSetting_body{
    width: 100%;
    margin: 0 auto;
    font-size: 0;
    .userSetting_main{
        width: 100%;
        background-color: $main-blue;
        border-bottom: 80px solid $main-blue;
        .userSetting_floor{
            background-size: auto;
            width: 95%;
            margin: 0 auto;
            background: radial-gradient(rgb(100, 60, 91) 30%, rgb(248, 230, 228) 20%);
            background-size: 10px 10px;
            overflow: hidden;
            position: relative;

            .userSetting_mem{
                border-top: 80px solid $main-blue;
                width: 100%;
                height: 900px;
                .memKanban{
                    width: 50%;
                    min-width: 800px;
                    // margin: 0 auto;
                    background-image: url("../../img/userSetting/kaban.svg");
                    background-repeat: no-repeat;
                    text-align: center;
                    border: 1px solid rgb(255, 0, 0);
                    position: absolute;
                    
                    transform: translate(50%,10%);
                    .memData{
                        margin:  100px 0 10px ;
                        width: 30%;
                        display: inline-block;
                        text-align: center;
                        border: 1px solid rgb(255, 0, 0);
                    }
                    .airCoin{
                        @extend.memData;
                        border: 1px solid rgb(255, 0, 0);
                    }
                    .memcolor{
                        @extend.memData;
                        border: 1px solid rgb(255, 0, 0);
                    }
                    .robotB1, .robotB1_2{
                        // display: block;
                    }
                }
            }
            .userSetting_space_B1{
                width: 20%;
                height: 80px;
                background: radial-gradient(rgb(100, 60, 91) 30%, rgb(248, 230, 228) 20%);
                background-size: 10px 10px;
                position: absolute;
                right: 0;
            }
            .userSetting_sys{
                border-top: 80px solid $main-blue;
                width: 100%;
                height: 900px;
                
                .sysKanban{
                    width: 50%;
                    min-width: 800px;
                    margin: 0 auto;
                    background-image: url("../../img/userSetting/kaban_2.svg");
                    background-repeat: no-repeat;
                    text-align: center;
                    border: 1px solid rgb(7, 110, 46);
                    .manu{
                        margin:  100px 0 10px ;
                        width: 45%;
                        display: inline-block;
                        border: 1px solid rgb(7, 110, 46);
                    }
                    .ver{
                        @extend.manu;
                        border: 1px solid rgb(7, 110, 46);
                    }
                }
            }
            .userSetting_space_B2{
                width: 20%;
                height: 80px;
                background: radial-gradient(rgb(100, 60, 91) 30%, rgb(248, 230, 228) 20%);
                background-size: 10px 10px;
                // overflow: hidden;
                position: absolute;
                left: 0;
            }
            .userSetting_adm{
                border-top: 80px solid $main-blue;
                width: 100%;
                height: 900px;
                .Spencer{

                }
                .Sharon{
    
                }
                .Howard{
    
                }
                .Grace{
    
                }
                .Allen{
    
                }
                .Mike{
    
                }
            }
        }
    }
}


//userSetting_mem vue
.userSetting_memData{
    height: 500px;
    margin: 0 auto;
    width: 100%;
}
.userSetting_memDataTable{
    width: 70%;
    margin: 0 auto;
}
.userSetting_memData td{
    width: 50%;
    border: 1px solid black;
}
.userSetting_airCoin{
    @extend.userSetting_memData;
    text-align: center;
}
.userSetting_airCoinTable{
    @extend.userSetting_memDataTable;
}
.userSetting_airCoin table td{
    text-align: center;
    width: 33.33%;
    border: 1px solid black;
}
.userSetting_memcolor{
    @extend.userSetting_memData;
    text-align: center;
}
.memcolorBlack{
    width: 50%;
    display: inline-block;
}
.memcolorWhite{
    @extend.memcolorBlack;
}


//userSetting_mem vue
.userSetting_manu{
    height: 500px;
    margin: 0 auto;
    width: 70%;
    text-align: left;
}
.userSetting_ver{
    @extend.userSetting_manu;
}