
.wrletter-body {
    background: radial-gradient(#000000 20%, $main-red 20%);
    background-size: 6px 6px;
    height: 200vw;
    // -webkit-animation: bscale 60s infinite linear;
    // animation: bscale 60s infinite linear;
}