//phone
$phone:375px;

//note
$note-max:575px;
$note-min:376px;

//small
$ipad-max:767px;
$ipad-min:576px;

//mediumSize
$laptop-max:991px;
$laptop-min:768px;

//desktop
$desktop-max:1199px;
$desktop-min:992px;