//phone
$phone:375px;

//note
$note-max:575px;
$note-min:376px;

//small
$ipad-max:767px;
$ipad-min:576px;

//mediumSize
$laptop-max:991px;
$laptop-min:768px;

//desktop
$desktop-max:1199px;
$desktop-min:992px;

//大於1200 小於1500
$desktopXl-max:1500px;
$desktopXl-min:1200px;

//font-family:思源體
$font:'Noto Sans TC',
sans-serif;

<<<<<<< HEAD
$border:0.2vw solid black;
=======
$border:0.2vw solid black; 
>>>>>>> dev
