<div class="planeBox">
  <div id="imgWrap" style="display: none;" draggable="true">
    <span id="pointer" class="pointerAll" draggable="true"></span>
    <div id="reduceLetCount" class="msg">信件-1</div>
    <div id="img" :style="{backgroundImage: letUrl}">
      <div id="selectStamp" :style="{backgroundImage: chooseStampUrl}"></div>
    </div>
    <div id="imgLeftTriangle" :style="{backgroundImage: letPattern}"></div>
    <div id="imgLeftTriangle2" :style="{backgroundImage: letPattern}"></div>
    <div id="imgRightTriangle" :style="{backgroundImage: letPattern}"></div>
    <div id="imgRightTriangle2" :style="{backgroundImage: letPattern}"></div>
    <div id="imgFinalStep" :style="{backgroundImage: letPattern}"></div>
    <div id="planeBody" :style="{backgroundImage: letPattern}"></div>
    <div id="planeWing" :style="{backgroundImage: letPattern}"></div>
  </div>
</div>