<!-- <link href="./css/main.css" rel="stylesheet" type="text/css"> -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src="./js/kloud.min.js"></script>

<header>
    <div style="width: 100%; height: 18vw;">
        <canvas id="myClouds" style="width: 100%; height: 40%;"></canvas>
    </div>
    <!-- 漂浮的雲 -->
    <div class="white-space-bg">
        <div class="head-box">
            <div class="dot-box-blue bottom-bg">
                <span class="share-clip clip-left"></span>
                <span class="share-clip clip-right"></span>
                <div class="box-white top-left-bg">
                    <div class="box-white top-left-bg" id='headerVue'>
                        <!-- 這裡會自動判斷頁面產生 -->
                    </div>
                </div>
            </div>
        </div>
        
        <div class="clouds" id="clouds">
            <div class="cloud_1"></div>
            <template  v-for="(cloud, index) in 15">
                <div :class=`cloud_${index}` :style="{left: `${Math.random() * innerWidth}px`}"></div>
            </template>
            
        </div>
    </div>


    
    <script>
        $('#myClouds').Klouds({
            speed: 1,
            layerCount: 4,
            cloudColor1: '#82afd9',
            cloudColor2: '#F7FAFD',
            // bgColor1: '#82afd9',
            bgColor: '#ffffff',
        })
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
    <script>
        /*
         * header Contant Change
         */
        const writeLetter = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                <div style="border: 1px solid red;">
                寫
                </div>
                <br>
                <div style="display:flex;flex-direction:column;justify-content:center;border: 1px solid red;">
                    <img src="./img/share/line-paperPlane.svg" style="width:30%;">
                    <span>
                    一封信
                    </span>
                </div>
            </h1>
            `
        }
        const catchLetter = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                <div style="border: 1px solid red;">
                撈
                </div>
                <br>
                <div style="display:flex;flex-direction:column;justify-content:center;border: 1px solid red;">
                    <img src="./img/share/line-paperPlane.svg" style="width:30%;">
                    <span>
                    信
                    </span>
                </div>
            </h1>
            `
        }
        const chatroom = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                聊天室
            </h1>
            `
        }
        const cave = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                    我的倉庫
                <div>
                    <img style="height:100px; width:100px; position:absolute; right: 0;bottom: 0;"
                        src="./img/cave/cavheaderImg.png">
                </div>
            </h1>
            `
        }
        const shop = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                客製化商城
            </h1>
            `
        }
        const userSetting = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                <div style="display:flex;flex-direction:column;justify-content:center;">
                    用戶設定
                <img src="./img/user-setting/wrench.svg" style="width:8%; transform: rotate(90deg); position:absolute; left: 10%; top: 40%;">
                </div>
                <br>
                <img src="./img/user-setting/gear.svg" alt="gear" style="width: 18%; position:absolute; bottom:5%; right: 20%">
                <div style="display:flex;flex-direction:column;justify-content:center;">
                    <img src="./img/user-setting/hammer.svg" style="width: 10%; transform: rotate(-45deg); position:absolute; right: 10%; top: 1%;">
                    
                </div>
                </h1>
            `
        }
        const classic = {
            template: `
            <h1 class="headpg-name threed-text-blue">
                精華區
            </h1>
            `
        }
        new Vue({
            el: '#headerVue',
            template: `
                <div class="box-white top-left-bg">
                    <component :is='pageTitle'/>
                </div>
            `,
            components: {
                writeLetter,
                catchLetter,
                chatroom,
                cave,
                shop,
                userSetting,
                classic,
            },
            data: {
                pageTitle: null
            },
            mounted(){
                console.log(location.href.split('/').reverse()[0].split('.')[0]);
                this.pageTitle = location.href.split('/').reverse()[0].split('.')[0];
                
            }
        })
        
        /*
         * header Clouds
         */
        let vm = new Vue({
            el:'#clouds',
        });
    </script>
</header>