<div class="nav-body">
    <div id="navHead" class="nav-navBgWrap">
        <div class="nav-navBg">
            <img src="./img/share/nav_lightBox.svg" alt="">
            <nav class="nav-navWrap">
                <!-- <div class="nav-topBlock">
                登入和設定 
            </div> -->
                <div class="nav-logoWrap">
                    <a href="./home.html"><img src="./img/share/LOGO.png"></a>
                </div>
                <div class="nav-navPageWrap hbg">
                    <ul class="nav-list" id="list">
                        <a class="nav-logo" href="./home.html"><img src="./img/share/LOGO.png"></a>
                        <li><a href="./write-letter.html">
                                <p class="nav-pageName">寫信</p> <span class="nav-circle-1 "></span>
                            </a> </li>
                        <li><a href="./catch-letter.html">
                                <p class="nav-pageName">撈信</p> <span class="nav-circle-2"></span>
                            </a> </li>
                        <li><a href="./shop.html">
                                <p class="nav-pageName">商城</p> <span class="nav-circle-3"></span>
                            </a> </li>
                        <li><a href="./cave.html">
                                <p class="nav-pageName">我的倉庫</p> <span class="nav-circle-4"></span>
                            </a> </li>
                        <li><a href="./chatroom.html">
                                <p class="nav-pageName">聊天室</p> <span class="nav-circle-5"></span>
                            </a> </li>
                        <li><a href="./user-setting.html">
                                <p class="nav-pageName">用戶設定</p> <span class="nav-circle-6"></span>
                            </a> </li>
                        <div class="hbg-botWrap">
                            <div class="hbg-littleNav">
                                <a class="showSigin" href="#"><i class="fas fa-user-circle"></i></a>
                            </div>
                            <div class="hbg-pc">
                                <div class="cav-paper">信紙:999</div>
                                <div class="cav-coin">Air幣:777</div>
                            </div>
                        </div>
                    </ul>
                    <div class="nav-road">
                        <div></div>
                    </div>
                </div>
            </nav>
            <div class="nav-littleNav">
                <a id="showSigin" class="showSigin" href="#"><i class="fas fa-user-circle"></i></a>
            </div>
            <div class="nav-pc">
                <div class="cav-paper">信紙:999</div>
                <div class="cav-coin">Air幣:777</div>
            </div>
        </div>
    </div>

    <div class="nav-hamPosition">
        <div class="nav-hamburgerWrap">
            <div class="hambuger" id="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <!-- 登入 -->
    <div class="signInBg" id="signInBg">
        <div class="signInData">
            <h4>Sign In</h4>
            <p id="closeSigin" class="closeSignin">X</p>
            <form class="formsignInData" action="./js/login.php" method="post">
                <img class="signInLogo" src="./img/share/LOGO.png" alt="Logo">

                <label for="signInEmail">
                    <P>Email:</P>
                </label>
                <input class="signInEmail" input type="email" id="signInEmail" placeholder="Email" name="memEmail"
                    required autofocus>

                <label for="signInPassword">
                    <P>Password:</P>
                </label>
                <input class="signInPassword" type="password" id="signInPassword" placeholder="password" name="memPsw"
                    required>

                <p class="showForget" id="showForget">忘記密碼</p>
                <p class="showRegister" id="showRegister">註冊</p>
                <br>
                <button class="signInBtn" type="submit">
                    <p>Sign in</p>
                </button>
            </form>
        </div>
        <!-- <img class="envelopeup" src="./img/user-setting/envelopeup.png" alt="">
    <img class="envelopedown" src="./img/user-setting/envelopedown.png" alt=""> -->
    </div>
    <!-- 註冊 -->
    <div class="registerBg" id="registerBg">
        <div class="registerData">
            <h4>Register</h4>
            <p class="closeRegister" id="closeRegister">X</p>
            <form class="formRegisterData" action="./js/register.php" method="post">
                <img class="registerLogo" src="./img/share/LOGO.png" alt="Logo">

                <label for="registerEmail">
                    <P>Email:</P>
                </label>
                <input class="registerEmail" input type="email" id="registerEmail" placeholder="Email" name="memEmail"
                    required autofocus>

                <label for="registerPassword">
                    <P>Password:</P>
                </label>
                <input class="registerPassword" type="password" id="registerPassword" placeholder="password"
                    name="memPsw" required>

                <label for="registerPasswordCheck">
                    <P>Password again:</P>
                </label>
                <input class="registerPasswordCheck" type="password" id="registerPasswordCheck"
                    placeholder="password again" name="memPswAgain" required>

                <br>
                <button class="registerBtn" type="submit">
                    <p>Register</p>
                </button>
            </form>
        </div>
    </div>
    <!-- 忘記密碼 -->
    <div class="forgetBg" id="forgetBg">
        <div class="forgetBgData">
            <h4>Get new password</h4>
            <p class="closeForget" id="closeForget">X</p>
            <form class="formForgetData">
                <img class="forgetLogo" src="./img/share/LOGO.png" alt="Logo">

                <label for="forgetEmail">
                    <P>Email:</P>
                </label>
                <input class="forgetEmail" input type="email" id="forgetEmail" placeholder="Email" required autofocus>
                <br>
                <button class="forgetBtn" type="submit">
                    <p>Get</p>
                </button>
            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- 控制navbar上下移 -->
<script>
    let a;
    $(function () {
        $(window).scroll(function (e) {
            let scrollValue = $(this).scrollTop()
            if (scrollValue > 200) {
                $("div.nav-navBgWrap").addClass("-on");
                if ($(this).scrollTop() - a < 0) {
                    $("div.nav-navBgWrap").removeClass("-on");
                }
                a = $(this).scrollTop()
            } else {
                $("div.nav-navBgWrap").removeClass("-on");
            }
        });
    });
</script>
<script>
    const hambuger = document.querySelector('.hambuger');

    hambuger.addEventListener('click', () => {
        hambuger.classList.toggle('change');
    })
</script>
<!--     hamburger icon 的切換  -->
<script>
    $(function () {

        $("div.hambuger").on("click", function () {
            $('#list').toggleClass('open');
        });

    });
</script>
<!-- 顯示所在頁面提示 -->
<script>
    $(function () {
        var nav = $(".nav-navWrap .nav-list a");
        // console.log(nav);
        var url = window.location.href;
        // console.log(url);
        // console.log(url.split("/")[url.split("/").length - 1]);
        var page = "./" + url.split("/")[url.split("/").length - 1];
        console.log(page);
        var host = window.location.host;
        // console.log(host);
        for (var i = 0; i < nav.length; i++) {
            var astr = nav.eq(i).attr("href");
            while (page == astr) {
                nav.eq(i).find(".nav-pageName").addClass('nav-now').siblings().removeClass('nav-now');
                console.log(i);
                break;
            }
        }

    })

</script>

<!-- 會員登入/註冊/忘記密碼燈箱 -->
<script>
    var signInBg = document.getElementById("signInBg");
    var showSigin = document.querySelectorAll(".showSigin");
    var closeSigin = document.getElementById("closeSigin");
    var registerBg = document.getElementById("registerBg");
    var showRegister = document.getElementById("showRegister");
    var closeRegister = document.getElementById("closeRegister");
    var forgetBg = document.getElementById("forgetBg");
    var showForget = document.getElementById("showForget");
    var closeForget = document.getElementById("closeForget");
    showSigin.forEach(item => {
        item.addEventListener('click', () => {
            console.log(6);
            signInBg.style.display = "block";
        })
    })

    closeSigin.onclick = function () {
        signInBg.style.display = "none";
    };
    showRegister.onclick = function () {
        registerBg.style.display = "block";
        signInBg.style.display = "none";
    };
    closeRegister.onclick = function () {
        registerBg.style.display = "none";
    };
    showForget.onclick = function () {
        forgetBg.style.display = "block";
        signInBg.style.display = "none";
    };
    closeForget.onclick = function () {
        forgetBg.style.display = "none";
    };
</script>