<div class="nav-body">
    <div id="navHead" class="nav-navBgWrap">
        <div class="nav-navBg">
            <img src="./img/share/nav_lightBox.svg" alt="">
            <nav id="intColor" class="nav-navWrap">
                <!-- <div class="nav-topBlock">
              登入和設定 
          </div> -->
                <div class="nav-logoWrap">
                    <a href="./home.html"><img src="./img/share/LOGO.png"></a>
                </div>
                <div class="nav-navPageWrap hbg">
                    <ul class="nav-list" id="list">
                        <a class="nav-logo" href="./home.html"><img src="./img/share/LOGO.png"></a>
                        <li><a href="./write-letter.html">
                                <p class="nav-pageName">寫信</p> <span class="nav-circle-1 "></span>
                            </a> </li>
                        <li><a href="./catch-letter.html">
                                <p class="nav-pageName">撈信</p> <span class="nav-circle-2"></span>
                            </a> </li>
                        <li><a href="./shop.html">
                                <p class="nav-pageName">商城</p> <span class="nav-circle-3"></span>
                            </a> </li>
                        <li><a href="./cave.html">
                                <p class="nav-pageName">我的倉庫</p> <span class="nav-circle-4"></span>
                            </a> </li>
                        <li><a href="./chatroom.html">
                                <p class="nav-pageName">聊天室</p> <span class="nav-circle-5"></span>
                            </a> </li>
                        <li><a href="./user-setting.html">
                                <p class="nav-pageName">用戶設定</p> <span class="nav-circle-6"></span>
                            </a> </li>
                        <div class="hbg-botWrap">
                            <!--漢堡登入者資訊-->
                            <div class="hbg-littleNav">
                                <a class="showSigin" href="#"><i id="signInStatusIconH"
                                        class="fas fa-user-circle"></i></a>
                                <span id="signInStatusH" class="showSigin">登入</span>
                            </div>
                            <div class="hbg-pc">
                                <div class="cav-member">
                                    <div id="cavMemberH"></div>
                                </div>
                                <div class="cav-paper">
                                    <div id="cavPaperH"></div>
                                </div>
                                <div class="cav-coin">
                                    <div id="cavCoinH"></div>
                                </div>
                                <!-- <div class="cav-member">會員:666</div> -->
                                <!-- <div class="cav-paper">信紙:999</div> -->
                                <!-- <div class="cav-coin">Air幣:777</div> -->
                            </div>
                        </div>
                    </ul>
                    <div class="nav-road">
                        <div></div>
                    </div>
                </div>
            </nav>
            <div class="nav-littleNav">
                <a id="showSigin" class="showSigin" href="#"><i id="signInStatusIconN"
                        class="fas fa-user-circle"></i></a>
                <span id="signInStatusN" class="showSigin">登入</span>
            </div>
            <div class="nav-pc">
                <!--nav登入者資訊-->
                <div class="cav-member">
                    <div id="cavMemberN"></div>
                </div>
                <div class="cav-paper">
                    <div id="cavPaperN"></div>
                </div>
                <div class="cav-coin">
                    <div id="cavCoinN"></div>
                </div>
                <!-- <div class="cav-member">會員:666</div> -->
                <!-- <div class="cav-paper">信紙:999</div> -->
                <!-- <div class="cav-coin">Air幣:777</div> -->
            </div>
        </div>
    </div>

    <div class="nav-hamPosition">
        <div class="nav-hamburgerWrap">
            <div class="hambuger" id="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <!-- 登入 -->
    <div class="signInBg" id="signInBg">
        <div class="signInData">
            <h4>Sign In</h4>
            <p id="closeSigin" class="closeSignin">X</p>
            <form class="formsignInData">
                <img class="signInLogo" src="./img/share/LOGO.png" alt="Logo">

                <label for="signInEmail">
                    <P>Email:</P>
                </label>
                <input class="signInEmail" input type="email" id="signInEmail" placeholder="Email" name="memEmail"
                    required autofocus>

                <label for="signInPassword">
                    <P>Password:</P>
                </label>
                <input class="signInPassword" type="password" id="signInPassword" placeholder="密碼需為8-12長度的英文大小寫或數字"
                    name="memPsw" required>

                <p class="showForget" id="showForget">忘記密碼</p>
                <p class="showRegister" id="showRegister">註冊</p>

                <!-- <br> -->
                <button id="signInBtn" class="signInBtn" type="button" value="登入">
                    <p>Sign in</p>
                </button>

                <button id="signInCancelBtn" class="signInCancelBtn" type="button" value="取消">
                    <p>Cancel</p>
                </button>
            </form>
        </div>
        <!-- <img class="envelopeup" src="./img/user-setting/envelopeup.png" alt="">
  <img class="envelopedown" src="./img/user-setting/envelopedown.png" alt=""> -->
    </div>
    <!-- 註冊 -->
    <div class="registerBg" id="registerBg">
        <div class="registerData">
            <h4>Register</h4>
            <p class="closeRegister" id="closeRegister">X</p>
            <form class="formRegisterData">
                <img class="registerLogo" src="./img/share/LOGO.png" alt="Logo">

                <label for="registerEmail">
                    <P>Email:</P>
                </label>
                <input class="registerEmail" input type="email" id="registerEmail" placeholder="Email" name="memEmail"
                    required autofocus>

                <label for="registerPassword">
                    <P>Password:</P>
                </label>
                <input class="registerPassword" type="password" id="registerPassword" placeholder="密碼需為8-12長度的英文大小寫或數字"
                    name="memPsw" maxlength="12" required>

                <label for="registerPasswordCheck">
                    <P>Password again:</P>
                </label>
                <input class="registerPasswordCheck" type="password" id="registerPasswordCheck"
                    placeholder="密碼需為8-12長度的英文大小寫或數字" name="memPswAgain" maxlength="12" required>

                <br>
                <button id="registerBtn" class="registerBtn" type="button" value="註冊">
                    <p>Register</p>
                </button>
                <button id="registerCancelBtn" class="registerCancelBtn" type="button" value="取消">
                    <p>Cancel</p>
                </button>
            </form>
        </div>
    </div>
    <!-- 忘記密碼 -->
    <div class="forgetBg" id="forgetBg">
        <div class="forgetBgData">
            <h4>Get new password</h4>
            <p class="closeForget" id="closeForget">X</p>
            <form class="formForgetData">
                <img class="forgetLogo" src="./img/share/LOGO.png" alt="Logo">

                <label for="forgetEmail">
                    <P>Email:</P>
                </label>
                <input class="forgetEmail" input type="email" id="forgetEmail" placeholder="Email" required autofocus>

                <br>
                <button id="forgetBtn" class="forgetBtn" type="button" value="忘記密碼">
                    <p>Get</p>
                </button>
                <button id="forgetCancelBtn" class="forgetCancelBtn" type="button" value="忘記密碼">
                    <p>Cancel</p>
                </button>
            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- 控制navbar上下移 -->
<script>
    let a;
    $(function () {
        $(window).scroll(function (e) {
            let scrollValue = $(this).scrollTop()
            if (scrollValue > 200) {
                $("div.nav-navBgWrap").addClass("-on");
                if ($(this).scrollTop() - a < 0) {
                    $("div.nav-navBgWrap").removeClass("-on");
                }
                a = $(this).scrollTop()
            } else {
                $("div.nav-navBgWrap").removeClass("-on");
            }
        });
    });
</script>
<script>
    const hambuger = document.querySelector('.hambuger');

    hambuger.addEventListener('click', () => {
        hambuger.classList.toggle('change');
    })
</script>
<!--     hamburger icon 的切換  -->
<script>
    $("div.hambuger").on("click", function () {
        $('#list').toggleClass('open');
        $("body").toggleClass('open');
    });
</script>
<!-- 顯示所在頁面提示 -->
<script>
    $(function () {
        var nav = $(".nav-navWrap .nav-list a");
        // console.log(nav);
        var url = window.location.href;
        // console.log(url);
        // console.log(url.split("/")[url.split("/").length - 1]);
        var page = "./" + url.split("/")[url.split("/").length - 1];
        console.log(page);
        var host = window.location.host;
        // console.log(host);
        for (var i = 0; i < nav.length; i++) {
            var astr = nav.eq(i).attr("href");
            while (page == astr) {
                nav.eq(i).find(".nav-pageName").addClass('nav-now').siblings().removeClass('nav-now');
                console.log(i);
                break;
            }
        }

    })

</script>

<!-- 登入系統 及 註冊系統 -->
<script>
    function logout() {//////////////////登出
        let xhr = new XMLHttpRequest();
        xhr.onload = function () {
            document.getElementById("cavMemberN").innerText = "";
            document.getElementById("cavMemberH").innerText = "";
            document.getElementById("cavPaperN").innerText = "";
            document.getElementById("cavPaperH").innerText = "";
            document.getElementById("cavCoinN").innerText = "";
            document.getElementById("cavCoinH").innerText = "";
            document.getElementById("signInStatusIconN").style.color = '#aaa';
            document.getElementById("signInStatusIconH").style.color = '#aaa';
            document.getElementById("signInStatusN").innerHTML = "登入";
            document.getElementById("signInStatusH").innerHTML = "登入";
            document.getElementById("intColor").style.backgroundColor = "";
            location.reload();//登出後刷新頁面清除資料
        }
        xhr.open("get", "./phps/nav_logout.php", true);
        xhr.send(null)
    }

    function cancelSignIn() {//////////////////清除登入表單內容
        document.getElementById("signInEmail").value = "";
        document.getElementById("signInPassword").value = "";
        document.getElementById("signInBg").style.display = "none";
    }

    function showMemInfo(jsonStr) {//////////////////顯示登入者資訊
        let member = JSON.parse(jsonStr);
        if (member.memNo) {
            document.getElementById("cavMemberN").innerText = '會員:' + member.memName + '-' + member.memNo;
            document.getElementById("cavMemberH").innerText = '會員:' + member.memName + '-' + member.memNo;
            document.getElementById("cavPaperN").innerText = '信紙:' + member.letCount;
            document.getElementById("cavPaperH").innerText = '信紙:' + member.letCount;
            document.getElementById("cavCoinN").innerText = 'Air幣:' + member.airCoin;
            document.getElementById("cavCoinH").innerText = 'Air幣:' + member.airCoin;
            document.getElementById("signInStatusIconN").style.color = 'green';
            document.getElementById("signInStatusIconH").style.color = 'green';
            document.getElementById("signInStatusN").innerHTML = "登出";
            document.getElementById("signInStatusH").innerHTML = "登出";
            if (member.intColor == 0) {
                document.getElementById("intColor").style.backgroundColor = "rgba(255, 255, 255, .2)";
            } else {
                document.getElementById("intColor").style.backgroundColor = "rgba(0,0,0,.2)";
            }
            cancelSignIn();
            location.reload();//登入資訊抓取方式2:從整頁面
        } else {
            alert("帳密錯誤");
        }
    }

    function sendSignInForm() {//////////////////登入表單發送
        const signInmemEmail = document.getElementById("signInEmail").value;
        const signInmemPsw = document.getElementById("signInPassword").value;
        let xhr = new XMLHttpRequest();
        xhr.onload = function () {
            showMemInfo(xhr.responseText);
        }
        xhr.open("post", "./phps/nav_login.php", true);
        xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
        if (signInmemEmail != '' && signInmemPsw != '') {
            let data_info = `memEmail=${signInmemEmail}&memPsw=${signInmemPsw}`;
            xhr.send(data_info);
        } else {
            alert('欄位不可空白');
        }
    }

    function getSignInInfo() {//////////////////取得登入資訊 依登入狀況呈現登入資訊
        let xhr = new XMLHttpRequest();
        xhr.onload = function () {
            let member = JSON.parse(xhr.responseText);
            //   console.log("第一手session資料_memNo:",member.memNo);
            //   console.log("第一手session資料_memName:",member.memName);
            //   console.log("第一手session資料_memEmail:",member.memEmail);
            //   console.log("第一手session資料_letCount:",member.letCount);
            //   console.log("第一手session資料_airCoin:",member.airCoin);
            //   console.log("第一手session資料_intColor:",member.intColor);
            //   console.log("第一手session資料_matPosUrl:",member.matPosUrl);
            //   console.log("第一手session資料_memPsw:",member.memPsw);
            //   console.log("第一手session資料_matPosNo:",member.matPosNo);
            //   console.log("第一手session資料_matPatNo:",member.matPatNo);
            if (member.memNo) {
                document.getElementById("cavMemberN").innerText = '會員:' + member.memName + '-' + member.memNo;
                document.getElementById("cavMemberH").innerText = '會員:' + member.memName + '-' + member.memNo;
                document.getElementById("cavPaperN").innerText = '信紙:' + member.letCount;
                document.getElementById("cavPaperH").innerText = '信紙:' + member.letCount;
                document.getElementById("cavCoinN").innerText = 'Air幣:' + member.airCoin;
                document.getElementById("cavCoinH").innerText = 'Air幣:' + member.airCoin;
                document.getElementById("signInStatusIconN").style.color = 'green';
                document.getElementById("signInStatusIconH").style.color = 'green';
                document.getElementById("signInStatusN").innerHTML = "登出";
                document.getElementById("signInStatusH").innerHTML = "登出";
                if (member.intColor == 0) {
                    document.getElementById("intColor").style.backgroundColor = "rgba(255, 255, 255, .2)";
                } else {
                    document.getElementById("intColor").style.backgroundColor = "rgba(0,0,0,.2)";
                }
                // console.log('登入狀態:已登入');
            } else {
                // console.log('登入狀態:尚未登入');
            }
        }
        xhr.open("get", "./phps/nav_getSignInInfo.php", true);
        xhr.send(null);
    }


    function memName() {//////////////////memName產生器
        var arr = ['丹迪', '雲彩', '粉彩', '西卡', '牛皮', '瓦楞'];
        var index = Math.floor((Math.random() * arr.length));
        return arr[index];
    }

    function cancelRegisterForm() {//////////////////清除註冊表單內容
        document.getElementById("registerEmail").value = "";
        document.getElementById("registerPassword").value = "";
        document.getElementById("registerPasswordCheck").value = "";
        document.getElementById("registerBg").style.display = "none";
        document.getElementById("signInBg").style.display = "block";
    }

    function sendRegisterForm() {//////////////////註冊表單發送
        const registermemEmail = document.getElementById("registerEmail").value;
        const registermemPsw = document.getElementById("registerPassword").value;
        const registermemPswCheck = document.getElementById("registerPasswordCheck").value;
        const registermemName = memName();
        let xhr = new XMLHttpRequest();
        xhr.onload = function () {
            memberR = JSON.parse(xhr.responseText);
            if (memberR.memEmail) {
                cancelRegisterForm();
                document.getElementById("signInBg").style.display = "none";
                let xhr = new XMLHttpRequest();
                let memEmail = memberR.memEmail;
                let memPsw = memberR.memPsw;
                let data_info = `memEmail=${memEmail}&memPsw=${memPsw}`;
                xhr.onload = function () {
                    showMemInfo(xhr.responseText);
                }
                xhr.open("post", "./phps/nav_login.php", true);
                xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
                xhr.send(data_info);
                alert(memberR.memEmail + ' ' + '您好！ 您已註冊成功');
            }
            else {
                alert('此Email已註冊過');
            }
        }
        xhr.open("post", "./phps/nav_register.php", true);
        xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
        if (registermemEmail != '' && registermemPsw != '' && registermemPswCheck != '') {
            if (registermemPsw.length >= 8) {
                if (!registermemPsw.match(/[^a-zA-Z0-9]+/)) {
                    if (registermemPsw == registermemPswCheck) {
                        let data_info = `memName=${registermemName}&memEmail=${registermemEmail}&memPsw=${registermemPsw}`;
                        xhr.send(data_info);
                    } else {
                        alert('密碼確認與第一次輸入不同');
                    }
                } else {
                    alert('密碼須為英文大小寫或數字');
                }
            } else {
                alert('密碼長度需為8-12');
            }
        } else {
            alert('欄位不可空白');
        }
    }

    function newPsw(length) {//////////////////密碼產生器
        let newPsw = '';
        let alphabet = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
        let alphabetLength = alphabet.length;
        for (let i = 0; i < length; i++) {
            newPsw += alphabet.charAt(Math.floor(Math.random() * alphabetLength));
        }
        return newPsw;
    }

    function cancelForgetForm() {//////////////////清除忘記密碼表單內容
        document.getElementById("forgetEmail").value = "";
        document.getElementById("forgetBg").style.display = "none";
        document.getElementById("signInBg").style.display = "block";
    }

    function sendForgetForm() {//////////////////忘記密碼表單發送
        const forgetmemEmail = document.getElementById("forgetEmail").value;
        const memNewPsw = newPsw(8);//呼叫新密碼產生器
        let xhr = new XMLHttpRequest();
        xhr.onload = function () {
            if (xhr.responseText == 'Success!') {
                document.getElementById("forgetEmail").value = "";
                document.getElementById("forgetBg").style.display = "none";
                alert('新密碼已寄送至您的信箱中');
            }
            else {
                alert('查無此Email');
            }
        }
        xhr.open("post", "phps/airPlanMailer/nav_forget.php", true);
        xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
        if (forgetmemEmail != '') {
            let data_infoF = `memEmail=${forgetmemEmail}&newPsw=${memNewPsw}`;
            xhr.send(data_infoF);
        }
        else {
            alert('欄位不可空白');
        }
    }

    window.addEventListener("load", function () {//////////////////表單按鈕事件聆聽
        getSignInInfo();//檢查登入狀態
        document.getElementById("signInBtn").onclick = sendSignInForm;//點擊登入按鈕呼叫發送表單function
        document.getElementById("signInCancelBtn").onclick = cancelSignIn;//點擊取消按鈕呼叫清除表單function
        document.getElementById("registerBtn").onclick = sendRegisterForm;//點擊註冊按鈕呼叫發送表單function
        document.getElementById("registerCancelBtn").onclick = cancelRegisterForm;//點擊註冊取消按鈕呼叫清除表單function
        document.getElementById("forgetBtn").onclick = sendForgetForm;//點擊忘記密碼按鈕呼叫發送表單function
        document.getElementById("forgetCancelBtn").onclick = cancelForgetForm;//點擊忘記密碼取消按鈕呼叫清除表單function
    });
</script>

<!-- 會員登入/註冊/忘記密碼燈箱 -->
<script>
    const signInBg = document.getElementById("signInBg");//登入燈箱
    const showSigin = document.querySelectorAll(".showSigin");
    const closeSigin = document.getElementById("closeSigin");
    const signInStatusL = document.getElementById("signInStatusN");//登入資訊
    showSigin.forEach(item => {//開啟登入燈箱
        item.addEventListener('click', () => {
            if (signInStatusL.innerHTML == "登入") {
                signInBg.style.display = "block";
            }
            else {//登出
                logout();
            }
        })
    })
    closeSigin.onclick = function () {//////////////////x關閉登入燈箱
        cancelSignIn();
    };
    const registerBg = document.getElementById("registerBg");//註冊燈箱
    const showRegister = document.getElementById("showRegister");
    const closeRegister = document.getElementById("closeRegister");
    showRegister.onclick = function () {//////////////////開啟註冊燈箱
        registerBg.style.display = "block";
        signInBg.style.display = "none";
    };
    closeRegister.onclick = function () {//////////////////關閉註冊燈箱
        cancelRegisterForm();
        signInBg.style.display = "none";
    };

    const forgetBg = document.getElementById("forgetBg");//忘記密碼燈箱
    const showForget = document.getElementById("showForget");
    const closeForget = document.getElementById("closeForget");
    showForget.onclick = function () {//////////////////開啟忘記密碼燈箱
        forgetBg.style.display = "block";
        signInBg.style.display = "none";
    };
    closeForget.onclick = function () {//////////////////關閉忘記密碼燈箱
        cancelForgetForm();
        signInBg.style.display = "none";
    };
</script>