<div
  id="threeWorld"
  style="position: relative; overflow: hidden;"
>
  <div class="chooseBtn" id="chooseBtn">
      <div class="choosw">撈個新聞看看</div>
      <div class="choosw">撈個信件看看</div>
  </div>
  <span id="mouseNet">
    <img id="netImg" src="./img/catch-letter/net.png">
    <span id="missMsg"></span>
  </span>
  <div id="planeContainer"></div>
  <span id="statsBox"></span>
  <div id="planeLetter">
    <span id="nextStepArrow"></span>
    
    <!-- <div id="openMotion" class="open-motion"></div> -->
    <div id="imgWrap_catch">
      <div id="imgfinalStep_catch" style="-webkit-clip-path: polygon(50% 0%, 100% 85%, 100% 100%, 100% 100%, 50% 100%);
      clip-path: polygon(50% 0%, 100% 85%, 100% 100%, 100% 100%, 50% 100%);"></div>
      <div id="planeBody_catch"></div>
      <div id="planeWing_catch" style="-webkit-clip-path: polygon(9% 0%, 0% 80%, 50% 100%, 80% 100%);clip-path: polygon(9% 0%, 0% 80%, 50% 100%, 80% 100%);"></div>
      
      <div id="imgLeftTriangle2_catch" style="display: none;"></div>
      <div id="imgRightTriangle2_catch" style="display: none;-webkit-clip-path: polygon(0% 0%, 0% 55%, 100% 100%);
      clip-path: polygon(0% 0%, 0% 55%, 100% 100%);"></div>

      <div id="catchLetterShow" class="catch-letter" style="display: none;">
        <div class="letter-wrap">
          <div class="letter-head">
            <div class="stamp-box" :style="{backgroundImage:letterUploadImg}"></div>
          </div>
          <div class="letter-contant scroll-container">
            <div class="text">
              <p style="font-weight: 800;">
                {{letteTittle}}
              </p>
              <!-- 蓋章區 -->
              <div id="stampshot">
                <!-- <div class=""></div> -->
              </div>
              <p>
                {{letterContant_1}}
              </p>
              <p>
                {{letterContant_2}}
              </p>
              <p>
                {{publishedAt}}
              </p>
              <p>
                {{author}}
              </p>
            </div>
          </div>
  
        </div>
      </div>

      <div id="imgLeftTriangle_catch" style="display: none; -webkit-clip-path: polygon(0 100%, 100% 300%, 100% 0);clip-path: polygon(0 100%, 100% 300%, 100% 0);box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.25) 0px 3px 6px;"></div>
      <div id="imgRightTriangle_catch" style="display: none; clip-path: polygon(-300% 300%, 0px 0px, 100% 100%);-webkit-clip-path: polygon(-300% 300%, 0px 0px, 100% 100%);box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.25) 0px 3px 6px;"></div>
      
    </div>
    
  </div>
</div>

<script src="./js/butterflyRock.js"></script>
