<div
  id="threeWorld"
  style="position: relative; overflow: hidden;"
>
  <div class="chooseBtn" id="chooseBtn">
      <div class="choosw">撈個新聞看看</div>
      <div class="choosw">撈個信件看看</div>
  </div>
  <span id="mouseNet">
    <img id="netImg" src="./img/catch-letter/net.png">
    <span id="missMsg"></span>
  </span>
  <div id="planeContainer"></div>
  <span id="statsBox"></span>
  <div id="planeLetter">
    <span id="nextStepArrow"></span>
    <div id="openMotion" class="open-motion"></div>
    <div id="catchLetterShow" class="catch-letter" style="display: none;">
      <div class="letter-wrap">
        <div class="letter-head">
          <div class="stamp-box"></div>
          <div class="letter-tittle">
            <h3>{{letteTittle}}</h3>
          </div>
        </div>
        <div class="letter-contant scroll-container">
          <div class="text">
            <p>
              {{letterContant_1}}
            </p>
            <div class="letter-upload-img"></div>
            <!-- 蓋章區 -->
            <div id="stampshot">
              <!-- <div class=""></div> -->
            </div>
            <p>
              {{letterContant_2}}
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script src="./js/butterflyRock.js"></script>
