@mixin cloud() {
    width: 350px;
    height: 110px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(11%, #F7FAFD), to(#ffffff));
    // background: radial-gradient(#000000 10%, #ffffff 10%);
    // background-size: 10px 10px;
    box-shadow: 0 37px 64px -40px rgba($color: #000000, $alpha: 0.6);
    border-radius: 100px;
    position: absolute;
    margin: 140px auto 20px;

    &:after,
    &:before {
        content: '';
        position: absolute;
        background: #fdfeff;
        z-index: -11;
        box-shadow: 0px -5px 136px -40px rgba($color: #000000, $alpha: 0.2);
    }

    &:after {
        width: 100px;
        height: 100px;
        top: -50px;
        left: 50px;
        border-radius: 100px;
    }

    &:before {
        width: 180px;
        height: 180px;
        top: -90px;
        right: 50px;
        border-radius: 200px;
    }
}
.clouds {
    position: relative;
    top: -210px;
    left: -210px;
    bottom: 0px;
    @for $y from 1 to 20 {
        & .cloud_#{$y} {
            @include cloud();
            top: 8vw;
            left: random(120)+$y*0.21vmax;
            // left: random(120)+$y*0.01vw;
            // left: random()+$y*10vw;
            transition: all 0.2s ease-in-out;
            @if $y%2==0 {
                animation: cloud_move_right 10.0s 1s infinite;
            }
            @else {
                animation: cloud_move_left 10.0s 1s infinite;
            }
        }
    }
}