/*
 *  垂直捲軸
 */
//使用說明：在標籤中加入 class="scroll-container"
//author: Rhan0

// Colors
$scrollbar-background: $main-blue !default;
$scrollbar-background-transparency: 0.20 !default;
$scrollbar-shadow: $main-yellow !default;

// Sizes
$scrollbar-width: .7vw !default;
$scrollbar-border-radius: 0 !default;

// Settings
$scrollbar-animation-timing: 300ms !default;
$scrollbar-animation-transition: ease-in-out !default;
$scrollbar-vertical: true !default;
$scrollbar-horizontal: false !default;
$scrollbar-ie-fallback: false !default;


@mixin scroller() {
  .scroll-container {
    overflow-y: auto;
  }

  ::-webkit-scrollbar {
    width: $scrollbar-width;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba($scrollbar-background, 1);

    // border: .2vw solid $main-black;

    &:window-inactive {
      background-color: rgba(#8ebfbf, 1);
    }

    &:hover {
      background-color: rgba($scrollbar-background, 1);
    }
  }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    // border: .2vw solid $main-black;
    border-radius: 10px;
    margin-left: 10px;
    // background-clip: padding-box;
    -webkit-box-shadow: $scrollbar-shadow;
    -webkit-transition: all #{$scrollbar-animation-timing} #{$scrollbar-animation-transition};
  }

  ::-webkit-scrollbar-track {
    background-color: $scrollbar-shadow;
  }
}