/*
 *  裝飾用 文件夾 
 */
//使用說明："share-clip"
//author: Rhan0
@mixin share_clip(){
  .share-clip{
    display: inline-block;
    width: 10%;
    height: 80%;
    min-height: 100px;
    z-index: 999;
    background-image: url('../../img/share/share-clip.svg');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
  }
}