@mixin matbaseBox($sum) {
    @for $i from 1 through $sum {

        //從1跑到8
        .matbaseBox#{$i} {
            width: 8%;
            height: 150px;
            border: 2.5px solid black;
            transform: skew(350deg);
            background-color: #fff;
        }
    }
}
@mixin matbaseBox_lg($sum) {
    @for $i from 1 through $sum {

        //從1跑到8
        .matbaseBox#{$i} {
            width: 10%;
            height: 100px;
            border: 2.5px solid black;
            transform: skew(350deg);
            background-color: #fff;
        }
    }
}
@mixin matbaseBox_md($sum) {
    @for $i from 1 through $sum {

        //從1跑到8
        .matbaseBox#{$i} {
            width: 15%;
            height: 100px;
            border: 2.5px solid black;
            transform: skew(350deg);
            background-color: #fff;
        }
    }
}