@mixin itemPage($sum) {
    @for $i from 1 through $sum {

        //從1跑到2
        .itemPage#{$i} {
            position: absolute;
            width: 100%;
            height: 900px;
            top: $i*30px;
            left: $i*-30px;
            border: 5px solid black;
            background-color: #fff;
        }
    }
}



