//phone
$phone:375px;

//note
$note-max:576px;
$note-min:376px;

//small
$ipad-max:767px;
$ipad-min:577px;

//介於small & mediumSize中間
$ipad-laptop-max:991px;
$ipad-laptop-min:577px;


//I need this width
$Newlaptop-max:920px;

//mediumSize
$laptop-max:991px;
$laptop-min:768px;

//desktop
$desktop-max:1199px;
$desktop-min:992px;

//大於1200 小於1500
$desktopXl-max:1500px;
$desktopXl-min:1200px;

// 1501-1700
$desktop_17-max:1700px;
$desktop_15-min:1501px;

//font-family:思源體
$font:'Noto Sans TC',sans-serif;


$border:0.2vw solid black;

